/*
    FONTS
*/
@font-face {
    font-family: ConcourseBlack;
    src:
        local("Concourse T8"), 
        url("https://s3.amazonaws.com/fonts.koser.us/concourse/concourse_t8_regular.woff2") format("woff2"), 
        url("https://s3.amazonaws.com/fonts.koser.us/concourse/concourse_t8_regular.woff") format("woff"); 
}

@font-face {
    font-family: ConcourseLight;
    src:
        local("Concourse T2"), 
        url("https://s3.amazonaws.com/fonts.koser.us/concourse/concourse_t2_regular.woff2") format("woff2"), 
        url("https://s3.amazonaws.com/fonts.koser.us/concourse/concourse_t2_regular.woff") format("woff"); 
}

@font-face {
    font-family: ConcourseLight;
    src:
        local("Concourse T2 Italic"), 
        url("https://s3.amazonaws.com/fonts.koser.us/concourse/concourse_t2_italic.woff2") format("woff2"), 
        url("https://s3.amazonaws.com/fonts.koser.us/concourse/concourse_t2_italic.woff") format("woff");
    font-style: italic; 
}

@font-face {
    font-family: Concourse;
    src:
        local("Concourse T4"),
        url("https://s3.amazonaws.com/fonts.koser.us/concourse/concourse_t4_regular.woff2") format("woff2"), 
        url("https://s3.amazonaws.com/fonts.koser.us/concourse/concourse_t4_regular.woff") format("woff"); 
}

@font-face {
    font-family: Concourse;
    src:
        local("Concourse T4 Bold"),
        url("https://s3.amazonaws.com/fonts.koser.us/concourse/concourse_t4_bold.woff2") format("woff2"), 
        url("https://s3.amazonaws.com/fonts.koser.us/concourse/concourse_t4_bold.woff") format("woff");
    font-weight: 700; 
}

@font-face {
    font-family: Concourse;
    src:
        local("Concourse T4 Italic"),
        url("https://s3.amazonaws.com/fonts.koser.us/concourse/concourse_t4_italic.woff2") format("woff2"), 
        url("https://s3.amazonaws.com/fonts.koser.us/concourse/concourse_t4_italic.woff") format("woff");
    font-style: italic; 
}

@font-face {
    font-family: Concourse;
    src:
        local("Concourse T4 Bold Italic"), 
        url("https://s3.amazonaws.com/fonts.koser.us/concourse/concourse_t4_bold_italic.woff2") format("woff2"), 
        url("https://s3.amazonaws.com/fonts.koser.us/concourse/concourse_t4_bold_italic.woff") format("woff");
    font-weight: 700;
    font-style: italic; 
}

@font-face {
    font-family: OpenSansNumero;
    src:
        local("Open Sans"),
        url("https://s3.amazonaws.com/fonts.koser.us/OpenSansRegularNumero.woff2") format("woff2"), 
        url("https://s3.amazonaws.com/fonts.koser.us/OpenSansRegularNumero.woff") format("woff"); 
}

@font-face {
    font-family: OpenSansNumero;
    src: 
        local("Open Sans Bold"),
        url("https://s3.amazonaws.com/fonts.koser.us/OpenSansBoldNumero.woff2") format("woff2"), 
        url("https://s3.amazonaws.com/fonts.koser.us/OpenSansBoldNumero.woff") format("woff");
    font-weight: 700; 
}

@font-face {
    font-family: OpenSansNumero;
    src: 
        local("Open Sans Italic"),
        url("https://s3.amazonaws.com/fonts.koser.us/OpenSansItalicNumero.woff2") format("woff2"), 
        url("https://s3.amazonaws.com/fonts.koser.us/OpenSansItalicNumero.woff") format("woff");
    font-style: italic; 
}

@font-face {
    font-family: OpenSansNumero;
    src: 
        local("Open Sans Bold Italic"),
        url("https://s3.amazonaws.com/fonts.koser.us/OpenSansBoldItalicNumero.woff2") format("woff2"), 
        url("https://s3.amazonaws.com/fonts.koser.us/OpenSansBoldItalicNumero.woff") format("woff");
    font-weight: 700;
    font-style: italic; 
}

@font-face {
    font-family: OpenSansLightNumero;
    src: 
        local("Open Sans Light"),
        url("https://s3.amazonaws.com/fonts.koser.us/OpenSansLightNumero.woff2") format("woff2"), 
        url("https://s3.amazonaws.com/fonts.koser.us/OpenSansLightNumero.woff") format("woff"); 
}

@font-face {
    font-family: OpenSansLightNumero;
    src: 
        local("Open Sans Light Italic"),
        url("https://s3.amazonaws.com/fonts.koser.us/OpenSansLightItalicNumero.woff2") format("woff2"), 
        url("https://s3.amazonaws.com/fonts.koser.us/OpenSansLightItalicNumero.woff") format("woff");
    font-style: italic; 
}






/*
    VARIABLES
*/
:root {
    /* 
        Acceptable WCAG contrast ratio combos:
            - black and primary
            - black and secondary
            - black and white
    */
    --color-primary: hsl(14, 97%, 52%);
    --color-secondary: hsl(198, 76%, 52%);
    --color-black: hsl(245, 67%, 24%);
    --color-white: hsl(53, 95%, 74%);
}






/*
    SECTIONING
    html, body, header, footer, nav, main, article, aside, section, p, pre,
    blockquote, figure, figcaption, address, summary, details, div
*/
html, .root {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit; 
}

body, .body {
    font-family: Concourse, OpenSansNumero, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 20px;
    line-height: 1.3;
    color: var(--color-black);
    margin-bottom: 0;
    font-variant-ligatures: common-ligatures;
    width: 100%;

    display: grid;
    grid-template-columns: .5rem 1fr .5rem;
    grid-template-areas: 
        "header         header  header" 
        "gutter-left    main    gutter-right" 
        "footer         footer  footer";
    row-gap: 2.6rem;
}

p,
ul,
ol {
  margin-top: 0; 
}

p {
    max-width: 25em;
}

figure {
    margin: 1.3rem 0 0 0;
}






/*
    HEADINGS
    hgroup, h1, h2, h3, h4, h5, h6
*/
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin: 0; 
}

h1, .h1,
h2, .h2 {
  font-family: ConcourseLight, OpenSansLightNumero, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; 
}

h1, .h1 {
  font-size: 1.95313rem;
  line-height: 1.95rem;
  margin-top: 2.6rem;
  margin-bottom: 0;
  /* margin-bottom: 1.3rem; */
  letter-spacing: -0.03em; 
}

h2, .h2 {
  font-size: 1.5625rem;
  line-height: 1.95rem;
  margin-top: 2.6rem;
  margin-bottom: 0;
  /* margin-bottom: 1.3rem;  */
}

h3, .h3,
h4, .h4 {
  font-size: 1.25rem;
  line-height: 1.3rem;
  margin-bottom: 0;
  font-weight: normal; 
}

h5, .h5,
h6, .h6 {
  font-size: 1rem;
  line-height: 1.3rem;
  margin-bottom: 0;
  font-weight: normal; 
}






/*
    FORMS
    form, fieldset, legend, label, input, button, select, 
    optgroup, option, datalist, textarea, output
*/
button {
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    color: var(--color-white);
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    margin: 0;
    padding: 0.5em 1.3em;
    text-decoration: none;
    text-align: center;
}

button:hover,
button:focus {
  background-color: var(--color-white);
  color: var(--color-black);
}






/*
    LISTS
    ul, ol, li, dl, dt, dd, menu, menuitem
*/
ul,
ol {
  list-style-position: outside;
  padding-left: 1em; 
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0 0 0 1.3rem; 
}

ul.horizontal li {
  display: inline-block;
  margin: 0; 
}






/*
    MEDIA
    canvas, object, embed, img, audio, video, track, map, area, iframe
*/
img {
    height: auto;
    max-width: 96vw;
    width: auto; 
}

audio {
    background-color: var(--color-primary);
    border-radius: 10px;
    width: 100%;
}






/*
    PHRASING
    a, strong, em, b, i, u, s, sup, sub, small, abbr, dfn, mark, del, ins, q, cite, data, 
    progress, time, meter, code, var, samp, kbd, keygen, bdi, bdo, ruby, rt, rp, span
*/
a,
strong,
em,
b,
i,
small,
code {
  line-height: 0; 
}

/* todo: https://codepen.io/ghepting/pen/tLnHK/ */
a {
  color: var(--color-black);
  white-space: nowrap;
}

kbd kbd {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px var(--color-white) inset;
    color: #333;
    display: inline-block;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 1.4;
    margin: 0 0.1em;
    padding: 0.1em 0.6em;
    text-shadow: 0 1px 0 var(--color-white);
    white-space: nowrap; 
}






/*
    OTHER
    hr, ::selection
*/
::-moz-selection {
    background: var(--color-primary);
    color: var(--color-white);
    text-shadow: none; 
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-white);
    text-shadow: none; 
}






/*
    HELPER CLASSES
*/
.hidden {
  display: none !important
}

.invisible {
  visibility: hidden
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px
}

.visuallyhidden.focusable:active, 
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto
}






/*
    ICONS
*/
.icon-demo-container {
    width: 800px; 
    margin: auto;
    font-size: 24px;
}

.icon-demo-container ul {
    list-style: none;
}

.icon-demo-container li {
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
}

.icon-demo {
    padding: 1.3em;
    margin-top: 2.6em;
}

.icon-demo img {
    height: 32px;
    width: 32px;
}

.icon-demo-md,
.icon-demo-orion-solid,
.icon-demo-orion-line,
.icon-demo-icons8-windows,
.icon-demo-icons8-cute-outline {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.icon-demo-orion-line {
    stroke: var(--color-white);
    stroke-width: 3;
}

.icon-container {
    width: 1.5em;
}

.icon {
	height: 1em;
    width: 1em;
    position: relative;
    top: 0.125em;
    flex-shrink: 0;
    --layer1: var(--color-white);
    --layer2: var(--color-white);
}

.site-main .icon {
    --layer1: var(--color-black);
    --layer2: var(--color-black);
}

.icon-mail {
    top: 0.2em;       
}

.icon-rss {
    top: 0.1em;       
}

.icon-headphones-user,
.icon-property {
    top: 0.05em;
}






/*
    SITE LAYOUT
*/
.site-header,
.site-header a,
.site-footer,
.site-footer a {
    color: var(--color-white);
    text-decoration: none;
}

.site-header a:hover {
    background-color: var(--color-secondary);
}

.site-header {
    grid-area: header;
    background-color: var(--color-primary);
    padding: 1em 0;
}

.site-header.active {
    padding: 1em 0 0 0;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3em;
}

.site-header .masthead {
    font-family: Concourse, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 2em;
    margin-top: 0;
    display: none;
}

.site-main {
    grid-area: main;
}

.site-footer {
    grid-area: footer;
    background-color: var(--color-secondary);
    padding: 2em 1em;
}

.site-footer a:hover {
    background-color: var(--color-primary);
}

.site-footer ol {
    list-style: none;
}






/*
    SITE NAV
*/
.site-nav {
    -webkit-transition: all 0.3s ease-in-out;  
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.js .site-nav {
    overflow: hidden;
    max-height: 0;
}

.site-nav.active {
    max-height: 26em;
}

.site-nav ol {
    margin: 0;
    padding: 0;
}


.site-nav li > a,
.site-nav .site-nav-footer a {
    display: block;
    padding: 1.3em;
}

.site-nav .site-nav-episodes {
    background-color: var(--color-black);
    padding: 1.3em;
}

.site-nav .site-nav-footer {
    display: flex;
    justify-content: space-evenly;
}
  





/*
    HOME
*/
.home-episodes {
    margin-top: 2.6rem;
}






/*
    EPISODE BLOCK, EPISODE CARD
*/
.episode-block {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-areas: 
        "empty    heading" 
        "control  episode";
    column-gap: 5px;
}
  
.episode-block .heading {
    grid-area: heading;
    font-size: 14px;
    text-transform: uppercase;
}

.episode-block .media-buttons {
    cursor: pointer;
    grid-area: control;
}

.episode-block .episode {
    display: flex;
    align-items: center;
}

.episode-block .episode {
    grid-area: episode;
    margin-left: -2.5px;
}

.episode-block .number,
.episode-card .number ,
.episode-card .title {
    font-size: 2rem;
    line-height: 0.8em;
    margin-right: 0.2em;
}

.episode-card header,
.episode-card .summary {
    margin-top: 0.65rem;
}

.episode-card a {
    text-decoration: none;
}

.episode-card a:hover {
    background-color: var(--color-primary);
}

.episode-card .title {
    white-space: pre-wrap;
}






/*
    EPISODE POST
*/
.post nav {
    font-size: 0.75em;
}

.post nav a {
    text-decoration: none;
}

.post .spoilers,
.post .feedback {
    margin-top: 5.2rem;
}

.post .previous {
    float: left;
}

.post .next {
    float: right;
}

.post .spoilers,
.post .spoilers a {
    color: var(--color-white);
}

.post .spoilers {
    background-color: var(--color-black);
    padding: 0 0 1em 1em;
}

.post .spoilers a {
    white-space: normal;
}

.post .spoilers h2 {
    margin-left: -0.4em;
}

.post .spoilers summary {
    background-color: var(--color-secondary);
    list-style-image: url(/icons/orion/icon-plus-circle-white.svg);
    padding: 1em;
    margin-left: -1em;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;  
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.post details[open].spoilers summary {
    background-color: var(--color-primary);
    list-style-image: url(/icons/orion/icon-minus-circle-white.svg);
}

.post .spoilers summary::-webkit-details-marker {
    background: url(/icons/orion/icon-plus-circle-white.svg);
    color: transparent;
}

 .post details[open].spoilers summary::-webkit-details-marker {
    background: url(/icons/orion/icon-minus-circle-white.svg);
}

.post audio,
.post .description {
    margin-top: 2.6rem;
}

.post .spoilers summary + ol {
    margin-top: 2.6rem;
}

.post .video-embed-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* - 16:9 aspect ratio (most common) */
    /* padding-bottom: 62.5%; - 16:10 aspect ratio */
    /* padding-bottom: 75%; - 4:3 aspect ratio */
}
  
.post .video-embed {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; 
    top: 0;
}

.post .youtubelist {
    padding-left: 0;
}

.post ol.youtubelist {
    list-style-position: inside;
}

.post ol.youtubelist h3 {
    display: inline;
}

.post ul.youtubelist {
    list-style-type: none;
}

.post .youtubelist li {
    margin-top: 2.6rem;
}

.post .notes p,
.post .notes .video-embed-container {
    margin-bottom: 3.9rem;
}


.post footer {
    margin-top: 3.9rem;
}





/*
    EPISODE LIST
*/
.episode-list h2 {
    margin-top: 2.6rem;
}

.episode-list a {
    text-decoration: none;
}

.episode-list a:hover {
    background-color: var(--color-primary);
}

.episode-list p {
    font-size: 0.8em;
    line-height: 1.3;
}






/*
    ABOUT
*/
.about h2 {
    margin-top: 2.6rem;
}






/*
    SUBSCRIBE
*/
.subscribe-urls {
    list-style: none;
}

.accordion li {
    margin-top: 3em;
}

.tab {
    cursor: pointer;
    position: relative;
    margin-top: 0;
    padding: 1em;
}

.panel + .tab {
    margin-top: 2.6rem;
}

.tab:after {
    content: url(/icons/orion/icon-plus-circle-black.svg);
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    font-size: 1.5em;
    padding: 0.8em;
}

.tab.active {
    background: rgba(0,0,0,0.3);
}

.tab.active:after {
    content: url(/icons/orion/icon-minus-circle-black.svg); 
}

.panel { 
    overflow: hidden;
}

.js .panel {
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
}

.js .panel.active {
    max-height: 260em;
}

.panel p {
    padding: 1em;
}

.panel p:last-child {
    margin: 0; 
}






/*
    DESKTOP STYLES
*/
@media screen and (min-width: 900px) {
    /*
        SITE GRID
    */
    body, .body {
        height: 100vh;
        font-size: 24px;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
            "header main" 
            "header footer";
        row-gap: 2.6rem;
    }

    .site-header {
        font-size: 24px;
        padding: 0;
    }

    .site-header .masthead {
        font-size: 3em;
        display: block;
    }

    .site-main {
        padding: 1.3em;
    }



    h1, .h1 {
        font-size: 2.441rem;
        letter-spacing: -0.03em; 
    }

    h2, .h2 {
        font-size: 1.95313rem;
        letter-spacing: -0.03em;
    }
    


    /*
        NAVIGATION
    */
    a.menu-link {
        display: none;
    }

    .js .site-nav {
        max-height: none;
    }

    .site-nav .episode-info,
    .site-nav .site-nav-footer {
        margin-top: 1.3em;
    }



    /*
        ICONS
    */
    .icon {
        font-size: 1.2em;
        top: 0.2em;
    }

    .icon-property {
        top: 0.1em;
    }

    .icon-mail {
        top: 0.2em;       
    }
    
    .icon-rss {
        top: 0.1em;       
    }



    /*
        HOME PAGE
    */
    .headline {
        font-size: 1.5em;
        margin-top: 3.9rem;
    }



    /*
        EPISODE CARDS, EPISODE BLOCKS
    */
    .episode-block {
        column-gap: 10px;
        row-gap: 10px;
    }

    .episode-card .number ,
    .episode-card .title {
        display: inline;
    }

    .episode-card .summary {
        margin-top: 0;
    }



    /*
        EPISODE POST
    */
    .post {
        margin-top: 5.2rem;
    }

    .post .youtubelist li {
        margin-top: 5.2rem;
    }

    .post .feedback h2 {
        margin-top: 7.8rem;
    }
}