---
layout: site
brian:
    host: Brian
    list:
        - Compelled to make lists and press them upon strangers.
        - Chronic overthinker.
        - Other hobbies include reading, running, and dabbling.
        - Once assembled some monkey bars in our backyard; ended up with a bunch of drunk monkeys.
        - <a href="https://koser.us">Personal website</a>
        - Of all the holidays he's invented, the most successful is McNoodlehoffer Day.
        - Tracked <a href="/episodes/040-1000-books">every book that I've read</a> since I was 8.
        - If ever on the run in Mexico, will use the alias "Jorge Curioso".
        - "Favorite emoji: ⚗️"
        - "Favorite episode: <a href='/episodes/176-in-the-beginning-dog-a-comedic-reading-of-pd-eastmans-go-dog-go'>№ 176 In the Beginning, Dog: A Comedic Reading of P. D. Eastman's 'Go, Dog. Go!'</a>"
        
melissa:
    host: Melissa
    list:
        - Mother and homemaker.
        - Hobbies include reading, board games, cooking,  and the occasional short-lived craft.
        - I play the piano, accordion, percussion; want to learn harp.
        - I aspire to be a writer and a masseuse, but mostly a writer.
        - <a href="https://koser.us">I wrote some things here</a>
        - It's been one of those lives.
        - My hair changes between blonde, brown, and red with sun and age.
        - I would exercise, but it's just too darn tiring.
        - I wish coffee-scented soap tasted more like coffee.
        - Until 2011, I had no favorite color. Brian made me pick one.
        - "Favorite episode: <a href='/episodes/057-jokes'>№ 57 Jokes</a>"
        - "Favorite song: <i>Chicken to Ride</i> by The Beatles"
---
<h1>About</h1>

<p>The podcast where we make top ten lists about everything!</p>

<div class="about">
    {% list melissa %}
    {% list brian %}
</div>