---
layout: base
---

Bios: blurb, favorite episode, link to koser.us posts

Mobile: full screen picture of each host saturated to hosts color, bio overlaid
Desktop: same, but left side is Melissa, right half is Brian