---
layout: site
title: About
brian:
    host: Brian
    list:
        - Compelled to make lists and press them upon strangers.
        - Chronic overthinker.
        - Happy to stay an amateur podcaster, doing it for fun instead of forced to churn out content.
        - Other main hobbies are reading old books, running.
        - Homeschooling is not a hobby but I do a lot of that, too.
        - Built this website, our <a href="https://koser.us">other website</a>, and a few others.
        - Before TTO, discussed starting a board game podcast with a friend in our game group. He went on to work in the board game industry.
        - If ask a stranger if you can call them on the telephone, it's weird. But if you can record the conversation and share it publically on the internet, it's perfectly acceptable.
        - They stopped making good popular music when I was born, at the end of the 1980s.
        - I wouldn't have said Disney's Robin Hood was my favorite as a kid, but I did grow up to love legends, anthropomorphic animals, the middle ages, archery, animation, and folk music.
        
melissa:
    host: Melissa
    list:
        - Mother and homemaker.
        - Hobbies include reading, board games, cooking,  and the occasional short-lived craft.
        - I play the piano, accordion, percussion; want to learn harp.
        - I aspire to be a writer and a masseuse, but mostly a writer.
        - <a href="https://koser.us">I wrote some things here</a>
        - It's been one of those lives.
        - My hair changes between blonde, brown, and red with sun and age.
        - I would exercise, but it's just too darn tiring.
        - I wish coffee-scented soap tasted more like coffee.
        - Until 2011, I had no favorite color. Brian made me pick one.
        - "Favorite episode: <a href='/episodes/057-jokes'>№ 57 Jokes</a>"
        - "Favorite song: <i>Chicken to Ride</i> by The Beatles"
---
<h1>About</h1>

<p>The podcast where we make top ten lists about everything!</p>

<div class="about">
    {% list brian %}
    {% list melissa %}
</div>