---
layout: base
---

<p>Ten to One is the podcast where Melissa and Brian Koser make top ten lists about everything.</p>

<div class="home-episodes">
    <div class="section">
        <h2>Latest<h2>
        {% episodeCard collections.episodes | last, metadata.cdn_url %}
    </div>

    {# <div class="section">
        <h2>Recommended</h2>
        episode card - latest recommended
    </div> #}
</div>

{# About section

Bios: blurb, favorite episode, link to koser.us posts

Mobile: full screen picture of each host saturated to hosts color, bio overlaid
Desktop: same, but left side is Melissa, right half is Brian #}

{# <div class="section">
    <h2>Blog</h2>
    blog post card - latest
</div> #}