---
layout: home
---

<p class="headline">Ten to One is the podcast where Melissa and Brian Koser make top ten lists about everything.</p>

<div class="home-episodes">
    <div class="section">
        <h2>Latest</h2>
        {% episodeCard collections.episodes | last, collections.episodes | last | episodeReadableDate, collections.episodes | last | episodeMachineDate, metadata.site_url %}
    </div>

    {# <div class="section">
        <h2>Recommended</h2>
        episode card - latest recommended
    </div> #}
</div>

{# <div class="section">
    <h2>Blog</h2>
    blog post card - latest
</div> #}