---
layout: base
---

<ul class="subscribe-urls">
    <li>[i] Feed https://tto.koser.us/feed.rss
    <li>[i] <a href="https://itunes.apple.com/us/podcast/ten-to-one/id1128028715">iTunes</a>
</ul>

<h1>How to subscribe</h1>
<p>Subscribing in a podcast app will automatically download new episodes.</p>

<div class="accordion">
    <h2 id="tab1" class="tab" aria-controls="panel1" role="tab" tabindex="0">
        [i] Android
    </h2>
    <div id="panel1" class="panel" aria-labeledby="tab1" role="tabpanel">
        <ol>
            <li>
                <p>Download <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.podcasts&hl=en_US">Google Podcasts</a> or the podcast app of your choice.</p>
            <li>
                <p>Tap the <kbd><samp>🔍</samp></kbd> button.</p>
                {% cdnImage "subscribe-android-podcast-addict-01.png", metadata.cdn_url %}
            <li>
                <p>Tap <kbd><samp>Settings</samp></kbd> in the dialog at the top of the screen.</p>
                {% cdnImage "subscribe-android-podcast-addict-02.png", metadata.cdn_url %}
            <li>
                <p>Tap <kbd><samp>TURN ON</samp></kbd> to allow your phone to save podcast subscriptions.</p>
                {% cdnImage "subscribe-android-podcast-addict-03.png", metadata.cdn_url %}
            <li>
                <p>Search for <samp><kbd>tto.koser.us</kbd></samp>.</p>
                {% cdnImage "subscribe-android-podcast-addict-04.png", metadata.cdn_url %}
            <li>
                <p>Tap on our logo.</p>
                {% cdnImage "subscribe-android-podcast-addict-05.png", metadata.cdn_url %}
            <li>
                <p>Tap <kbd><samp>➕ Subscribe</samp></kbd>.</p>
                {% cdnImage "subscribe-android-podcast-addict-06.png", metadata.cdn_url %}
            <li>
                <p>You will get a notification when an episode has downloaded. Tap the notification to see the new episode, or open the app and tap on the Ten to One tile.</p>
                {% cdnImage "subscribe-android-podcast-addict-07.png", metadata.cdn_url %}
            <li>
                <p>Enjoy the podcast!</p>
        </ol>
    </div>
</div>

<div class="accordion">
    <h2 id="tab2" class="tab accordion" aria-controls="panel2" role="tab" tabindex="-1">
        [i] iPhone or iPad
    </h2>
    <div id="panel2" class="panel accordion" aria-labeledby="tab2" role="tabpanel">
        <ol>
            <li>
                <p>Open the <kbd><samp>Podcasts</samp></kbd> app on your iPhone or iPad.</p>
                {% cdnImage "subscribe-apple-1.png", metadata.cdn_url %}
            <li>
                <p>Tap the <kbd><samp>Search</samp> button in the bottom menu.</p>
                {% cdnImage "subscribe-apple-2.png", metadata.cdn_url %}
            <li>
                <p>Search for <samp><kbd>Ten to One</kbd></samp>.</p>
                {% cdnImage "subscribe-apple-3.png", metadata.cdn_url %}
            <li>
                <p>Find and tap on the Ten to One podcast (you may need to scroll down).</p>
                {% cdnImage "subscribe-apple-4.png", metadata.cdn_url %}
            <li>
                <p>Tap the <kbd><samp>Subscribe</samp></kbd> button.</p>
                {% cdnImage "subscribe-apple-5.png", metadata.cdn_url %}
            <li>
                <p>Tap the <kbd><samp>My Podcasts</samp></kbd> button. Then tap on any episode to download and listen.</p>
                {% cdnImage "subscribe-apple-6.png", metadata.cdn_url %}
            <li>
                <p>New episodes will download automatically.</p>
            <li>
                <p>Enjoy the podcast!</p>
        </ol>
    </div>
</div>

<div class="accordion">
    <h2 id="tab3" class="tab accordion" aria-controls="panel3" role="tab" tabindex="-1">
        [i] Windows
    </h2>
    <div id="panel3" class="panel accordion" aria-labeledby="tab3" role="tabpanel">
        <ol>
            <li>
                <p>Download and install <a href="https://www.apple.com/itunes/">iTunes</a>.
            <li>
                <p>Open iTunes and click <kbd><samp>File</samp></kbd>, then <kbd><samp>Subscribe to Podcast</samp></kbd>.</p>
                {% cdnImage "subscribe-windows-itunes-1", metadata.cdn_url %}
            <li>
                <p>Enter the feed URL: <samp><kbd>http://tto.koser.us/feed.rss</kbd></samp> and click <kbd><samp>OK</samp></kbd>.</p>
                {% cdnImage "subscribe-windows-itunes-2", metadata.cdn_url %}
            <li>
                <p>You do not need to sync, but you should select <kbd><samp>Automatically download new episodes for your subscriptions</samp></kbd>, then click <kbd><samp>Continue</samp></kbd>.</p>
                {% cdnImage "subscribe-windows-itunes-3", metadata.cdn_url %}
            <li>
                <p>Listen to an episode by double-clicking it.</p>
                {% cdnImage "subscribe-windows-itunes-4", metadata.cdn_url %}   
            <li>
                <p>Open iTunes to listen to the podcast. New episodes will be automatically downloaded.</p>
            <li>
                <p>Enjoy the podcast!</p>
        </ol>
    </div>
</div>