---
layout: episode
number: 
title: 
description: 
date: 2016-01-01
hosts:
  - Brian
  - Melissa
bytes: 
duration: '0:00:00'
tags: ['episodes']

listBrian:
  host: Brian
  list:
    - item
    - item
    - item
    - item
    - item
    - item
    - item
    - item
    - item
    - item
listMelissa:
  host: Melissa
  list:
    - item
    - item
    - item
    - item
    - item
    - item
    - item
    - item
    - item
    - item

linkListBrian:
  host: Brian
  list:
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}
linkListMelissa:
  host: Melissa
  list:
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}

movieBrian:
  host: Brian
  list:
    - {"title": "title", "slug": "letterboxd-slug"}
    - {"title": "title", "slug": "letterboxd-slug"}
    - {"title": "title", "slug": "letterboxd-slug"}
    - {"title": "title", "slug": "letterboxd-slug"}
    - {"title": "title", "slug": "letterboxd-slug"}
    - {"title": "title", "slug": "letterboxd-slug"}
    - {"title": "title", "slug": "letterboxd-slug"}
    - {"title": "title", "slug": "letterboxd-slug"}
    - {"title": "title", "slug": "letterboxd-slug"}
    - {"title": "title", "slug": "letterboxd-slug"}
movieMelissa:
  host: Melissa
  list:
    - {"title": "title", "slug": "letterboxd-slug"}
    - {"title": "title", "slug": "letterboxd-slug"}
    - {"title": "title", "slug": "letterboxd-slug"}
    - {"title": "title", "slug": "letterboxd-slug"}
    - {"title": "title", "slug": "letterboxd-slug"}
    - {"title": "title", "slug": "letterboxd-slug"}
    - {"title": "title", "slug": "letterboxd-slug"}
    - {"title": "title", "slug": "letterboxd-slug"}
    - {"title": "title", "slug": "letterboxd-slug"}
    - {"title": "title", "slug": "letterboxd-slug"}

youtubeBrian:
  host: Brian
  list:
    - {"title": "title", "id": "youtube-video-id"}
    - {"title": "title", "id": "youtube-video-id"}
    - {"title": "title", "id": "youtube-video-id"}
    - {"title": "title", "id": "youtube-video-id"}
    - {"title": "title", "id": "youtube-video-id"}
    - {"title": "title", "id": "youtube-video-id"}
    - {"title": "title", "id": "youtube-video-id"}
    - {"title": "title", "id": "youtube-video-id"}
    - {"title": "title", "id": "youtube-video-id"}
    - {"title": "title", "id": "youtube-video-id"}
  playlistID: youtube-playlist-id
youtubeMelissa:
  host: Melissa
  list:
    - {"title": "title", "id": "youtube-video-id"}
    - {"title": "title", "id": "youtube-video-id"}
    - {"title": "title", "id": "youtube-video-id"}
    - {"title": "title", "id": "youtube-video-id"}
    - {"title": "title", "id": "youtube-video-id"}
    - {"title": "title", "id": "youtube-video-id"}
    - {"title": "title", "id": "youtube-video-id"}
    - {"title": "title", "id": "youtube-video-id"}
    - {"title": "title", "id": "youtube-video-id"}
    - {"title": "title", "id": "youtube-video-id"}
  playlistID: youtube-playlist-id

notes:
  - note
youtubeNotes:
  - {"id": "youtube-video-id", "caption": "caption"}
---
{% list listMelissa %}
{% list listBrian %}

{% linkList linkListMelissa %}
{% linkList linkListBrian %}

{% movieList movieMelissa %}
{% movieList movieBrian %}

{% youtubeList youtubeBrian %}
{% youtubeList youtubeMelissa %}