---
layout: episode
number: 
title: 
description: 
date: 2016-01-01
hosts:
  - Brian
  - Melissa
bytes: 
duration: '0:00:00'
tags:
  - episodes

listBrian:
  host: Brian
  list:
    - 
    - 
    - 
    - 
    - 
    - 
    - 
    - 
    - 
    - 
listMelissa:
  host: Melissa
  list:
    - 
    - 
    - 
    - 
    - 
    - 
    - 
    - 
    - 
    - 

linkListBrian:
  host: Brian
  list:
    - title: 
      url: 
      comment: 
    - title: 
      url: 
      comment: 
    - title: 
      url: 
      comment: 
    - title: 
      url: 
      comment: 
    - title: 
      url: 
      comment: 
    - title: 
      url: 
      comment: 
    - title: 
      url: 
      comment: 
    - title: 
      url: 
      comment: 
    - title: 
      url: 
      comment: 
    - title: 
      url: 
      comment: 
linkListMelissa:
  host: Melissa
  list:
    - title: 
      url: 
      comment: 
    - title: 
      url: 
      comment: 
    - title: 
      url: 
      comment: 
    - title: 
      url: 
      comment: 
    - title: 
      url: 
      comment: 
    - title: 
      url: 
      comment: 
    - title: 
      url: 
      comment: 
    - title: 
      url: 
      comment: 
    - title: 
      url: 
      comment: 
    - title: 
      url: 
      comment: 

boardGameBrian:
  host: Brian
  list:
    - title: 
      id: 
    - title: 
      id: 
    - title: 
      id: 
    - title: 
      id: 
    - title: 
      id: 
    - title: 
      id: 
    - title: 
      id: 
    - title: 
      id: 
    - title: 
      id: 
    - title: 
      id: 
boardGameMelissa:
  host: Melissa
  list:
    - title: 
      id: 
    - title: 
      id: 
    - title: 
      id: 
    - title: 
      id: 
    - title: 
      id: 
    - title: 
      id: 
    - title: 
      id: 
    - title: 
      id: 
    - title: 
      id: 
    - title: 
      id: 

bookBrian:
  host: Brian
  list:
    - title: 
      review: goodreadsReviewId
      book: goodreadsBookId
    - title: 
      review: goodreadsReviewId
      book: goodreadsBookId
    - title: 
      review: goodreadsReviewId
      book: goodreadsBookId
    - title: 
      review: goodreadsReviewId
      book: goodreadsBookId
    - title: 
      review: goodreadsReviewId
      book: goodreadsBookId
    - title: 
      review: goodreadsReviewId
      book: goodreadsBookId
    - title: 
      review: goodreadsReviewId
      book: goodreadsBookId
    - title: 
      review: goodreadsReviewId
      book: goodreadsBookId
    - title: 
      review: goodreadsReviewId
      book: goodreadsBookId
    - title: 
      review: goodreadsReviewId
      book: goodreadsBookId
bookMelissa:
  host: Melissa
  list:
    - title: 
      review: goodreadsReviewId
      book: goodreadsBookId
    - title: 
      review: goodreadsReviewId
      book: goodreadsBookId
    - title: 
      review: goodreadsReviewId
      book: goodreadsBookId
    - title: 
      review: goodreadsReviewId
      book: goodreadsBookId
    - title: 
      review: goodreadsReviewId
      book: goodreadsBookId
    - title: 
      review: goodreadsReviewId
      book: goodreadsBookId
    - title: 
      review: goodreadsReviewId
      book: goodreadsBookId
    - title: 
      review: goodreadsReviewId
      book: goodreadsBookId
    - title: 
      review: goodreadsReviewId
      book: goodreadsBookId
    - title: 
      review: goodreadsReviewId
      book: goodreadsBookId

movieBrian:
  host: Brian
  list:
    - character: 
      title: 
      slug: letterboxdSlug
    - character: 
      title: 
      slug: letterboxdSlug
    - character: 
      title: 
      slug: letterboxdSlug
    - character: 
      title: 
      slug: letterboxdSlug
    - character: 
      title: 
      slug: letterboxdSlug
    - character: 
      title: 
      slug: letterboxdSlug
    - character: 
      title: 
      slug: letterboxdSlug
    - character: 
      title: 
      slug: letterboxdSlug
    - character: 
      title: 
      slug: letterboxdSlug
    - character: 
      title: 
      slug: letterboxdSlug
movieMelissa:
  host: Melissa
  list:
    - character: 
      title: 
      slug: letterboxdSlug
    - character: 
      title: 
      slug: letterboxdSlug
    - character: 
      title: 
      slug: letterboxdSlug
    - character: 
      title: 
      slug: letterboxdSlug
    - character: 
      title: 
      slug: letterboxdSlug
    - character: 
      title: 
      slug: letterboxdSlug
    - character: 
      title: 
      slug: letterboxdSlug
    - character: 
      title: 
      slug: letterboxdSlug
    - character: 
      title: 
      slug: letterboxdSlug
    - character: 
      title: 
      slug: letterboxdSlug

youtubeBrian:
  host: Brian
  list:
    - title: 
      id: youtubeVideoId
    - title: 
      id: youtubeVideoId
    - title: 
      id: youtubeVideoId
    - title: 
      id: youtubeVideoId
    - title: 
      id: youtubeVideoId
    - title: 
      id: youtubeVideoId
    - title: 
      id: youtubeVideoId
    - title: 
      id: youtubeVideoId
    - title: 
      id: youtubeVideoId
    - title: 
      id: youtubeVideoId
  playlistID: youtubePlaylistId
youtubeMelissa:
  host: Melissa
  list:
    - title: 
      id: youtubeVideoId
    - title: 
      id: youtubeVideoId
    - title: 
      id: youtubeVideoId
    - title: 
      id: youtubeVideoId
    - title: 
      id: youtubeVideoId
    - title: 
      id: youtubeVideoId
    - title: 
      id: youtubeVideoId
    - title: 
      id: youtubeVideoId
    - title: 
      id: youtubeVideoId
    - title: 
      id: youtubeVideoId
  playlistID: youtubePlaylistId

notes:
  - note
youtubeNotes:
  - id: youtubeVideoId
    caption: 
---
{% list melissa %}
{% list brian %}

{% linkList melissa %}
{% linkList brian %}

{% boardGameList melissa %}
{% boardGameList brian %}

{% bookList melissa %}
{% bookList brian %}

{% movieList melissa %}
{% movieList brian %}

{% youtubeList melissa %}
{% youtubeList brian %}

{% cdnImage image, metadata.img_cdn_url, alt, caption %}