---
layout: episode
number: 
title: 
description: 
date: 2016-01-01
hosts:
  - Brian
  - Melissa
bytes: 
duration: '0:00:00'
tags:
  - episodes

listBrian:
  host: Brian
  list:
    - item
    - item
    - item
    - item
    - item
    - item
    - item
    - item
    - item
    - item
listMelissa:
  host: Melissa
  list:
    - item
    - item
    - item
    - item
    - item
    - item
    - item
    - item
    - item
    - item

linkListBrian:
  host: Brian
  list:
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}
linkListMelissa:
  host: Melissa
  list:
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}
    - {"title": "title", "url": "url"}

boardGameBrian:
  host: Brian
  list:
    - {"title": "title", "id": "bggGameId"}
    - {"title": "title", "id": "bggGameId"}
    - {"title": "title", "id": "bggGameId"}
    - {"title": "title", "id": "bggGameId"}
    - {"title": "title", "id": "bggGameId"}
    - {"title": "title", "id": "bggGameId"}
    - {"title": "title", "id": "bggGameId"}
    - {"title": "title", "id": "bggGameId"}
    - {"title": "title", "id": "bggGameId"}
    - {"title": "title", "id": "bggGameId"}
boardGameMelissa:
  host: Melissa
  list:
    - {"title": "title", "id": "bggGameId"}
    - {"title": "title", "id": "bggGameId"}
    - {"title": "title", "id": "bggGameId"}
    - {"title": "title", "id": "bggGameId"}
    - {"title": "title", "id": "bggGameId"}
    - {"title": "title", "id": "bggGameId"}
    - {"title": "title", "id": "bggGameId"}
    - {"title": "title", "id": "bggGameId"}
    - {"title": "title", "id": "bggGameId"}
    - {"title": "title", "id": "bggGameId"}

bookBrian:
  host: Brian
  list:
    - {"title": "title", "review": "goodreadsReviewId", "book": "goodreadsBookId"}
    - {"title": "title", "review": "goodreadsReviewId", "book": "goodreadsBookId"}
    - {"title": "title", "review": "goodreadsReviewId", "book": "goodreadsBookId"}
    - {"title": "title", "review": "goodreadsReviewId", "book": "goodreadsBookId"}
    - {"title": "title", "review": "goodreadsReviewId", "book": "goodreadsBookId"}
    - {"title": "title", "review": "goodreadsReviewId", "book": "goodreadsBookId"}
    - {"title": "title", "review": "goodreadsReviewId", "book": "goodreadsBookId"}
    - {"title": "title", "review": "goodreadsReviewId", "book": "goodreadsBookId"}
    - {"title": "title", "review": "goodreadsReviewId", "book": "goodreadsBookId"}
    - {"title": "title", "review": "goodreadsReviewId", "book": "goodreadsBookId"}
bookMelissa:
  host: Melissa
  list:
    - {"title": "title", "review": "goodreadsReviewId", "book": "goodreadsBookId"}
    - {"title": "title", "review": "goodreadsReviewId", "book": "goodreadsBookId"}
    - {"title": "title", "review": "goodreadsReviewId", "book": "goodreadsBookId"}
    - {"title": "title", "review": "goodreadsReviewId", "book": "goodreadsBookId"}
    - {"title": "title", "review": "goodreadsReviewId", "book": "goodreadsBookId"}
    - {"title": "title", "review": "goodreadsReviewId", "book": "goodreadsBookId"}
    - {"title": "title", "review": "goodreadsReviewId", "book": "goodreadsBookId"}
    - {"title": "title", "review": "goodreadsReviewId", "book": "goodreadsBookId"}
    - {"title": "title", "review": "goodreadsReviewId", "book": "goodreadsBookId"}
    - {"title": "title", "review": "goodreadsReviewId", "book": "goodreadsBookId"}

movieBrian:
  host: Brian
  list:
    - {"character": "character", "title": "title", "slug": "letterboxdSlug"}
    - {"character": "character", "title": "title", "slug": "letterboxdSlug"}
    - {"character": "character", "title": "title", "slug": "letterboxdSlug"}
    - {"character": "character", "title": "title", "slug": "letterboxdSlug"}
    - {"character": "character", "title": "title", "slug": "letterboxdSlug"}
    - {"character": "character", "title": "title", "slug": "letterboxdSlug"}
    - {"character": "character", "title": "title", "slug": "letterboxdSlug"}
    - {"character": "character", "title": "title", "slug": "letterboxdSlug"}
    - {"character": "character", "title": "title", "slug": "letterboxdSlug"}
    - {"character": "character", "title": "title", "slug": "letterboxdSlug"}
movieMelissa:
  host: Melissa
  list:
    - {"character": "character", "title": "title", "slug": "letterboxdSlug"}
    - {"character": "character", "title": "title", "slug": "letterboxdSlug"}
    - {"character": "character", "title": "title", "slug": "letterboxdSlug"}
    - {"character": "character", "title": "title", "slug": "letterboxdSlug"}
    - {"character": "character", "title": "title", "slug": "letterboxdSlug"}
    - {"character": "character", "title": "title", "slug": "letterboxdSlug"}
    - {"character": "character", "title": "title", "slug": "letterboxdSlug"}
    - {"character": "character", "title": "title", "slug": "letterboxdSlug"}
    - {"character": "character", "title": "title", "slug": "letterboxdSlug"}
    - {"character": "character", "title": "title", "slug": "letterboxdSlug"}

youtubeBrian:
  host: Brian
  list:
    - {"title": "title", "id": "youtubeVideoId"}
    - {"title": "title", "id": "youtubeVideoId"}
    - {"title": "title", "id": "youtubeVideoId"}
    - {"title": "title", "id": "youtubeVideoId"}
    - {"title": "title", "id": "youtubeVideoId"}
    - {"title": "title", "id": "youtubeVideoId"}
    - {"title": "title", "id": "youtubeVideoId"}
    - {"title": "title", "id": "youtubeVideoId"}
    - {"title": "title", "id": "youtubeVideoId"}
    - {"title": "title", "id": "youtubeVideoId"}
  playlistID: youtubePlaylistId
youtubeMelissa:
  host: Melissa
  list:
    - {"title": "title", "id": "youtubeVideoId"}
    - {"title": "title", "id": "youtubeVideoId"}
    - {"title": "title", "id": "youtubeVideoId"}
    - {"title": "title", "id": "youtubeVideoId"}
    - {"title": "title", "id": "youtubeVideoId"}
    - {"title": "title", "id": "youtubeVideoId"}
    - {"title": "title", "id": "youtubeVideoId"}
    - {"title": "title", "id": "youtubeVideoId"}
    - {"title": "title", "id": "youtubeVideoId"}
    - {"title": "title", "id": "youtubeVideoId"}
  playlistID: youtubePlaylistId

notes:
  - note
youtubeNotes:
  - {"id": "youtubeVideoId", "caption": "caption"}
---
{% list melissa %}
{% list brian %}

{% linkList melissa %}
{% linkList brian %}

{% boardGameList melissa %}
{% boardGameList brian %}

{% bookList melissa %}
{% bookList brian %}

{% movieList melissa %}
{% movieList brian %}

{% youtubeList melissa %}
{% youtubeList brian %}

{% cdnImage image, metadata.cdn_url, alt, caption %}