---
layout: episode
number: 1
title: Lamest Superheroes
description: This week Brian and Melissa each invent ten lame superheroes with lame superpowers. These characters would be right at home on The Tick or Mystery Men. 
date: 2016-06-02
slug: 001-lamest-superheroes
bytes: 13373066
duration: '0:27:51'
tags: ['superheroes']
---

<h2>Melissa</h2>
<ol reversed>
<li>Colorgirl: can turn her nose any color</li>
<li>Prettyboy: can mind-control his hair</li>
<li>Sir No-See: turns invisible, but only when there is no light</li>
<li>Sunbeam: uncontrollably shots lasers from eyes after slight sunburn</li>
<li>Boing Boing: makes small rubber bouncy balls to attack with</li>
<li>Glubglub: can breathe underwater, but only if it's purified drinking water</li>
<li>The Dripper: superhearing, but only for leaky faucets</li>
<li>Lady Llama: turns into a llama</li>
<li>Pupmaster: can summon puppies to his location</li>
<li>Grim Leaper: leaps tall buildings with single bound when scowling, needs parachute coming down</li>
</ol>

<h2>Brian</h2>
<ol reversed>
<li>Pinpoint: Always know his exact location</li>
<li>Manhole: He’s a hole</li>
<li>Earonaut: Complete control over his ears</li>
<li>Pants Eyes: Read anything by sitting on it</li>
<li>The Thumper: Determine if anything is fresh by thumping on it</li>
<li>Tubero: Sense potatoes</li>
<li>Extension: Always gets an extra day for any deadline</li>
<li>X-Hale: Blow indefinitely</li>
<li>Overgeorge: Mind control people named “George”</li>
<li>Payphone: Contact all pay phones mentally</li>
</ol>