---
layout: episode
number: 2
title: Musicals
description: Melissa and Brian each pick their top ten movie musicals.
date: 2016-06-02
hosts:
  - Brian
  - Melissa
bytes: 16643378
duration: '0:34:40'
tags: ['episodes', 'movies', 'musicals']
list_brian:
  - {"slug": "seven-brides-for-seven-brothers", "title": "Seven Brides for Seven Brothers"}
  - {"slug": "the-music-man", "title": "The Music Man"}
  - {"slug": "singin-in-the-rain", "title": "Singin’ in the Rain"}
  - {"slug": "yankee-doodle-dandy", "title": "Yankee Doodle Dandy"}
  - {"slug": "the-sound-of-music", "title": "The Sound of Music"}
  - {"slug": "in-the-good-old-summertime", "title": "In the Good Old Summertime"}
  - {"slug": "mary-poppins", "title": "Mary Poppins"}
  - {"slug": "the-phantom-of-the-opera-2004", "title": "The Phantom of the Opera"}
  - {"slug": "muppet-treasure-island", "title": "Muppet Treasure Island"}
  - {"slug": "fiddler-on-the-roof", "title": "Fiddler on the Roof"}
list_melissa: 
  - {"slug": "hello-dolly", "title": "Hello, Dolly!", "replaced": "How the Grinch Stole Christmas"}
  - {"slug": "road-to-utopia", "title": "Road to Utopia"}
  - {"slug": "state-fair", "title": "State Fair"}
  - {"slug": "seven-brides-for-seven-brothers", "title": "Seven Brides for Seven Brothers"}
  - {"slug": "the-music-man", "title": "The Music Man"}
  - {"slug": "my-fair-lady", "title": "My Fair Lady"}
  - {"slug": "dr-horribles-sing-along-blog-2008", "title": "Dr. Horrible’s Sing-Along Blog"}
  - {"slug": "the-phantom-of-the-opera-2004", "title": "The Phantom of the Opera"}
  - {"slug": "fiddler-on-the-roof", "title": "Fiddler on the Roof"}
  - {"slug": "scrooge-1970", "title": "Scrooge"}
---

{% movieList "Brian", list_brian %}
{% movieList "Melissa", list_melissa %}