---
layout: episode
number: 2
title: Musicals
description: Melissa and Brian each pick their top ten movie musicals.
date: 2016-06-02
bytes: 16643378
duration: '0:34:40'
tags: ['episodes', 'movies', 'musicals']
---

<h2>Brian</h2>
<ol reversed>
<li>Seven Brides for Seven Brothers</li>
<li>The Music Man</li>
<li>Singin’ in the Rain</li>
<li>Yankee Doodle Dandy</li>
<li>The Sound of Music</li>
<li>In the Good Old Summertime</li>
<li>Mary Poppins</li>
<li>Andrew Lloyd Webber’s The Phantom of the Opera</li>
<li>Muppet Treasure Island</li>
<li>Fiddler on the Roof</li>
</ol>

<h2>Melissa</h2>
<ol reversed>
<li><span style="text-decoration:line-through;">How the Grinch Stole Christmas</span> Hello, Dolly!</li>
<li>Road to Utopia</li>
<li>State Fair</li>
<li>Seven Brides for Seven Brothers</li>
<li>The Music Man</li>
<li>My Fair Lady</li>
<li>Dr. Horrible’s Sing-Along Blog</li>
<li>Andrew Lloyd Webber’s The Phantom of the Opera</li>
<li>Fiddler on the Roof</li>
<li>Scrooge</li>
</ol>