---
layout: episode
number: 4
title: Villains
description: Melissa and Brian discuss the ten villains they love to hate (or just plain hate).
date: 2016-06-28
hosts:
  - Brian
  - Melissa
bytes: 21954560
duration: '0:45:44'
tags:
  - episodes
  - villains
  - books
  - movies

brian:
  host: Brian
  list:
    - 'Miss Trunchbull, <i class="book-title">Matilda</i>'
    - 'Darth Vader, <i class="movie-title">Star Wars</i>'
    - 'Khan Noonien Singh, <i class="movie-title">Star Trek</i>'
    - 'Mr. Potter, <i class="movie-title">It’s a Wonderful Life</i>'
    - 'Captain Hook, <i class="book-title">Peter Pan</i>'
    - 'Mirror-Universe Spock, <i class="movie-title">Star Trek</i>'
    - 'Zaheer, <i class="movie-title">Legend of Korra</i>'
    - 'The Gentleman with the Thistledown Hair, <i class="book-title">Jonathan Strange &amp; Mr. Norrell</i>'
    - 'Thrawn, <i class="movie-title">Star Wars</i>'
    - 'Prince Zuko, <i class="movie-title">Avatar: The Last Airbender</i>'
melissa:
  host: Melissa
  list:
    - 'The White Witch, <i class="book-title">The Lion, The Witch, and the Wardrobe</i>'
    - 'Captain Hook, <i class="book-title">Peter Pan</i>'
    - 'Prince Zuko, <i class="movie-title">Avatar: The Last Airbender</i>'
    - 'The Joker, <i class="book-title">Batman</i>'
    - 'Slade Wilson, <i class="movie-title">Arrow</i>'
    - 'Rumpelstiltskin, <i class="movie-title">Once Upon a Time</i>'
    - 'Professor Moriarty, <i class="book-title">Sherlock Holmes</i>'
    - 'Wilson Fisk, <i class="movie-title">Daredevil</i>'
    - 'Harrison Wells, <i class="movie-title">The Flash</i>'
    - 'David Xanatos, <i class="movie-title">Gargoyles</i>'
notes:
  - <a href="http://tvtropes.org/pmwiki/pmwiki.php/Main/XanatosGambit">Xanatos Gambit</a>
---

{% list brian %}
{% list melissa %}