---
layout: episode
number: 5
title: Bible Stories that Make Us Laugh
description: Melissa and Brian take turns telling stories from the Bible that make them laugh.
date: 2016-07-07
hosts:
  - Brian
  - Melissa
bytes: 19841024
duration: '0:41:19'
tags: ['episodes', 'bible', 'humor']
combined:
  list:
    - 'Ark of God among Philistines destroying Dagon idol (<a href="https://www.biblegateway.com/passage/?search=1+samuel+5&version=KJV">1 Samuel 5</a>)'
    - 'Elijah recognized by his hairy appearance, calling down fire on soldiers (<a href="https://www.biblegateway.com/passage/?search=2+kings+1%3A2-15&version=KJV">2 Kings 1:2-15</a>)'
    - 'Elijah mocking prophets of Baal on Mount Carmel (<a href="https://www.biblegateway.com/passage/?search=1+kings+18%3A22-27&version=KJV">1 Kings 18:22-27</a>)'
    - 'John’s “prideful” writing (<a href="https://www.biblegateway.com/passage/?search=John+20%3A2-4&version=KJV">John 20:2-4</a>)'
    - 'Naomi matchmaking (<a href="https://www.biblegateway.com/passage/?search=Ruth+2%3A18-22&version=KJV">Ruth 2:18-22</a>)'
    - 'Jehu vs. Joram and Jezebel (<a href="https://www.biblegateway.com/passage/?search=2+kings+9&version=KJV">2 Kings 9</a>)'
    - 'Mordecai and Haman (<a href="https://www.biblegateway.com/passage/?search=Esther+5%3A6-6%3A14&version=KJV">Esther 5:6-6:14</a>)'
    - 'Jehu vs. Priests of Baal (<a href="https://www.biblegateway.com/passage/?search=2+kings+10%3A11-28&version=KJV">2 Kings 10:11-28</a>)'
    - 'David pouring out a cup of water (<a href="https://www.biblegateway.com/passage/?search=2+Samuel+23%3A14-17&version=KJV">2 Samuel 23:14-17</a>)'
    - 'Ahab, Jehoshaphat, and Micaiah (<a href="https://www.biblegateway.com/passage/?search=1+Kings+22%3A2-38&version=KJV">1 Kings 22:2-38</a>)'
---

{% list combined %}