---
layout: episode
number: 6
title: Veggietales Songs
description: Melissa and Brian tell (and maybe sing a little of) their favorite Veggietales songs.
date: 2016-07-17
hosts:
  - Brian
  - Melissa
bytes: 12685312
duration: '0:26:25'
tags:
  - episodes
  - tv
  - music

brian:
  host: Brian
  list:
    - {"title": "Oh, No! What We Gonna Do?", "id": "wv8gXqwu0IM"}
    - {"title": "I Love My Lips", "id": "j1FGaCNN1aw"}
    - {"title": "BellyButton", "id": "n5uujMb_hbo"}
    - {"title": "I Love My Duck", "id": "Zr1at7PzkRQ"}
    - {"title": "Larry’s High Silk Hat", "id": "i9KqphtT5fs"}
    - {"title": "The Song of the Cebu", "id": "_uv8Ej4CEoQ"}
    - {"title": "The Hairbrush Song", "slug": "LtHr7gluh08"}
    - {"title": "His Cheeseburger", "slug": "CmIKR458M0A"}
    - {"title": "Oh, Santa!", "slug": "uD5pqOsW1PU"}
    - {"title": "The Pirates Who Don't Do Anything", "slug": "XaWU1CmrJNc"}
  playlistID: PL8c-Yg_oDsbMhJlUy8Ww8rqYSWgSiE4KX
melissa:
  host: Melissa
  list:
    - {"title": "Pizza Angel", "id": "jEUJTo6-stg"}
    - {"title": "Sippy Cup", "id": "3OamI2qV340"}
    - {"title": "Dance of the Cucumber", "id": "13DvXLdr_H4"}
    - {"title": "I Can Be Your Friend", "id": "ch7_gDfFWOU"}
    - {"title": "Haman’s Song", "id": "1GFSCsNABVE"}
    - {"title": "Oh, Santa!", "slug": "uD5pqOsW1PU"}
    - {"title": "My Baby Elf", "id": "HP5hQMi-8lE"}
    - {"title": "SUV", "id": "P0NfaKiPIMc"}
    - {"title": "Larry’s High Silk Hat", "id": "i9KqphtT5fs"}
    - {"title": "His Cheeseburger", "slug": "CmIKR458M0A"}
  playlistID: PL8c-Yg_oDsbN0mN-IjKHiD_K1imFBvHUX
---

{% youtubeList brian %}
{% youtubeList melissa %}