---
layout: episode
number: 7
title: Recommendations for My Spouse
description: Brian and Melissa find ten books, movies, and TV shows that they think each other would like.
date: 2016-07-22
hosts:
  - Brian
  - Melissa
bytes: 16134325
duration: '0:33:36'
tags: ['episodes', 'tv', 'movies', 'books']
brian:
  host: Brian
  list:
    - {"title": "Isaac Asimov", "url": "https://www.goodreads.com/author/show/16667.Isaac_Asimov"}
    - {"title": "Star Wars: Episode III - Revenge of the Sith", "url": "https://www.goodreads.com/book/show/35458.Star_Wars"}
    - {"title": "Dimension of Miracles", "url": "https://www.goodreads.com/book/show/668634.Dimension_of_Miracles"}
    - {"title": "Island of the Blue Dolphins", "url": "https://www.goodreads.com/book/show/233818.Island_of_the_Blue_Dolphins"}
    - {"title": "Derwood Inc.", "url": "https://www.goodreads.com/book/show/1214720.Derwood_Inc?ac=1"}
    - {"title": "The Matrix", "url": "https://letterboxd.com/film/the-matrix/"}
    - {"title": "Hank the Cowdog", "url": "https://www.goodreads.com/series/41511-hank-the-cowdog"}
    - {"title": "LOST", "url": "https://www.thetvdb.com/series/lost"}
    - {"title": "Jane Austen", "url": "https://www.goodreads.com/author/show/1265.Jane_Austen"}
    - {"title": "Hitchihiker’s Guide to the Galaxy", "url": "https://www.goodreads.com/book/show/11.The_Hitchhiker_s_Guide_to_the_Galaxy"}
melissa:
  host: Melissa
  list:
    - {"title": "Davy Crockett and the River Pirates", "url": "https://letterboxd.com/film/davy-crockett-and-the-river-pirates/"}
    - {"title": "Snowball Express", "url": "https://letterboxd.com/film/snowball-express/"}
    - {"title": "Inkdeath", "url": "https://www.goodreads.com/book/show/2325825.Inkdeath"}
    - {"title": "Last of the Breed", "url": "https://www.goodreads.com/book/show/266485.Last_of_the_Breed"}
    - {"title": "Facing the Giants", "url": "https://letterboxd.com/film/facing-the-giants/"}
    - {"title": "Captains Courageous", "url": "https://www.goodreads.com/book/show/34057.Captains_Courageous"}
    - {"title": "The Robe", "url": "https://letterboxd.com/film/the-robe/"}
    - {"title": "The Ghost and the Darkness", "url": "https://letterboxd.com/film/the-ghost-and-the-darkness/"}
    - {"title": "The Great Locomotive Chase", "url": "https://letterboxd.com/film/the-great-locomotive-chase/"}
    - {"title": "The Buccaneer", "url": "https://letterboxd.com/film/the-buccaneer/"}
---

{% linkList melissa %}
{% linkList brian %}