---
layout: episode
number: 8
title: Actors
description: Melissa and Brian discuss which actors work they're most interested in watching.
date: 2016-07-29
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 23970619
duration: '0:49:56'
tags:
  - episodes
  - tv
  - movies

brian:
  host: Brian
  list:
    - {"title": "Alan Rickman", "url": "https://www.imdb.com/name/nm0000614/"}
    - {"title": "Hugh Laurie", "url": "https://www.imdb.com/name/nm0491402/"}
    - {"title": "Anne Hathaway", "url": "https://www.imdb.com/name/nm0004266/"}
    - {"title": "William Shatner", "url": "https://www.imdb.com/name/nm0000638/"}
    - {"title": "Tom Hanks", "url": "https://www.imdb.com/name/nm0000158/"}
    - {"title": "Michael Landon", "url": "https://www.imdb.com/name/nm0001446/"}
    - {"title": "Simon Pegg", "url": "https://www.imdb.com/name/nm0670408/"}
    - {"title": "Andy Griffith", "url": "https://www.imdb.com/name/nm0341431/"}
    - {"title": "James Stewart", "url": "https://www.imdb.com/name/nm0000071/"}
    - {"title": "Ioan Gruffudd", "url": "https://www.imdb.com/name/nm0344435/"}
melissa:
  host: Melissa
  list:
    - {"title": "Charlton Heston", "url": "https://www.imdb.com/name/nm0000032/"}
    - {"title": "William Shatner", "url": "https://www.imdb.com/name/nm0000638/"}
    - {"title": "Ioan Gruffudd", "url": "https://www.imdb.com/name/nm0344435/"}
    - {"title": "Robert Downey, Jr.", "url": "https://www.imdb.com/name/nm0000375/"}
    - {"title": "James Stewart", "url": "https://www.imdb.com/name/nm0000071/"}
    - {"title": "Alan Rickman", "url": "https://www.imdb.com/name/nm0000614/"}
    - {"title": "Dean Jones", "url": "https://www.imdb.com/name/nm0427894/"}
    - {"title": "Benedict Cumberbatch", "url": "https://www.imdb.com/name/nm1212722/"}
    - {"title": "Harrison Ford", "url": "https://www.imdb.com/name/nm0000148/"}
    - {"title": "Yul Brynner", "url": "https://www.imdb.com/name/nm0000989/"}
youtubeNotes:
  - {"id": "Mylbw-IFgp4?t=19s", "caption": "Alan Rickman in <i>Galaxy Quest</i>"}
  - {"id": "JQ_R8QBeYvs", "caption": "Hugh Laurie singing “Minnie the Moocher”"}
  - {"id": "Zd89ojoAfEQ", "caption": "Frank Caliendo’s William Shatner impression"}
---

{% linkList brian %}
{% linkList melissa %}