---
layout: episode
number: 9
title: Accomplishments
description: Brian and Melissa list ten goals they’d like to accomplish. 
date: 2016-08-05
hosts:
  - Brian
  - Melissa
bytes: 22119904
duration: '0:46:05'
tags: ['episodes', 'goals', 'personal']

brian:
  host: Brian
  list:
    - See every Twilight Zone episode
    - Podcast regularly
    - Read 1000 books
    - Woodworking project (gaming table)
    - Do 100 pushups
    - Build websites
    - Read classics
    - Visit all 50 states
    - Work from home
    - Good education for kids
melissa:
  host: Melissa
  list:
    - Play 10 instruments well
    - Conduct choir or orchestra
    - Grow garden
    - Adopt
    - Play “Fugue in D Minor”
    - Get piano tuning license
    - Make accordion CD
    - Learn to dance gracefully
    - Write book
    - Raise godly children
---
{% list melissa %}
{% list brian %}