---
layout: episode
number: 10
title: Worst Things I’ve Ever Ingested
description: Melissa and Brian each tell the ten worst things they’ve swallowed.
date: 2016-08-12
hosts:
  - Brian
  - Melissa
bytes: 21829647
duration: '0:45:28'
tags: ['episodes', 'food']

brian:
  host: Brian
  list:
    - <span class="strikethrough">Olives</span> Cottage Cheese
    - <span class="strikethrough">Raw Broccoli</span> Pickle Relish
    - <span class="strikethrough">Sauerkraut</span> Grits
    - Cloves
    - Cilantro
    - Bean paste-covered ice cream
    - Water chestnuts
    - Brussels sprouts
    - Squid tentacles soaked in squid guts
    - Kimchi
melissa:
  host: Melissa
  list:
    - Fluff
    - Seven-layer salad
    - Stuffed onions
    - Carbonated apple juice
    - Horchata off the street
    - Banana soda
    - Olives
    - Tamales
    - Cod liver oil
    - Swedish bitters

notes:
  - <a href="http://www.ihatecilantro.com">www.ihatecilantro.com</a>
---
{% list brian %}
{% list melissa %}