---
layout: episode
number: 11
title: Authors I’ve Never Read, But Want To
description: Brian and Melissa list ten authors who work they’re excited to check out. 
date: 2016-08-19
hosts:
  - Brian
  - Melissa
bytes: 18119845
duration: '0:37:45'
tags: ['episodes', 'books']

brian:
  host: Brian
  list:
    - Ancient Greeks (Plato, Aristophanes, Thucydides, etc.)
    - Fyodor Dostoevsky
    - Leo Tolstoy
    - Emily Brontë
    - Will Durant
    - John Steinbeck
    - N. T. Wright
    - Iain M. Banks
    - Steven Erikson
    - John Scalzi
melissa:
  host: Melissa
  list:
    - H. G. Wells
    - Bram Stoker
    - Mary Shelley
    - Homer
    - Dante Alighieri
    - Isaac Asimov
    - Lew Wallace
    - Jane Austen
    - J. K. Rowling
    - Neil Gaiman
---
{% list melissa %}
{% list brian %}