---
layout: episode
number: 12
title: Improvements on Idioms and Proverbs 
description: Melissa and Brian make their own personal improvements to ten common English idioms and proverbs. 
date: 2016-08-26
hosts:
  - Brian
  - Melissa
bytes: 13080721
duration: '0:27:15'
tags:
  - episodes
  - language
  - featured

brian:
  host: Brian
  list:
    - Red sky in morning, sailors take warning. Red sky at night, thermonuclear war.
    - You catch more flies with honey than with vinegar. So if you want to kill someone, be nice to them first.
    - Uneasy lies the head that wears the crown. So I’d suggest taking the crown off before going to bed.
    - Hitch your wagon to a star. Probably with some sort of flame-retardant rope.
    - Two heads are better than one. Unless it’s two dumb heads and one smart head.
    - Love conquers all. And so did Genghis Khan.
    - Absence makes the heart grow fonder. Also gifts. Cash works for me.
    - Blood is thicker than water. But syrup is thicker than blood, so choose pancakes over family.
    - Beauty is in the eye of the beholder. But we all agree that you’re ugly.
    - An apple a day keeps the doctor away. Eventually he’ll stay away for good when he realizes you’re not going to stop throwing apples.
melissa:
  host: Melissa
  list:
    - Birds of a feather flock together so as to make all the featherless birds feel outcast.
    - Lightning never strikes twice in the same place. What a consoling thought to a bunch of dead trees.
    - Better to be a live dog than a dead lion, but better still to be a cat on a couch cushion.
    - Don’t put all your eggs in one basket if you want to increase the effort you’ll have to put into carrying them.
    - A little hard work never hurt or killed anyone, except in the logging industry, and coal miners, and Alaskan crab fishers, and mountain rescuers, and prison wardens, and ironworkers, and ice road truckers, and bomb squads, and electricians, and firefighters, and bodyguards, and police officers, and soldiers, and railway track engineers, and skyscraper window cleaners, and circus stunt performers, and commercial divers, and boxers, and NASCAR drivers, and surgeons.
    - Beauty is only skin deep, unless you find innards beautiful.
    - We’ll kill two birds with one stone; we’re always trying to find the most economical way to kill birds.
    - “Every cloud has a silver lining,” said some poor blind, idealistic fool.
    - There’s more than one way to skin a cat, but unfortunately no one ever demonstrates how to do it.
    - Nothing succeeds like success…so if at first you don’t succeed, you’re toast.

notes:
  - <a href="https://en.m.wikipedia.org/wiki/Therac-25">Programming Errors on the Therac-25 Cause Deaths</a>
  - <a href="http://articles.latimes.com/1999/oct/01/news/mn-17288">Mars Probe Lost Due to Simple Math Error</a>
  - <a href="http://despair.com/collections/demotivators">Demotivational posters</a>
---
{% list brian %}
{% list melissa %}