---
layout: episode
number: 13
title: Top Ten Lists We’ll Never Do 
description: For unlucky number 13, Brian and Melissa reveal the top ten lists that will never appear on the podcast.
date: 2016-09-02
hosts:
  - Brian
  - Melissa
bytes: 10636278
duration: '0:22:09'
tags:
  - episodes

brian:
  host: Brian
  list:
    - Numbers
    - Shades of green
    - Pairs of pants
    - People I know named “George”
    - Words that rhyme with “wolf”
    - Uses for sunglasses
    - Crimes I’d like to commit
    - Family members
    - Religions
    - Prospects if my spouse dies
melissa:
  host: Melissa
  list:
    - High School moments
    - Southern foods
    - Relatives
    - Makeup brands
    - Body parts
    - Chuck Norris jokes
    - Funerals
    - Animals with PG-13 names
    - Sports teams
    - Torture devices
---
{% list melissa %}
{% list brian %}