---
layout: episode
number: 14
title: Animals
description: Melissa and Brian list their favorite animals, with fun facts galore.
date: 2016-09-08
hosts:
  - Brian
  - Melissa
bytes: 27925141
duration: '0:58:10'
tags:
  - episodes
  - animals

brian:
  host: Brian
  list:
    - Walrus
    - Moose
    - Hippo
    - Rhino
    - Otter
    - Gorilla
    - Owl
    - Octopus
    - Snow Leopard
    - Bear
melissa:
  host: Melissa
  list:
    - Platypus
    - Millipede
    - Hummingbird
    - Elk
    - Giraffe
    - Dolphin
    - Dog
    - Manta Ray
    - Stallion
    - African Elephant
---
{% list brian %}
{% list melissa %}

<h2>Notes</h2>
<div class="notes">
  {% youtube {"id": "5ZaSZuYNViY?t=24m23s", "caption": "Walrus using tusks to climb onto ice"} %}

  {% cdnImage "wooly-rhino.jpg", metadata.img_cdn_url, "Wooly Rhinocerous", "Behold the wooly rhinocerous!" %}

  <p><a href="https://bpsfuelforthought.wordpress.com/2012/08/14/why-giraffes-dont-have-brain-damage/">Giraffe’s amazing cardio-vascular system</a></p>

  {% youtube {"id": "0NUiSAo_ie0", "caption": "Barn owl hissing"} %}

  <p><a href="http://scienceblogs.com/lifelines/2011/10/05/octopus-caught-on-video-using/">Octopus using tools</a></p>

  {% youtube {"id": "PmDTtkZlMwM", "caption": "Octopus camouflage"} %}

  <p><a href="https://en.m.wikipedia.org/wiki/Atlas_bear">Atlas bear</a></p>
</div>