---
layout: episode
number: 15
title: Catchphrases of Shane
description: Brian and Melissa reveal their favorite catchphrases of their friend Shane.
date: 2016-09-15
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 6793138
duration: '0:14:08'
tags:
  - episodes
  - personal

combined:
  list:
    - “Shocker!”
    - “This is why we can’t have nice things.”
    - “It’s a little dry.”
    - “Rudy was offsides.”
    - “Candied pecans. Cake flan. Key lime pie. Beef jerky.”
    - “Right here, under these wings”
    - “It will be judged accordingly.”
    - “Don’t tell me how to live my life.”
    - “Judy, car, now.”
    - “That’s what they called me in college.”
---
{% list combined %}