---
layout: episode
number: 16
title: Board Game Names
description: Melissa and Brian discuss their favorite board game names. The word “evocative” is used a lot.
date: 2016-10-07
hosts:
  - Brian
  - Melissa
bytes: 25789000
duration: '0:44:01'
tags: ['episodes', 'names', 'board-games']

brian:
  host: Brian
  list:
    - {"title": "Gloomhaven", "id": "174430"}
    - {"title": "Among the Stars", "id": "110277"}
    - {"title": "Inhabit the Earth", "id": "181797"}
    - {"title": "Mansions of Madness", "id": "205059"}
    - {"title": "Burgle Bros.", "id": "172081"}
    - {"title": "Click Clack Lumberjack", "id": "39206"}
    - {"title": "Geister, Geister, Schatzsuchmeister!", "id": "146312"}
    - {"title": "Dead of Winter", "id": "150376"}
    - {"title": "A Few Acres of Snow", "id": "79828"}
    - {"title": "Merchant of Venus", "id": "131646"}
melissa:
  host: Melissa
  list:
    - {"title": "Huggermugger", "id": "2387"}
    - {"title": "Tales of the Arabian Nights", "id": "34119"}
    - {"title": "Fury of Dracula", "id": "181279"}
    - {"title": "Alien Frontiers", "id": "48726"}
    - {"title": "Flick ’em Up!", "id": "169124"}
    - {"title": "Betrayal at House on the Hill", "id": "10547"}
    - {"title": "Euphoria: Build a Better Dystopia", "id": "133848"}
    - {"title": "Steampunk Rally", "id": "162007"}
    - {"title": "Vegas Showdown", "id": "15364"}
    - {"title": "Love Letter: Batman", "id": "168584"}

notes:
  - <a href="https://en.m.wikipedia.org/wiki/Merchant_of_Venus">Wikipedia</a> says the pun was intentional. I don’t know how you can get more authoritative. 😀
---
{% boardGameList melissa %}
{% boardGameList brian %}