---
layout: episode
number: 17
title: Animated Movies
description: Brian and Melissa list their favorite animated movies.
date: 2016-10-14
hosts:
  - Brian
  - Melissa
bytes: 33451150
duration: '0:55:45'
tags:
  - episodes
  - movies

brian:
  host: Brian
  list:
    - {"title": "Howl’s Moving Castle", "slug": "howls-moving-castle"}
    - {"title": "Monsters, Inc.", "slug": "monsters-inc"}
    - {"title": "Inside Out", "slug": "inside-out-2015"}
    - {"title": "The Emperor’s New Groove", "slug": "the-emperors-new-groove"}
    - {"title": "Toy Story 2", "slug": "toy-story-2"}
    - {"title": "The Incredibles", "slug": "incredibles-2"}
    - {"title": "Prince of Egypt", "slug": "the-prince-of-egypt"}
    - {"title": "Aladdin", "slug": "aladdin"}
    - {"title": "The Rescuers Down Under", "slug": "the-rescuers-down-under"}
    - {"title": "Beauty and the Beast", "slug": "beauty-and-the-beast-1991"}

melissa:
  host: Melissa
  list:
    - {"title": "Ice Age", "slug": "ice-age"}
    - {"title": "Ducktales: Treasure of the Lost Lamp", "slug": "ducktales-the-movie-treasure-of-the-lost-lamp"}
    - {"title": "Mulan", "slug": "mulan"}
    - {"title": "Megamind", "slug": "megamind"}
    - {"title": "The Emperor’s New Groove", "slug": "the-emperors-new-groove"}
    - {"title": "Rise of the Guardians", "slug": "rise-of-the-guardians"}
    - {"title": "Prince of Egypt", "slug": "the-prince-of-egypt"}
    - {"title": "Aladdin", "slug": "aladdin"}
    - {"title": "The Rescuers Down Under", "slug": "the-rescuers-down-under"}
    - {"title": "Beauty and the Beast", "slug": "beauty-and-the-beast-1991"}

youtubeNotes:
  - {"id": "a_hsjTExzbw", "caption": "<i class='movie-title'>Megamind</i>, “Presentation!”"}
  - {"id": "kX4ABefuIQg?t=1m20s", "caption": "<i class='movie-title'>Toy Story</i>, Jurassic Park reference (1:20)"}
  - {"id": "ddh9Oi9hJxY", "caption": "<i class='movie-title'>The Rescuers Down Under</i>, Wilbur in the hospital"}
  - {"id": "gwGQ_w9lgHw", "caption": "Reese’s Peanut Butter Cups commercial starring the voice of Beast from <i class='movie-title'>Beauty and the Beast</i>"}
---
{% movieList brian %}
{% movieList melissa %}