---
layout: episode
number: 18
title: Hymns
description: Melissa and Brian sing their ten favorite Christian hymns.
date: 2016-10-31
hosts:
  - Brian
  - Melissa
bytes: 36594969
duration: '1:00:59'
tags: ['episodes', 'music', 'christian']

brian:
  host: Brian
  list:
    - {"title": "All Hail the Power of Jesus’ Name", "id": "G-N9_SdxW4c"}
    - {"title": "Guide Me, O Thou Great Jehovah", "id": "J4gej0K_LRo"}
    - {"title": "The Solid Rock", "id": "rl4ypFTB0MU"}
    - {"title": "Praise to the Lord, the Almighty", "id": "3NNatbKemz0"}
    - {"title": "Come Thou Fount", "id": "yMjgemSir0E"}
    - {"title": "It Is Well with My Soul", "id": "zY5o9mP22V0"}
    - {"title": "I Sing the Mighty Power of God", "id": "eeSoE1Kmmv0"}
    - {"title": "Like a River Glorious", "id": "bnIcKms_IUY"}
    - {"title": "Complete in Thee", "id": "MB9VH8FXPhw"}
    - {"title": "And Can It Be?", "id": "ElqSYLw_ojo"}
  playlistID: PL8c-Yg_oDsbP8iX5KVsgDieTJ5TU4-Cum
melissa:
  host: Melissa
  list:
    - {"title": "Christ the Lord is Risen Today", "id": "PFjnlBn0K10"}
    - {"title": "Christ Arose", "id": "CtxSWcfH9hk"}
    - {"title": "Wonderful Grace of Jesus", "id": "vsPc-Ix3_ow"}
    - {"title": "A Mighty Fortress is Our God", "id": "yqczuaFQpVQ"}
    - {"title": "O the Deep, Deep Love of Jesus", "id": "dT-ZX2V1vik"}
    - {"title": "I Sing the Mighty Power of God", "id": "F3WPGbluKZo"}
    - {"title": "And Can It Be?", "id": "ElqSYLw_ojo"}
    - {"title": "Come Thou Fount", "id": "qCkn2Y8TGAU"}
    - {"title": "It Is Well With My Soul", "id": "zY5o9mP22V0"}
    - {"title": "Jesus Loves Even Me", "id": "KdGVMguMPUM"}
  playlistID: PL8c-Yg_oDsbMsd1ENBXvJcDH8XkYNdxMc

notes:
  - <a href="http://hymnary.org">Hymnary.org</a>
---

{% youtubeList melissa %}
{% youtubeList brian %}