---
layout: episode
number: 19
title: Memories
description: Brian and Melissa remember their favorite memories.
date: 2016-11-04
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 37582401
duration: '1:02:38'
tags:
  - episodes
  - personal
  - sci-fi-christian

brian:
  host: Brian
  list:
    - Scoring touchdown in flag football
    - Catching mini golf ball right in front of Mom’s face
    - Vacations in Hawaii
    - Playing football in yard with brother Matt and neighbors
    - "Visiting the mountains in Japan: skiing, climbing Mount Fuji"
    - "Dodgeball at college: playing and watching"
    - Playing Dutch Blitz late at night with siblings
    - Honeymoon in Gatlinburg, TN
    - Johnsons’ wedding
    - Pitchcar game at Dice Tower Convention
melissa:
  host: Melissa
  list:
    - Dad getting me roses for Valentine’s
    - Honeymoon in Gatlinburg, TN
    - Jumping out from behind door to scare Brian
    - Vacation with family at Westgate Resort
    - Camping and road trips with family
    - Flipping a coin on whether or not to continue hiking
    - Cosmic Encounter game at Dice Tower Convention
    - Seeing/hearing Lydia's heartbeat on ultrasound for first time
    - Laughing at college students finding chocolate milk dispenser empty
    - Adding “banana” to hymn titles with Brian

youtubeNotes:
  - {"id": "pTcxQ7ER-G0", "caption": "Philadelphia Eagles fight song, <i class='song-title'>Fly, Eagles Fly</i>"}
  - {"id": "sv0XGMCeU-I?t=25s", "caption": "Minnesota Vikings fight song, <i class='song-title'>Skol, Vikings</i> (0:25)"}
  - {"id": "uxfgY-BKi3U", "caption": "Pitchcar World Championship 2015 - Dice Tower Convention"}
---
{% list brian %}
{% list melissa %}