---
layout: episode
number: 20
title: Fictional Creatures
description: Brian and Melissa are joined by Brian’s brother Luke as they discuss their favorite fictional creatures.
date: 2016-11-11
hosts:
  - Brian
  - Melissa
  - Luke Koser
bytes: 45897449
duration: '1:16:29'
tags: ['episodes', 'animals']

brian:
  host: Brian
  list:
    - {"title": "Drop Bears", "url": "https://en.m.wikipedia.org/wiki/Drop_bear"}
    - {"title": "Chupacabra", "url": "https://en.m.wikipedia.org/wiki/Chupacabra"}
    - {"title": "Tribbles", "url": "https://en.m.wikipedia.org/wiki/Tribble"}
    - {"title": "Kraken", "url": "https://en.m.wikipedia.org/wiki/Kraken"}
    - {"title": "Rat Creatures", "url": "http://boneville.wikia.com/wiki/Rat_Creatures"}
    - {"title": "Winged Horses", "url": "https://en.m.wikipedia.org/wiki/Flying_horses"}
    - {"title": "Jackalopes", "url": "https://en.m.wikipedia.org/wiki/Jackalope"}
    - {"title": "Centaurs", "url": "https://en.m.wikipedia.org/wiki/Centaur"}
    - {"title": "Sandworms", "url": "https://en.m.wikipedia.org/wiki/Sandworm_(Dune"}
    - {"title": "Platypus Bears", "url": "http://avatar.wikia.com/wiki/Platypus_bear"}
melissa:
  host: Melissa
  list:
    - {"title": "Phoenix", "url": "https://en.m.wikipedia.org/wiki/Phoenix_(mythology)"}
    - {"title": "Darkings", "url": "http://tamorapierce.wikia.com/wiki/Darking"}
    - {"title": "Hippogriffs", "url": "https://en.m.wikipedia.org/wiki/Hippogriff"}
    - {"title": "Ents/Dryads", "url": "https://en.m.wikipedia.org/wiki/Ent"}
    - {"title": "Zoras/Merpeople", "url": "http://zelda.wikia.com/wiki/Zora"}
    - {"title": "Jinn", "url": "https://en.m.wikipedia.org/wiki/Jinn"}
    - {"title": "Weeping Angels", "url": "https://en.m.wikipedia.org/wiki/Weeping_Angel"}
    - {"title": "Fairies (Peter Pan, Artemis Fowl, Jonathan Strange &amp; Mr. Norrell)", "url": "https://en.m.wikipedia.org/wiki/Fairy"}
    - {"title": "Dragons", "url": "https://en.m.wikipedia.org/wiki/Dragon"}
    - {"title": "Gargoyles", "url": "http://disney.wikia.com/wiki/Manhattan_Clan"}
luke:
  host: Luke
  list:
    - {"title": "J’Ba Fofi", "url": "https://en.m.wikipedia.org/wiki/Jba_Fofi"}
    - {"title": "Winged Horses", "url": "https://en.m.wikipedia.org/wiki/Flying_horses"}
    - {"title": "Werewolves", "url": "https://en.m.wikipedia.org/wiki/Werewolf"}
    - {"title": "Orcs (The Lord of the Rings)", "url": "https://en.m.wikipedia.org/wiki/Orc"}
    - {"title": "Centaurs", "url": "https://en.m.wikipedia.org/wiki/Centaur"}
    - {"title": "Dino Cryptids", "url": "https://en.m.wikipedia.org/wiki/Mokele-mbembe"}
    - {"title": "Sea Serpents", "url": "https://en.m.wikipedia.org/wiki/Sea_serpent"}
    - {"title": "Griffins", "url": "https://en.m.wikipedia.org/wiki/Griffin"}
    - {"title": "Minotaurs", "url": "https://en.m.wikipedia.org/wiki/Minotaur"}
    - {"title": "Dragons", "url": "https://en.m.wikipedia.org/wiki/Dragon"}

notes:
  - <a href="http://www.victorianweb.org/authors/tennyson/kraken.html">“The Kraken”</a>, Alfred Lord Tennyson
youtubeNotes:
  - {"id": "gb2zIR2rvRQ?t=28s", "caption": "“Release the Kraken!” (0:28)"}
---
{% linkList melissa %}
{% linkList brian %}
{% linkList luke %}