---
layout: episode
number: 21
title: Bucket List Experiences
description: Melissa and Brian share the top ten things they’d like to experience.
date: 2016-11-18
hosts:
  - Brian
  - Melissa
bytes: 26327820
duration: '0:43:53'
tags: ['episodes', 'personal']

brian:
  host: Brian
  list:
    - Rappel into a cave
    - Safari
    - Whitewater rafting
    - See the Northern Lights
    - Hanglide/Parasail/Paraglide
    - Live on a boat
    - Self-driving car roadtrip
    - Relax in a natural hot spring
    - Get a book signed by one of my favorite authors
    - Sail on a sailing ship
melissa:
  host: Melissa
  list:
    - Go to space
    - Sail on sailing ship
    - Dice Tower cruise
    - Travel by sled dog
    - Sky diving
    - White water rafting through Grand Canyon
    - Play games with Flip the Table
    - Scuba diving, especially with dolphins
    - Dance in ballroom
    - See the Northern Lights

notes:
  - <a href="http://iditarod.com/about/mushing-terminology/">Mushing Terminology</a>
  - <a href="http://www.kakslauttanen.fi/en/accommodation/#glass-igloos">Kakslauttanen Arctic Resort</a> (resort in Finland with glass igloos)
  - <a href="http://howjsay.com/pronunciation-of-nebulae">How to pronounce “nebulae”</a>
---
{% list brian %}
{% list melissa %}