---
layout: episode
number: 22
title: Fast Food Restaurants
description: Brian and Melissa salivate over their favorite fast food restaurants.
date: 2016-11-25
hosts:
  - Brian
  - Melissa
bytes: 42532618
duration: '1:10:53'
tags:
  - episodes
  - food

brian:
  host: Brian
  list:
    - Krispy Kreme
    - Five Guys Burgers & Fries
    - Firehouse Subs
    - Buffalo Wild Wings
    - Pizza Hut
    - Papa John’s Pizza
    - Chik-fil-A
    - A&amp;W
    - Steak ’n Shake
    - Taco Bell
melissa:
  host: Melissa
  list:
    - Krispy Kreme
    - Dairy Queen
    - Papa John’s
    - The Drowsy Poet
    - Marble Slab
    - A&amp;W
    - Steak ’n Shake
    - Chick-fil-A
    - Panera Bread
    - Buffalo Wild Wings
---
{% list melissa %}
{% list brian %}

<h2>Notes</h2>
<div class="notes">
  {% cdnImage "chik-fil-a-cows.jpg", metadata.cdn_url, "Brian, Melissa, and Lydia dressed as cows for Chik-Fil-A’s Cow Appreciation Day", "Moo!" %}
  
  {% youtube {"id": "EBeIMckHrnk", "caption": "The Great Root Bear’s theme song, <i class='song-title'>Ba-dum Ba-dum</i>"} %}

  <p><a href="http://koser.us/recipes/cream-of-tomato-soup/">Tomato soup</a> and <a href="http://koser.us/recipes/homemade-cheesy-garlic-croutons/">Homemade Cheesy Garlic Croutons</a> recipes</p>

  <p><a href="https://www.qsrmagazine.com/reports/qsr50-2016-top-50-chart">Fast food restaurants by US sales (2015)</a></p>
</div>
