---
layout: episode
number: 23
title: Comic Book Characters
description: Melissa, Brian, and Zach Koser discuss their favorite characters from comic books.
date: 2016-12-02
hosts:
  - Brian Koser
  - Melissa Koser
  - Zach Koser
guests: true
bytes: 45866626
duration: '1:16:26'
tags:
  - episodes
  - comics
  - characters

brian:
  host: Brian
  list:
    - {"title": "The Riddler", "url": "https://en.m.wikipedia.org/wiki/Riddler"}
    - {"title": "Kitty Pryde", "url": "https://en.m.wikipedia.org/wiki/Kitty_Pryde"}
    - {"title": "Nightcrawler", "url": "https://en.m.wikipedia.org/wiki/Nightcrawler_(comics)"}
    - {"title": "The Tick", "url": "https://en.m.wikipedia.org/wiki/Tick_(comics)"}
    - {"title": "Green Lantern", "url": "https://en.m.wikipedia.org/wiki/Green_Lantern"}
    - {"title": "Captain Cold", "url": "https://en.m.wikipedia.org/wiki/Captain_Cold"}
    - {"title": "Booster Gold", "url": "https://en.m.wikipedia.org/wiki/Booster_Gold"}
    - {"title": "The Flash", "url": "https://en.m.wikipedia.org/wiki/Flash_(comics)"}
    - {"title": "Batman", "url": "https://en.m.wikipedia.org/wiki/Batman"}
    - {"title": "Spider-Man", "url": "https://en.m.wikipedia.org/wiki/Spider-Man"}
melissa:
  host: Melissa
  list:
    - {"title": "Alfred Pennyworth", "url": "https://en.m.wikipedia.org/wiki/Alfred_Pennyworth"}
    - {"title": "Blue Beetle", "url": "https://en.m.wikipedia.org/wiki/Blue_Beetle"}
    - {"title": "Spider-Man", "url": "https://en.m.wikipedia.org/wiki/Spider-Man"}
    - {"title": "Jonah Hex", "url": "https://en.m.wikipedia.org/wiki/Jonah_Hex"}
    - {"title": "Daredevil", "url": "https://en.m.wikipedia.org/wiki/Daredevil_(Marvel_Comics_character)"}
    - {"title": "The Flash (Wally West)", "url": "https://en.m.wikipedia.org/wiki/Flash_(comics)"}
    - {"title": "The Joker", "url": "https://en.m.wikipedia.org/wiki/Joker_(comics)"}
    - {"title": "Steeljack", "url": "https://en.m.wikipedia.org/wiki/Steeljack"}
    - {"title": "Batman", "url": "https://en.m.wikipedia.org/wiki/Batman"}
    - {"title": "Harrison Wells", "url": "https://en.m.wikipedia.org/wiki/Harrison_Wells"}
zach:
  host: Melissa
  list:
    - {"title": "Salvo", "url": "https://marvel.fandom.com/wiki/Salvo"}
    - {"title": "Electro", "url": "https://en.m.wikipedia.org/wiki/Electro_(Marvel_Comics)"}
    - {"title": "The Trickster", "url": "https://en.m.wikipedia.org/wiki/Trickster_(comics)"}
    - {"title": "Batman", "url": "https://en.m.wikipedia.org/wiki/Batman"}
    - {"title": "Impossible Man", "url": "https://en.m.wikipedia.org/wiki/Impossible_Man"}
    - {"title": "Thanos", "url": "https://en.m.wikipedia.org/wiki/Thanos"}
    - {"title": "Smiley Bone", "url": "https://bonecomics.fandom.com/wiki/Smiley_Bone"}
    - {"title": "The Flash", "url": "https://en.m.wikipedia.org/wiki/Flash_(comics)"}
    - {"title": "Captain America", "url": "https://en.m.wikipedia.org/wiki/Captain_America"}
    - {"title": "Spider-Man", "url": "https://en.m.wikipedia.org/wiki/Spider-Man"}

notes:
  - A Native American chief gave Jonah Hex his face scars after he killed the chief’s son in a duel.
youtubeNotes:
  - {"id": "YOooJW5SSDA", "caption": "Justice League Unlimited - Batman and Ace (pretty dark for a children’s cartoon)"}
---
{% linkList brian %}
{% linkList melissa %}
{% linkList zach %}