---
layout: episode
number: 24
title: Sci-Fi and Fantasy Characters
description: Brian and Melissa talk about their favorite characters from speculative fiction.
date: 2016-12-09
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 31066696
duration: '0:51:46'
tags:
  - episodes
  - characters

brian:
  host: Brian
  list:
    - {"title": "Sherlock Holmes", "url": "https://en.m.wikipedia.org/wiki/Sherlock_Holmes"}
    - {"title": "Taran", "url": "https://en.m.wikipedia.org/wiki/Taran_(character)"}
    - {"title": "Obi-Wan Kenobi ", "url": "https://en.m.wikipedia.org/wiki/Obi-Wan_Kenobi"}
    - {"title": "Prince Zuko", "url": "https://en.m.wikipedia.org/wiki/Zuko"}
    - {"title": "Gandalf", "url": "https://en.m.wikipedia.org/wiki/Gandalf"}
    - {"title": "Jonathan Strange", "url": "https://en.m.wikipedia.org/wiki/Jonathan_Strange_%26_Mr_Norrell"}
    - {"title": "Lord Vetinari", "url": "https://en.m.wikipedia.org/wiki/Lord_Vetinari"}
    - {"title": "Dirk Gently", "url": "https://en.m.wikipedia.org/wiki/Dirk_Gently"}
    - {"title": "Puddleglum", "url": "https://en.m.wikipedia.org/wiki/Puddleglum"}
    - {"title": "Spock", "url": "https://en.m.wikipedia.org/wiki/Spock"}
melissa:
  host: Melissa
  list:
    - {"title": "James Kirk", "url": "https://en.m.wikipedia.org/wiki/James_T._Kirk"}
    - {"title": "Robin Hood", "url": "https://en.m.wikipedia.org/wiki/Robin_Hood"}
    - {"title": "Lord Vetinari", "url": "https://en.m.wikipedia.org/wiki/Lord_Vetinari"}
    - {"title": "Sam Vimes", "url": "https://en.m.wikipedia.org/wiki/Sam_Vimes"}
    - {"title": "Mat Cauthon", "url": "https://wot.fandom.com/wiki/Matrim_Cauthon"}
    - {"title": "Prince Zuko", "url": "https://en.m.wikipedia.org/wiki/Zuko"}
    - {"title": "Samwise Gamgee", "url": "https://en.m.wikipedia.org/wiki/Samwise_Gamgee"}
    - {"title": "General Iroh", "url": "https://avatar.fandom.com/wiki/Iroh"}
    - {"title": "David Xanatos", "url": "https://en.m.wikipedia.org/wiki/David_Xanatos"}
    - {"title": "The Doctor", "url": "https://en.m.wikipedia.org/wiki/The_Doctor_(Doctor_Who)"}

youtubeNotes:
  - {"id": "KqyD8E1QATs", "caption": "Ian McKellen - DuckTales"}
---
{% linkList brian %}
{% linkList melissa %}