---
layout: episode
number: 25
title: Advice after Five Years of Marriage
description: Melissa and Brian give ten pieces of marriage advice after celebrating their fifth wedding anniversary.
date: 2016-12-17
hosts:
  - Brian
  - Melissa
bytes: 30247244
duration: '0:50:24'
tags:
  - episodes
  - personal
  - advice

combined:
  list:
    - Let your husband wind down after work.
    - Find a balance between being an individual and a teammate.
    - Pray for each other.
    - Make each other better.
    - Lose your expectations.
    - Prioritize experiences over possessions.
    - Tell your spouse if they’ve hurt you, but first evaluate to see if you’re being over-sensitive.
    - Enjoy every stage of life.
    - Never leave without saying “I love you.”
    - Women want sympathy, not solutions.

notes:
  - <a href="http://koser.us/journal/magic-thread/">Magic Thread</a>, story from <i class="book-title">The Book of Virtues</i>
youtubeNotes:
  - {"id": "7WGjk_UrPm0", "caption": "Baby How U Like Ur Eggs"}
---
{% list combined %}