---
layout: episode
number: 26
title: New Year’s Resolutions 2017
description: 
date: 2017-01-06
hosts:
  - Brian
  - Melissa
bytes: 29325374
duration: '0:48:52'
tags: ['episodes', 'personal', 'resolutions']

brian:
  host: Brian
  list:
    - Be healthier (100 Pushups, no work snacks, eggs for breakfast, added-sugar foods once per week)
    - Read 30 books (including 1000th book by his birthday)
    - Write one Thank You note per week
    - Complete three website projects
    - Eliminate physical and digital clutter (papers, clothes, pictures)
melissa:
  host: Melissa
  list:
    - Finish Skyward Sword and play board games
    - Be healthier
    - Practice piano, accordion, and harp
    - Write at least two chapters in book
    - Get up early for devotions

notes:
  - Brian was 4/6 on his 2016 resolutions.
  - Erika Rae Heins, <a href="https://www.etsy.com/listing/130549040/tolkien-quotes-notecard-set-assorted?ref=shop_home_active_37">Tolkien Quotes notecard set</a>
---
{% list melissa %}
{% list brian %}