---
layout: episode
number: 27
title: Movies 2016
description: Melissa and Brian discuss their favorite movies that they watched for the first time in 2016.
date: 2017-01-14
hosts:
  - Brian
  - Melissa
bytes: 37987041
duration: '1:03:18'
tags: ['episodes', 'movies', 'annual']

brian:
  host: Brian
  list:
    - {"title": "Star Trek Beyond", "slug": "star-trek-beyond"}
    - {"title": "Some Like It Hot", "slug": "some-like-it-hot"}
    - {"title": "Eternal Sunshine of the Spotless Mind", "slug": "eternal-sunshine-of-the-spotless-mind"}
    - {"title": "Ex Machina", "slug": "ex-machina-2015"}
    - {"title": "The Bridge on the River Kwai", "slug": "the-bridge-on-the-river-kwai"}
    - {"title": "The Apartment", "slug": "the-apartment"}
    - {"title": "Children of Men", "slug": "children-of-men"}
    - {"title": "Dark City (No link. The plot summary contains spoilers.)"}
    - {"title": "Scott Pilgrim vs. the World", "slug": "scott-pilgrim-vs-the-world"}
    - {"title": "Memento", "slug": "memento"}
melissa:
  host: Melissa
  list:
    - {"title": "Memento", "slug": "memento"}
    - {"title": "Eternal Sunshine of the Spotless Mind", "slug": "eternal-sunshine-of-the-spotless-mind"}
    - {"title": "A Fistful of Dollars", "slug": "a-fistful-of-dollars"}
    - {"title": "Dark City (No link. The plot summary contains spoilers.)"}
    - {"title": "Ex Machina", "slug": "ex-machina-2015"}
    - {"title": "The Martian", "slug": "the-martian"}
    - {"title": "Some Like It Hot", "slug": "some-like-it-hot"}
    - {"title": "What About Bob?", "slug": "what-about-bob"}
    - {"title": "Edge of Tomorrow", "slug": "edge-of-tomorrow"}
    - {"title": "Star Trek Beyond", "slug": "star-trek-beyond"}

notes:
  - <a href="https://letterboxd.com//bkoser/year/2016/">Brian’s 2016 in review on Letterboxd</a>
---
{% movieList brian %}
{% movieList melissa %}