---
layout: episode
number: 28
title: Books 2016
description: Brian and Melissa discuss their favorite books that they read for the first time in 2016.
date: 2017-01-20
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 60761897
duration: '1:41:16'
tags:
  - episodes
  - books
  - annual

brian:
  host: Brian
  list:
    - {"title": "Dune", "review": "1165502787"}
    - {"title": "The Prestige", "review": "1579505965"}
    - {"title": "Mere Christianity", "review": "1599830425"}
    - {"title": "We Have Always Lived in the Castle", "review": "1414444075"}
    - {"title": "Inferno", "review": "1610884523"}
    - {"title": "Dimension of Miracles", "review": "1414441312"}
    - [{"title": "The Iliad", "review": "1734581881"}, {"title": "The Odyssey", "review": "1820893679"}]
    - {"title": "A Canticle for Leibowitz", "review": "1773483896"}
    - {"title": "The Anubis Gates", "review": "1414419125"}
    - {"title": "Anathem", "review": "1414441312"}
melissa:
  host: Melissa
  list:
    - {"title": "The Phantom Tollbooth", "review": "1596429700"}
    - {"title": "Magician: Apprentice", "review": "1615237374"}
    - {"title": "The Hitchhiker’s Guide to the Galaxy", "book": "11.The_Hitchhiker_s_Guide_to_the_Galaxy"}
    - {"title": "Three Men in a Boat", "book": "4921.Three_Men_in_a_Boat"}
    - {"title": "Wyrd Sisters", "review": "1610834533"}
    - {"title": "Eating on the Wild Side", "review": "1595136211"}
    - {"title": "Pride and Prejudice", "review": "1768049318"}
    - {"title": "Reaper Man", "review": "1610835391"}
    - {"title": "Paradise Lost", "book": "15997.Paradise_Lost"}
    - {"title": "The Amazing Spider-Man, issues 1-30", "book": "754022.Marvel_Masterworks"}

notes:
  - <a href="https://www.goodreads.com/user/show/4812558-brian-koser">Brian</a> on Goodreads
  - <a href="https://www.goodreads.com/user/show/54340861-melissa">Melissa</a> on Goodreads
  - The term I was trying to remember was <a href="https://en.m.wikipedia.org/wiki/Frame_story">frame story</a>.
---
{% bookList melissa %}
{% bookList brian %}