---
layout: episode
number: 29
title: Board Games 2016
description: Melissa, Brian, and special guest Jay Champagne discuss their favorite board games as of the end of 2016.
date: 2017-01-29
hosts:
  - Brian Koser
  - Melissa Koser
  - Jay Champagne
guests: true
bytes: 69182213
duration: '1:55:18'
tags:
  - episodes
  - board-games
  - annual
  - guest

brian:
  host: Brian
  list:
    - {"title": "Castles of Mad King Ludwig", "id": "155426"}
    - {"title": "Balderdash", "id": "163"}
    - {"title": "Roll for the Galaxy", "id": "132531"}
    - {"title": "Seasons", "id": "108745"}
    - {"title": "Caverna", "id": "102794"}
    - {"title": "Dungeon Petz", "id": "97207"}
    - {"title": "Viticulture", "id": "128621"}
    - {"title": "T.I.M.E. Stories", "id": "146508"}
    - {"title": "Pandemic Legacy: Season 1", "id": "161936"}
    - {"title": "Cosmic Encounter", "id": "39463"}
melissa:
  host: Melissa
  list:
    - {"title": "Seasons", "id": "108745"}
    - {"title": "Euphoria: Build a Better Dystopia", "id": "133848"}
    - {"title": "Quoridor", "id": "624"}
    - {"title": "Sheriff of Nottingham", "id": "157969"}
    - {"title": "Dice Town", "id": "40793"}
    - {"title": "Alchemists", "id": "161970"}
    - {"title": "Risk: Star Wars Edition", "id": "183880"}
    - {"title": "Shadows Over Camelot", "id": "15062"}
    - {"title": "Cosmic Encounter", "id": "39463"}
    - {"title": "T.I.M.E. Stories", "id": "146508"}
jay:
  host: Jay
  list:
    - {"title": "Caverna", "id": "102794"}
    - {"title": "Core Worlds", "id": "98351"}
    - {"title": "Village", "id": "104006"}
    - {"title": "Concordia", "id": "124361"}
    - {"title": "Trains", "id": "121408"}
    - {"title": "Pandemic Legacy: Season 1", "id": "161936"}
    - {"title": "Alchemists", "id": "161970"}
    - {"title": "Scythe", "id": "169786"}
    - {"title": "Alien Frontiers", "id": "48726"}
    - {"title": "Mage Knight", "id": "96848"}


notes:
  - <abbr>GIRLBOPOLA</abbr> - Games I Really Liked But Only Played Once Long Ago
---
{% boardGameList brian %}
{% boardGameList melissa %}
{% boardGameList jay %}