---
layout: episode
number: 30
title: Animated Movie Characters
description: Brian, Melissa, and special guest Megan Koser discuss their favorite characters from animated movies.
date: 2017-02-03
hosts:
  - Brian Koser
  - Melissa Koser
  - Megan Koser
guests: true
bytes: 48576834
duration: '1:20:57'
tags:
  - episodes
  - movies
  - characters
  - guest

brian:
  host: Brian
  list:
    - {"character": "Sid the Sloth", "title": "Ice Age", "slug": "ice-age"}
    - {"character": "Rapunzel", "title": "Tangled", "slug": "tangled-2010"}
    - {"character": "Megamind", "title": "Megamind", "slug": "megamind"}
    - {"character": "Ginger", "title": "Chicken Run", "slug": "chicken-run"}
    - {"character": "Buzz Lightyear", "title": "Toy Story", "slug": "toy-story"}
    - {"character": "Tigger", "title": "The Many Adventures of Winnie the Pooh", "slug": "the-many-adventures-of-winnie-the-pooh"}
    - {"character": "Belle", "title": "Beauty and the Beast", "slug": "beauty-and-the-beast-1991"}
    - {"character": "Wilbur", "title": "The Rescuers Down Under", "slug": "the-rescuers-down-under"}
    - {"character": "Mike Wazowski", "title": "Monsters, Inc.", "slug": "monsters-inc"}
    - {"character": "Baloo", "title": "The Jungle Book", "slug": "the-jungle-book"}
melissa:
  host: Melissa
  list:
    - {"character": "Remy the Rat", "title": "Ratatouille", "slug": "ratatouille"}
    - {"character": "Sully", "title": "Monsters, Inc.", "slug": "monsters-inc"}
    - {"character": "Baloo", "title": "The Jungle Book", "slug": "the-jungle-book"}
    - {"character": "Roger Radcliffe", "title": "One Hundred and One Dalmatians", "slug": "one-hundred-and-one-dalmatians"}
    - {"character": "Merlin", "title": "The Sword in the Stone", "slug": "the-sword-in-the-stone"}
    - {"character": "Jack Frost", "title": "Rise of the Guardians", "slug": "rise-of-the-guardians"}
    - {"character": "Scar", "title": "The Lion King", "slug": "the-lion-king"}
    - {"character": "Megamind", "title": "Megamind", "slug": "megamind"}
    - {"character": "Aladdin", "title": "Aladdin", "slug": "aladdin"}
    - {"character": "Mulan", "title": "Mulan", "slug": "mulan"}
megan:
  host: Megan
  list:
    - {"character": "Rufus", "title": "The Rescuers", "slug": "the-rescuers"}
    - {"character": "Jean Bob", "title": "The Swan Princess", "slug": "the-swan-princess"}
    - {"character": "Kronk", "title": "The Emperor's New Groove", "slug": "the-emperors-new-groove"}
    - {"character": "Flynn Rider", "title": "Tangled", "slug": "tangled-2010"}
    - {"character": "Prince Phillip", "title": "Sleeping Beauty", "slug": "sleeping-beauty"}
    - {"character": "Woody", "title": "Toy Story", "slug": "toy-story"}
    - {"character": "Robin Hood", "title": "Robin Hood", "slug": "robin-hood"}
    - {"character": "Basil of Baker Street", "title": "The Great Mouse Detective", "slug": "the-great-mouse-detective"}
    - {"character": "Captain Hook", "title": "Peter Pan", "slug": "peter-pan"}
    - {"character": "The Beast", "title": "Beauty and the Beast", "slug": "beauty-and-the-beast-1991"}
---
{% movieList melissa %}
{% movieList brian %}
{% movieList megan %}