---
layout: episode
number: 31
title: Bible Characters
description: Brian and Melissa discuss their favorite Bible characters.
date: 2017-02-11
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 48576834
duration: '1:07:27'
tags:
  - episodes
  - christian
  - characters

brian:
  host: Brian
  list:
    - Samuel
    - Abraham
    - Joseph
    - Thomas
    - Elijah
    - Moses
    - Noah
    - Paul
    - David
    - Daniel
melissa:
  host: Melissa
  list:
    - Esther
    - Caleb
    - Joseph
    - Peter
    - Elijah, Elisha
    - Abigail
    - Samson
    - Job
    - Paul
    - David

notes:
  - "<a href='https://www.biblegateway.com/passage/?search=numbers+14%3A9&version=KJV'>Numbers 14:9</a> Only rebel not ye against the Lord, neither fear ye the people of the land; for they are bread for us: their defence is departed from them, and the Lord is with us: fear them not.</li>"
---
{% list brian %}
{% list melissa %}