---
layout: episode
number: 32
title: Moral Dilemmas
description: Brian submits ten moral dilemmas to Melissa.
date: 2017-02-18
hosts:
  - Brian
  - Melissa
bytes: 29832256
duration: '0:49:42'
tags:
  - episodes
  - ethics
  - recommended
  
combined:
  list:
    - <a href="https://en.m.wikipedia.org/wiki/Trolley_problem">The Trolley Problem</a>
    - <a href="https://en.m.wikipedia.org/wiki/Trolley_problem#The_fat_man">The Fat Man</a>
    - <a href="https://en.m.wikipedia.org/wiki/Trolley_problem#The_loop_variant">The Loop Variant</a>
    - <a href="https://en.m.wikipedia.org/wiki/Trolley_problem#Transplant">Transplant</a>
    - The Mad Bomber (Is torture ever morally justified?)
    - <a href="https://en.m.wikipedia.org/wiki/Tunnel_problem">The Tunnel Problem</a>
    - Concentration Camp
    - Price of a Life (How much is a human life worth?)
    - <a href="https://en.m.wikipedia.org/wiki/A_Defense_of_Abortion#The_violinist">The Violinist</a>
    - The Neighbor (Is it just to let someone be punished for a crime they didn't commit, if they escaped punishment for a previous crime?)

notes:
  - <a href="https://youtu.be/VdyKAIhLdNs">Milton Friedman gives an interesting take on "The Price of a Life" in this real-life scenario.</a>
  - <a href="http://thetorchblog.net/?p=996">How a Formerly Pro-Choice Nursing Instructor Discusses Abortion with her Students</a>
  - <a href="http://liveactionnews.org/raped-women-who-had-their-babies-defy-pro-choice-stereotypes/">Raped women who had their babies defy pro-choice stereotypes</a>
  - <a href="https://boardgamegeek.com/boardgame/18803/black-stories">Dark Stories</a> (also called Black Stories)
youtubeNotes:
  - {"id": "QV2DaY4hLUI", "caption": "The Tick - The Evil Midnight Bomber"}
---
{% list combined %}