---
layout: episode
number: 33
title: Flavor Combos
description: Melissa and Brian list their favorite food and flavor combinations.
date: 2017-02-25
hosts:
  - Brian
  - Melissa
bytes: 21038014
duration: '0:35:04'
tags:
  - episodes
  - food

brian:
  host: Brian
  list:
    - Pizza and Ranch
    - Eggs and Salsa
    - Beef and Cheddar
    - Tuna and French Fried Onions
    - Coke and Orange Juice
    - Cookies and Milk
    - Oreos and Ice Cream
    - Hot Sauce and Ranch
    - Chocolate and Mint
    - Chocolate and Peanut Butter
melissa:
  host: Melissa
  list:
    - Coffee and donuts
    - Marshmallow, chocolate, and graham crackers
    - Dark chocolate and mint, or fruit, or coffee, or peanut butter
    - Strawberries and cream
    - Lemon and seafood
    - Pizza and Coke
    - Ranch dressing and hot wings
    - Warm cookies and milk
    - Butter and potatoes
    - Cheese and tomato sauce

notes:
  - <a href="http://koser.us/recipes/brians-mashed-potatoes/">Brian’s Mashed Potatoes recipe</a>
---
{% list brian %}
{% list melissa %}