---
layout: episode
number: 34
title: Reasons LOST is Great
description: Brian and Melissa discuss the television show LOST, with full spoilers.
date: 2017-03-03
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 43154071
duration: '1:11:55'
tags:
  - episodes
  - tv
  - lost-month

combined:
  host: Totally Not Shoehorned Top Ten
  list:
    - Season 1
    - Season 2
    - Season 3
    - Season 4
    - Season 5
    - Season 6
    - Setting
    - Characters
    - Mysteries
    - Themes
---
{% list combined %}