---
layout: episode
number: 35
title: LOST Characters
description: Melissa and Brian list their favorite characters from the TV show LOST.
date: 2017-03-11
hosts:
  - Brian
  - Melissa
bytes: 52059730
duration: '1:26:46'
tags: ['episodes', 'tv', 'lost-month', 'characters']

brian:
  host: Brian
  list:
    - {"title": "Jack Shephard", "url": "http://lostpedia.wikia.com/wiki/Jack_Shephard"}
    - {"title": "Mr. Eko", "url": "http://lostpedia.wikia.com/wiki/Eko"}
    - {"title": "Sayid Jarrah", "url": "http://lostpedia.wikia.com/wiki/Sayid_Jarrah"}
    - {"title": "James “Sawyer” Ford", "url": "http://lostpedia.wikia.com/wiki/James_%22Sawyer%22_Ford"}
    - {"title": "Miles Straume", "url": "http://lostpedia.wikia.com/wiki/Miles_Straume"}
    - {"title": "Desmond Hume", "url": "http://lostpedia.wikia.com/wiki/Desmond_Hume"}
    - {"title": "Charlie Pace", "url": "http://lostpedia.wikia.com/wiki/Charlie_Pace"}
    - {"title": "Hugo “Hurley” Reyes", "url": "http://lostpedia.wikia.com/wiki/Hugo_%22Hurley%22_Reyes"}
    - {"title": "John Locke", "url": "http://lostpedia.wikia.com/wiki/John_Locke"}
    - {"title": "Benjamin Linus", "url": "http://lostpedia.wikia.com/wiki/Benjamin_Linus"}
melissa:
  host: Melissa
  list:
    - {"title": "John Locke", "url": "http://lostpedia.wikia.com/wiki/John_Locke"}
    - {"title": "Mr. Eko", "url": "http://lostpedia.wikia.com/wiki/Eko"}
    - {"title": "Desmond Hume", "url": "http://lostpedia.wikia.com/wiki/Desmond_Hume"}
    - {"title": "Sayid Jarrah", "url": "http://lostpedia.wikia.com/wiki/Sayid_Jarrah"}
    - {"title": "Mikhail Bakunin", "url": "http://lostpedia.wikia.com/wiki/Mikhail_Bakunin"}
    - {"title": "Juliet Burke", "url": "http://lostpedia.wikia.com/wiki/Juliet_Burke"}
    - {"title": "Charlie Pace", "url": "http://lostpedia.wikia.com/wiki/Charlie_Pace"}
    - {"title": "Benjamin Linus", "url": "http://lostpedia.wikia.com/wiki/Benjamin_Linus"}
    - {"title": "James “Sawyer” Ford", "url": "http://lostpedia.wikia.com/wiki/James_%22Sawyer%22_Ford"}
    - {"title": "Hugo “Hurley” Reyes", "url": "http://lostpedia.wikia.com/wiki/Hugo_%22Hurley%22_Reyes"}

youtubeNotes:
  - {"id": "yXRbmuPrsWw", "caption": "Martin Keamy makes good eggs"}
---
{% linkList brian %}
{% linkList melissa %}