---
layout: episode
number: 36
title: LOST Episodes
description: Brian and Melissa choose their favorite episodes from the TV show LOST.
date: 2017-03-18
hosts:
  - Brian
  - Melissa
bytes: 62675369
duration: '1:44:27'
tags: ['episodes', 'tv', 'lost-month']

brian:
  host: Brian
  list:
    - {"title": "Some Like It Hoth (S5 E13)", "url": "http://lostpedia.wikia.com/wiki/Some_Like_It_Hoth"}
    - {"title": "The Long Con (S2 E13)", "url": "http://lostpedia.wikia.com/wiki/Long_Con"}
    - {"title": "The Constant (S4 E05)", "url": "http://lostpedia.wikia.com/wiki/The_Constant"}
    - {"title": "The Man Behind the Curtain (S3 E20)", "url": "http://lostpedia.wikia.com/wiki/The_Man_Behind_the_Curtain"}
    - {"title": "Through the Looking Glass (S3 E22)", "url": "http://lostpedia.wikia.com/wiki/Through_the_Looking_Glass"}
    - {"title": "Walkabout (S1 E04)", "url": "http://lostpedia.wikia.com/wiki/Walkabout"}
    - {"title": "Dr. Linus (S6 E07)", "url": "http://lostpedia.wikia.com/wiki/Dr._Linus"}
    - {"title": "The End (S6 E17)", "url": "http://lostpedia.wikia.com/wiki/The_End"}
    - {"title": "Orientation (S2 E03)", "url": "http://lostpedia.wikia.com/wiki/Orientation"}
    - {"title": "Deus Ex Machina (S1 E19)", "url": "http://lostpedia.wikia.com/wiki/Deus_Ex_Machina"}
melissa:
  host: Melissa
  list:
    - {"title": "Hearts and Minds (S1 E13)", "url": "http://lostpedia.wikia.com/wiki/Hearts_and_Minds"}
    - {"title": "Exposé (S3 E14)", "url": "http://lostpedia.wikia.com/wiki/Expose"}
    - {"title": "Numbers (S1 E18)", "url": "http://lostpedia.wikia.com/wiki/Numbers_(episode)"}
    - {"title": "Two for the Road (S2 E20)", "url": "http://lostpedia.wikia.com/wiki/Two_for_the_Road"}
    - {"title": "The Constant (S4 E05)", "url": "http://lostpedia.wikia.com/wiki/The_Constant"}
    - {"title": "Lockdown (S2 E17)", "url": "http://lostpedia.wikia.com/wiki/Lockdown"}
    - {"title": "All the Best Cowboys Have Daddy Issues (S1 E11)", "url": "http://lostpedia.wikia.com/wiki/All_the_Best_Cowboys_Have_Daddy_Issues"}
    - {"title": "Ab Aeterno (S6 E09)", "url": "http://lostpedia.wikia.com/wiki/Ab_Aeterno"}
    - {"title": "Dr. Linus (S6 E07)", "url": "http://lostpedia.wikia.com/wiki/Dr._Linus"}
    - {"title": "Exodus, Part 2 (S1 E24)", "url": "http://lostpedia.wikia.com/wiki/Exodus,_Part_2"}
---
{% linkList melissa %}
{% linkList brian %}