---
layout: episode
number: 37
title: LOST Moments
description: Melissa and Brian discuss their favorite moments from the TV show LOST.
date: 2017-03-25
hosts:
  - Brian
  - Melissa
bytes: 32193344
duration: '0:53:39'
tags: ['episodes', 'tv', 'lost-month']

brian:
  host: Brian
  list:
    - {"title": "“You guys got any milk?” (The Whole Truth - S2 E16)", "id": "ukpbHKffV6g"}
    - {"title": "Jack passes the mantle of Protector of the Island to Hurley (The End - S6 E17)", "id": "aRFPV2FJr0U"}
    - {"title": "Ilana forgives Ben (Dr. Linus - S6 E07)", "id": "oGjdg_eSeFA"}
    - {"title": "Ben outside the church (The End - S6 E17)", "id": "4L5tcJMswh0"}
    - {"title": "“There’s a new sheriff in town, boys.” (The Long Con - S2 E13)", "id": "F-JHAKTvB1c"}
    - {"title": "Not Penny’s Boat (Through the Looking Glass, Part 2 - S3 E23)", "id": "5IW1n_-UP88"}
    - {"title": "Boarding Flight 815 montage (Exodus, Part 2 - S1 E24)", "id": "UHP2QavTSUA"}
    - {"title": "Hurley starts the bus (Tricia Tanaka Is Dead - S3 E10)", "id": "WzW1n-1TXF4"}
    - {"title": "Hurley shares a candy bar with Ben (Cabin Fever - S4 E11)", "id": "8e03W3OwyXc"}
    - {"title": "Locke beats on the hatch (Deus Ex Machina - S1 E19)", "id": "BG_LNPb2JFM"}
melissa:
  host: Melissa
  list:
    - {"title": "Charlie says he knows he’ll die (Through the Looking Glass, Part 2 - S3 E23)", "id": "qJM6zi-ef84"}
    - {"title": "Jack vows to kill Locke; Kate shoots Locke (The End - S6 E17)", "id": "Fwj8pqtiWlE"}
    - {"title": "Locke saves Juliet from getting hand cut off (The Lie - S5 E02)", "id": "NDdHZyPf4To"}
    - {"title": "Ben tells Juliet she belongs to him; Ben is free and walking with laundry (The Other Woman - S4 E06)", "id": "8yMfPRX_Z0E"}
    - {"title": "Jack catches and spikes football (Par Avion - S3 E12)", "id": "u0xPXsJvQcI"}
    - {"title": "Hurley starts the bus (Tricia Tanaka Is Dead - S3 E10)", "id": "WzW1n-1TXF4"}
    - {"title": "Ethan kidnaps Claire (Raised by Another - S1 E10)", "id": "m1qP7Ah27Hk"}
    - {"title": "Rousseau and Alex die (The Shape of Things to Come - S4 E09)", "id": "eGVRQ4_Oqas"}
    - {"title": "Smoke monster kills Jacob’s followers (Because You Left - S6 E01)", "id": "DaVLwIu4MeE"}
    - {"title": "Ilana forgives Ben (Dr. Linus - S6 E07)", "id": "oGjdg_eSeFA"}
---
{% youtubeList brian %}
{% youtubeList melissa %}