---
layout: episode
number: 38
title: Grunts
description: Brian shares his ten favorite grunts with Melissa and the world.
date: 2017-04-01
hosts:
  - Brian
  - Melissa
bytes: 2813420
duration: '0:04:41'
tags: ['episodes', 'april-fools']

brian:
  host: Brian
  list:
    - *grunting noise*
    - *grunting noise*
    - *grunting noise*
    - *grunting noise*
    - *grunting noise*
    - *grunting noise*
    - *grunting noise*
    - *grunting noise*
    - *grunting noise*
    - *grunting noise*
---
{% list brian %}