---
layout: episode
number: 39
title: Sports
description: Brian and guest host Matt Koser discuss their favorite sports to play and watch.
date: 2017-04-07
hosts:
  - Brian
  - Matt Koser
bytes: 62028831
duration: '1:43:23'
tags:
  - episodes
  - sports

brian:
  host: Brian
  list:
    - {"title": "Paintball", "url": "https://en.m.wikipedia.org/wiki/Paintball"}
    - {"title": "Disc Golf", "url": "https://en.m.wikipedia.org/wiki/Disc_golf"}
    - {"title": "Volleyball", "url": "https://en.m.wikipedia.org/wiki/Volleyball"}
    - {"title": "Dodgeball", "url": "https://en.m.wikipedia.org/wiki/Dodgeball"}
    - {"title": "Skiing", "url": "https://en.m.wikipedia.org/wiki/Skiing"}
    - {"title": "Ping Pong", "url": "https://en.m.wikipedia.org/wiki/Table_tennis"}
    - {"title": "Racquetball", "url": "https://en.m.wikipedia.org/wiki/Racquetball"}
    - {"title": "Ice Hockey", "url": "https://en.m.wikipedia.org/wiki/Ice_hockey"}
    - {"title": "American Football", "url": "https://en.m.wikipedia.org/wiki/American_football"}
    - {"title": "Baseball/Softball/Kickball", "url": "https://en.m.wikipedia.org/wiki/Baseball"}
matt:
  host: Matt Koser
  list:
    - {"title": "Rugby Union", "url": "https://en.m.wikipedia.org/wiki/Rugby_union"}
    - {"title": "Volleyball", "url": "https://en.m.wikipedia.org/wiki/Volleyball"}
    - {"title": "Basketball", "url": "https://en.m.wikipedia.org/wiki/Basketball"}
    - {"title": "Skeet Shooting", "url": "https://en.m.wikipedia.org/wiki/Skeet_shooting"}
    - {"title": "Ice Hockey", "url": "https://en.m.wikipedia.org/wiki/Ice_hockey"}
    - {"title": "Paintball", "url": "https://en.m.wikipedia.org/wiki/Paintball"}
    - {"title": "Baseball", "url": "https://en.m.wikipedia.org/wiki/Baseball"}
    - {"title": "Racquetball", "url": "https://en.m.wikipedia.org/wiki/Racquetball"}
    - {"title": "Ultimate (Football or Frisbee)", "url": "https://en.m.wikipedia.org/wiki/Ultimate_(sport)"}
    - {"title": "American Football", "url": "https://en.m.wikipedia.org/wiki/American_football"}
---
{% linkList brian %}
{% linkList matt %}