---
layout: episode
number: 40
title: 1000 Books
description: Brian met his 1000 book goal, so he discusses the books he's read, highlighting every hundredth book.
date: 2017-04-15
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 27451595
duration: '0:45:45'
tags: 
  - episodes
  - books

brian:
  host: Brian
  list:
    - {"title": "Mike Schmidt, Baseball’s Young Lion", "book": "2486420.Mike_Schmidt_Baseball_s_Young_Lion"}
    - {"title": "Redwall", "book": "281954.Redwall"}
    - {"title": "Lord Brocktree", "book": "281961.Lord_Brocktree"}
    - {"title": "Captain’s Peril", "book": "217644.Captain_s_Peril"}
    - {"title": "Murder on the Orient Express", "book": "2503160.Murder_on_the_Orient_Express"}
    - {"title": "The Hitchhiker’s Guide to the Galaxy", "book": "11.The_Hitchhiker_s_Guide_to_the_Galaxy"}
    - {"title": "Ultimate Spider-Man, Volume 1: Power and Responsibility", "book": "105920.Ultimate_Spider_Man_Volume_1"}
    - {"title": "The Princess Bride", "book": "21787.The_Princess_Bride"}
    - {"title": "Bertie Wooster Sees it Through", "book": "333806.Bertie_Wooster_Sees_It_Through"}
    - {"title": "The Republic", "book": "30289.The_Republic"}

youtubeNotes:
  - {"id": "EA0ziLh7y78", "caption": "The Harty Boys"}
  - {"id": "tOltAxX_KKA", "caption": "<i class='movie-title'>The Hitchhiker’s Guide to the Galaxy</i> teaser trailer"}
---
{% bookList brian %}