---
layout: episode
number: 41
title: Movie and TV Moments that Made Me Cry
description: Melissa talks about ten movie and TV moments that made her cry. Brian talks about ten movie and TV moments that were sad but didn't necessarily make him cry.
date: 2017-04-22
hosts:
  - Brian
  - Melissa
bytes: 29204957
duration: '0:48:40'
tags:
  - episodes
  - movies
  - tv

brian:
  host: Brian
  list:
    - {"title": "Twilight Zone, Changing of the Guard (S3 E37)", "url": "https://www.themoviedb.org/tv/6357-the-twilight-zone/season/3/episode/37", "comment": "Professor sees former students"}
    - {"title": "Frosty the Snowman", "url": "https://letterboxd.com/film/frosty-the-snowman/", "comment": "Frosty melts"}
    - {"title": "Monsters, Inc.", "url": "https://www.themoviedb.org/movie/585-monsters-inc", "comment": "Sully leaves Boo"}
    - {"title": "Doctor Who, The End of Time - Part 2", "url": "https://www.themoviedb.org/tv/57243-doctor-who/season/0/episode/17", "comment": "Ten regenerates"}
    - {"title": "The Fox and The Hound", "url": "https://letterboxd.com/film/the-fox-and-the-hound/", "comment": "Setting Todd free"}
    - {"title": "Field of Dreams", "url": "https://letterboxd.com/film/field-of-dreams/", "comment": "Roy playing catch with his dad"}
    - {"title": "LOST, Through the Looking Glass (S3 E22)", "url": "http://lostpedia.wikia.com/wiki/Through_the_Looking_Glass", "comment": "Charlie dies"}
    - {"title": "Star Trek II: The Wrath of Khan", "url": "https://letterboxd.com/film/star-trek-ii-the-wrath-of-khan/", "comment": "Spock dies"}
    - {"title": "Inside Out", "url": "https://letterboxd.com/film/inside-out-2015/", "comment": "Bing Bong’s sacrifice"}
    - {"title": "Schindler’s List", "url": "https://letterboxd.com/film/schindlers-list/", "comment": "Schindler leaving the factory"}
melissa:
  host: Melissa
  list:
    - {"title": "The Green Mile", "url": "https://letterboxd.com/film/the-green-mile/", "comment": "John’s dream, Paul’s ending narration"}
    - {"title": "Sherlock, The Lying Detective (S4 E2)", "url": "https://www.themoviedb.org/tv/19885-sherlock/season/4/episode/2", "comment": "Sherlock hugs Watson"}
    - {"title": "Courageous", "url": "https://letterboxd.com/film/courageous/", "comment": "Dad does daughter’s dance"}
    - {"title": "Titanic", "url": "https://letterboxd.com/film/titanic-1997/", "comment": "Jack freezes so Rose can live, mother tucking children into bed, mother frozen with infant in arms"}
    - {"title": "LOST, Ab Aeterno (S6 E09)", "url": "http://lostpedia.wikia.com/wiki/Ab_Aeterno", "comment": "Richard hears wife’s words through Hurley"}
    - {"title": "Scrooge", "url": "https://letterboxd.com/film/scrooge-1970/", "comment": "Scrooge singing “You…You”"}
    - {"title": "Doctor Who, Father’s Day (S1 E08)", "url": "https://www.themoviedb.org/tv/57243-doctor-who/season/1/episode/8", "comment": "Rose’s father dies"}
    - {"title": "The Lord of the Rings: The Return of the King", "url": "https://letterboxd.com/film/the-lord-of-the-rings-the-return-of-the-king/", "comment": "Sam carries Frodo"}
    - {"title": "Up", "url": "https://letterboxd.com/film/up/", "comment": "Ellie can’t have children, Ellie dies"}
    - {"title": "Schindler’s List", "url": "https://letterboxd.com/film/schindlers-list/", "comment": "Elderly’s gratitude at being poisoned, children are taken away in trucks from parents"}
---
{% linkList brian %}
{% linkList melissa %}