---
layout: episode
number: 42
title: Financial Pointers
description: Brian presents financial advice for college graduates.
date: 2017-04-29
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 48578917
duration: '1:20:58'
tags:
  - episodes
  - finances

brian:
  host: Brian
  list:
    - Honor God with your money
    - Be generous to others
    - Have financial goals
    - Pay off your debts
    - Build credit
    - Budget
    - Start an emergency fund
    - Be frugal
    - Save for retirement
    - Be careful when buying a house
---
{% list brian %}