---
layout: episode
number: 43
title: Kitchen Essentials
description: Melissa shares her essential kitchen items for recent college graduates.
date: 2017-05-07
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 21030966
duration: '0:35:02'
tags:
  - episodes
  - food

melissa:
  host: Melissa
  list:
    - Quality cooking pots
    - Knives and cutting boards
    - Measuring spoons and cups
    - Storage containers
    - Flour, sugar, baking powder, baking soda
    - Butter, olive oil, salt, pepper
    - Eggs, milk, bread
    - Cleaning items
    - Can opener, cheese grater, mixing bowls, stirring spoons
    - The Internet
---
{% list melissa %}