---
layout: episode
number: 44
title: Pop Culture Quotes
description: Brian and Melissa share the pop cultures lines that they most often quote.
date: 2017-05-14
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 20020550
duration: '0:33:22'
tags:
  - episodes
  - tv
  - movies
  - youtube

brian:
  host: Brian
  list:
    - {"title": "“So you claim.”, Ali G with Shaqille O’Neill", "id": "qyVRCB6_rmU", "timestamp": "5:52"}
    - {"title": "“I want a big one!”, <i class='movie-title'>It’s A Wonderful Life</i>", "id": "FqKAcoYQhuE"}
    - {"title": "“Watch my speed!”, <i class='movie-title'>Willie Wonka and the Chocolate Factory</i>", "id": "29_uSlEEPSk", "timestamp": "1:36"}
    - {"title": "“Oh, no!”, <i class='movie-title'>How the Grinch Stole Christmas</i>", "id": "Ak6Pr5VdmK8", "timestamp": "4:38"}
    - {"title": "“Didja?”, <i class='movie-title'>The Rescuers Down Under</i>", "id": "rHmjiPLpKVk"}
    - {"title": "“You never can tell with bees.”, <i class='movie-title'>The Many Adventures of Winnie the Pooh</i>", "id": "aYqA58N3sEE", "timestamp": "3:30"}
    - {"title": "“No is no is no.”, <i class='movie-title'>The Rescuers Down Under</i>", "id": "amm02KaKDBM", "timestamp": "1:09"}
    - {"title": "“Who outsmarted who, who who outsmarted who.”, <i class='movie-title'>The Rescuers Down Under</i>", "id": "9U6oqFCE440", "timestamp": "3:40"}
    - {"title": "“It is a clue, Frank!”, The Harty Boys", "id": "EA0ziLh7y78"}
    - {"title": "“These are not, Joanna eggs!”, <i class='movie-title'>The Rescuers Down Under</i>", "id": "wfQTabN7LIQ"}
melissa:
  host: Melissa
  list:
    - {"title": "“Two alone people. Together…alone.”, <i class='tv-title'>The Legend of Korra</i>"}
    - {"title": "“Baby steps.”, <i class='movie-title'>What About Bob?</i>", "id": "Yl6s6DGapug"}
    - {"title": "“I made a difference to that one!”, cheesy starfish story commercial"}
    - {"title": "“Spicy!”, Flip the Table commercial starring Chaz Marler"}
    - {"title": "“It gives us something to think about, something to drink about!”, <i class='movie-title'>Fiddler on the Roof</i>", "id": "YjEDgvNP0NU"}
    - {"title": "“What are you sinking about?”, <i class='movie-title'>Berlitz commercial</i>", "id": "yR0lWICH3rY"}
    - {"title": "“It’s a free country, apparently.”, <i class='tv-title'>Arrow</i>"}
    - {"title": "“I know not these names, Eustace.”, <i class='book-title'>The Chronicles of Narnia: The Last Battle</i>"}
    - {"title": "“Suck iiiit!”, <i class='tv-title'>Psych</i>", "id": "ZY-SbKUKxt4"}
    - {"title": "“It’s going out that way.”, Brian Regan", "id": "LBko_3wT44Q"}
---
{% youtubeList brian %}
{% youtubeList melissa %}