---
layout: episode
number: 45
title: Super Characteristics of My Spouse
description: Melissa and Brian imagine what each other would be like as a superhero or supervillain.
date: 2017-05-26
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 12537007
duration: '0:20:53'
tags:
  - episodes
  - superheroes
  - personal

brian:
  host: Brian
  list:
    - Wear bright colors (hero)
    - Have a lot of henchmen (villain)
    - Execute the henchmen that displeased you (villain)
    - Cackle (villain)
    - The hero’s best friend (villain)
melissa:
  host: Melissa
  list:
    - He would always get his man (hero) or achieve his goal (villain)
    - No one would suspect him
    - His power would be in words and coercion
    - His tasks would seem unpredictable and unconnected
    - Mastermind (villain)
---
{% list brian %}
{% list melissa %}