---
layout: episode
number: 46
title: Breakfast Cereals
description: Brian and Melissa discuss the breakfast cereals they find the tastiest.
date: 2017-05-27
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 34767716
duration: '0:57:57'
tags:
  - episodes
  - food
  - featured

brian:
  host: Brian
  list:
    - {"title": "Frosted Mini-Wheats", "url": "http://mrbreakfast.com/cereal_detail.asp?id=149" }
    - {"title": "Golden Grahams", "url": "http://mrbreakfast.com/cereal_detail.asp?id=168" }
    - {"title": "Peanut Butter Crunch", "url": "http://mrbreakfast.com/cereal_detail.asp?id=273" }
    - {"title": "Apple Cinnamon Cheerios", "url": "http://mrbreakfast.com/cereal_detail.asp?id=12" }
    - {"title": "Honey Crunch Corn Flakes", "url": "http://mrbreakfast.com/cereal_detail.asp?id=201" }
    - {"title": "Cap’n Crunch", "url": "http://mrbreakfast.com/cereal_detail.asp?id=53" }
    - {"title": "Honey Bunches of Oats: Honey Roasted", "url": "http://mrbreakfast.com/cereal_detail.asp?id=187" }
    - {"title": "Waffle Crisp", "url": "http://mrbreakfast.com/cereal_detail.asp?id=388" }
    - {"title": "Cinnamon Toast Crunch", "url": "http://mrbreakfast.com/cereal_detail.asp?id=72" }
    - {"title": "Oreo O’s", "url": "http://mrbreakfast.com/cereal_detail.asp?id=270", "comment": "Less than a week after we both included it on our lists, Post announced the return of Oreo O’s!"}
melissa:
  host: Melissa
  list:
    - {"title": "Rice Krispies", "url": "http://mrbreakfast.com/cereal_detail.asp?id=149" }
    - {"title": "S’mores Grahams/S’mores Crunch", "url": "http://mrbreakfast.com/cereal_detail.asp?id=332" }
    - {"title": "Honey Bunches of Oats with Real Peaches", "url": "http://mrbreakfast.com/cereal_detail.asp?id=521" }
    - {"title": "Lucky Charms", "url": "http://mrbreakfast.com/cereal_detail.asp?id=222" }
    - {"title": "Raisin Bran", "url": "http://mrbreakfast.com/cereal_detail.asp?id=302" }
    - {"title": "Crunch Berries", "url": "http://mrbreakfast.com/cereal_detail.asp?id=115" }
    - {"title": "Bear Naked Chocolate Almond Clusters", "url": "http://mrbreakfast.com/cereal_detail.asp?id=1643" }
    - {"title": "Oreo O’s", "url": "http://mrbreakfast.com/cereal_detail.asp?id=270" }
    - {"title": "Apple Jacks", "url": "http://mrbreakfast.com/cereal_detail.asp?id=13" }
    - {"title": "Special K Nourish - Apple Raspberry Almond", "url": "http://mrbreakfast.com/cereal_detail.asp?id=1592" }
---
{% linkList melissa %}
{% linkList brian %}