---
layout: episode
number: 48
title: Fictional World Characteristics
description: Brian and Melissa talk about what things hook them into the world of a story.
date: 2017-06-11
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 34432579
duration: '0:57:23'
tags:
  - episodes
  - books
  - tv
  - movies

brian:
  host: Brian
  list:
    - Living things that are inanimate in our world
    - Isolated community
    - Immortality 
    - Somewhere I want to visit
    - Feels like there’s a history and a larger world outside the story
    - Anthropomorphic animals
    - Alternate history/Secret history 
    - Time travel/Anachronisms 
    - Parallel universes 
    - Crossover
melissa:
  host: Melissa
  list:
    - Secret identities
    - Parallel dimensions
    - Historical events with fantastical twist
    - Young nobody saves the world
    - Ordinary practices have extraordinary results
    - Fantasy tropes are reversed
    - Terrifying monsters and beautiful creations
    - Magic
    - Ancient devices and lost civilizations
    - Fairies, dragons, and unicorns
---
{% list melissa %}
{% list brian %}