---
layout: episode
number: 49
title: Things Every Human Should Do
description: Melissa and Brian discuss what they think every human should do (yes, it’s very broad).
date: 2017-06-17
hosts:
  - Brian
  - Melissa
bytes: 41535531
duration: '1:09:13'
tags:
  - episodes
  - advice

brian:
  host: Brian
  list:
    - Spend time with family
    - Travel outside your country
    - Participate in art (probably music)
    - Read literature
    - Prioritize experiences over possessions
    - Give the benefit of the doubt
    - Listen to others
    - Improve yourself
    - Improve your surroundings (subsidiarity)
    - Consider the metaphysical
melissa:
  host: Melissa
  list:
    - Have memory-making place, and record memories
    - Live in college-type experience for at least a year
    - Be aware of their body
    - Be responsible
    - Throw trash in trash bins
    - Ride on a galloping horse
    - Play (good!) board games
    - Read at least 10 books a year
    - Stand behind a waterfall
    - Know where you'll spend eternity
---
{% list brian %}
{% list melissa %}