---
layout: episode
number: 50
title: Questions from the Listeners
description: Brian and Melissa answer questions from you, the listeners.
date: 2017-06-23
hosts:
  - Brian
  - Melissa
bytes: 35425490
duration: '0:59:02'
tags:
  - episodes
  - milestone

combined:
  list:
    - (Lindsey) How did you decide on the subject/title of your podcast, and what were some of the other ideas you had thrown around to podcast about?
    - (Mom Binzel) Where do you get your ideas? How many from Melissa, how many from Brian?
    - (Lindsey) What's been your favorite podcast to record so far?
    - (Matt) If they made a movie of your life, who would you have play you? (Episode 8 Actors - 48:02)
    - (Megan) If you were an animated character, which one would you be? / (Lindsey) Which movie/book character do you think is most like you?
    - (Lindsey) If you could know the entire truth behind any one conspiracy theory, which would it be?
    - (Melody) What's your favorite patriotic song and why?
    - (Mom Koser) What is the most important thing you have learned since leaving college?
    - (Luke) If you were guaranteed survival, would you want to go on a Legend of Zelda-type quest?
    - (Lindsey) What to you would be the most epic family vacation?
---
{% list combined %}