---
layout: episode
number: 51
title: Games to Teach Children
description: Brian and Melissa list some games that will teach children (or anyone!) some important skills.
date: 2017-07-01
hosts:
  - Brian
  - Melissa
bytes: 33548326
duration: '0:55:55'
tags:
  - episodes
  - board-games

brian:
  host: Brian
  list:
    - {"title": "Robot Turtles", "url": "https://boardgamegeek.com/boardgame/147370/robot-turtles", "comment": "logic, basic programming"}
    - {"title": "Ball Tag", "url": "https://www.amazon.com/MAC-T-PE07211E-Durable-Diameter-Levels/dp/B00GUFP3MO/", "comment": "how to throw a ball, hand-eye coördination, tactics"}
    - {"title": "But Wait There’s More!", "url": "https://boardgamegeek.com/boardgame/114438/wait-theres-more", "comment": "speaking, improvisation, creativity"}
    - {"title": "Balderdash", "url": "https://boardgamegeek.com/boardgame/163/balderdash", "comment": "creative writing"}
    - {"title": "America", "url": "https://boardgamegeek.com/boardgame/192297/america", "comment": "geography"}
    - {"title": "Timeline", "url": "history", "comment": "https://boardgamegeek.com/boardgame/113401/timeline-historical-events"}
    - {"title": "Sleuth", "url": "https://boardgamegeek.com/boardgame/594/sleuth", "comment": "deduction"}
    - {"title": "Zendo", "url": "https://boardgamegeek.com/boardgame/6830/zendo", "comment": "induction"}
    - {"title": "Keep Talking and Nobody Explodes", "url": "http://www.keeptalkinggame.com/", "comment": "communication, cooperation, following instructions"}
    - {"title": "Power Grid", "url": "https://boardgamegeek.com/boardgame/2651/power-grid", "comment": "using money to make money, spending carefully, planning ahead"}
melissa:
  host: Melissa
  list:
    - {"title": "Witness", "id": "164265", "comment": "memory"}
    - {"title": "Dutch Blitz", "id": "148203", "comment": "fast thinking, reflexes"}
    - {"title": "Balderdash", "id": "163", "comment": "creativity"}
    - {"title": "The Resistance", "id": "41114", "comment": "bluffing"}
    - {"title": "FUSE", "id": "171273", "comment": "clear thinking under pressure"}
    - {"title": "Pastiche", "id": "91620", "comment": "art history"}
    - {"title": "Terror in Meeple City", "id": "97903", "comment": "aim, dexterity, good sportsmanship"}
    - {"title": "Founding Fathers", "id": "37358", "comment": "legislative process"}
    - {"title": "Freedom: The Underground Railroad", "id": "119506", "comment": "history"}
    - {"title": "Caverna: The Cave Farmers", "id": "102794", "comment": "long-term strategy and planning, adjusting plans when they get ruined"}
---
{% boardGameList melissa %}
{% linkList brian %}