---
layout: episode
number: 52
title: Things Not to Say to Your Wife
description: Melissa and Brian are joined by Aaron and Rachel Smith to discuss some of the worst things you can say to your spouse.
date: 2017-07-16
hosts:
  - Brian
  - Melissa
  - Aaron Smith
  - Rachel Smith
bytes: 35129003
duration: '0:58:33'
tags:
  - episodes
  - advice
  - guests
  - marriage

brian:
  host: Brian
  list:
    - Have you gained weight?
    - I told you I loved you at our wedding. If something changes I’ll let you know.
    - Why are you so upset?
    - You’re nothing special.
    - You should ask my mom how to cook.
melissa:
  host: Melissa
  list:
    - Don’t question how she does things in her area of expertise when she’s rushed and you’re just the helper.
    - Don’t make fun of her really dumb idea/answer while with other people.
    - “You look the same as you always do.”
    - “I can’t wait for us to start eating good food again.”
    - “I’d say you’re a beluga whale.”
aaron:
  host: Aaron
  list:
    - It’s not the dress that makes you look fat; it’s your fat that makes you look fat. 
    - You’ll get over it.
    - So, what did you do all day?
    - Calling her by her mother’s name.
    - I guess it’s that time of the month, huh?
rachel:
  host: Rachel
  list:
    - Get in the kitchen and make me a sammich.
    - Calm down! You’re just being emotional.
    - Oh! You’re going with the medium? 
    - Just wear more makeup.
    - Your elbows are starting to show your age.
---
{% list brian %}
{% list melissa %}
{% list aaron %}
{% list rachel %}