---
layout: episode
number: 53
title: Pets
description: Brian and Melissa are joined by special guest Micah Bucy to talk about their top ten choices for a pet (if money were no object and they had servants to actually take care of the pet).
date: 2017-07-20
hosts:
  - Brian
  - Melissa
  - Micah Bucy
bytes: 42546707
duration: '1:10:54'
tags:
  - episodes
  - guests
  - animals

brian:
  host: Brian
  list:
    - Cat
    - Komodo Dragon
    - Panda bear
    - Horse
    - Capybara
    - Falcon
    - Ants
    - Dog
    - Otter
    - Dolphin
melissa:
  host: Melissa
  list:
    - Cat
    - Dog
    - Flying Squirrels
    - Elephant
    - Octopus
    - River Otters
    - Horse
    - White Tiger
    - Capuchin Monkey
    - Dolphin
micah:
  host: Micah
  list:
    - Hermit Crab
    - Dog
    - Parrot
    - Horse
    - Giraffe
    - Sloth
    - Cat
    - Grizzly Bear
    - Elephant
    - Dolphin
---
{% list melissa %}
{% list brian %}
{% list micah %}