---
layout: episode
number: 54
title: Disney Songs
description: Melissa and Brian are joined by Melissa’s brother Tim Binzel to discuss their favorite animated Disney movie songs. Melissa says at the beginning, “I’m probably going to get flak for my list.” Tune in to find out how much she gets!
date: 2017-08-12
hosts:
  - Brian Koser
  - Melissa Koser
  - Tim Binzel
guests: true
bytes: 51393082
duration: '1:25:39'
tags:
  - episodes
  - disney
  - music

brian:
  host: Brian
  list:
    - {"title": "Song of the Roustabouts, <i class='movie-title'>Dumbo</i>", "id": "P75mur1xF7U"}
    - {"title": "Higitus Figitus, <i class='movie-title'>The Sword in the Stone</i>", "id": "zcy_pkGo7w0"}
    - {"title": "Just Around the Riverbend, <i class='movie-title'>Pocahontas</i>", "id": "uZrg3hhntQY"}
    - {"title": "I’ll Make a Man Out of You, <i class='movie-title'>Mulan</i>", "id": "TVcLIfSC4OE"}
    - {"title": "Goodbye May Seem Forever, <i class='movie-title'>The Fox and the Hound</i>", "id": "eTT1re5NI_Y"}
    - {"title": "Hawaiian Roller Coaster Ride, <i class='movie-title'>Lilo and Stitch</i>", "id": "JUq8i_NGytE"}
    - {"title": "Tomorrow is Another Day, <i class='movie-title'>The Rescuers</i>", "id": "5PUZO0pq-9M"}
    - {"title": "You Can Fly, <i class='movie-title'>Peter Pan</i>", "id": "uYhFVfkfujs"}
    - {"title": "Prince Ali, <i class='movie-title'>Aladdin</i>", "id": "aEryAoLfnAA"}
    - {"title": "Be Our Guest, <i class='movie-title'>Beauty and the Beast</i>", "id": "afzmwAKUppU"}
  playlistID: PL8c-Yg_oDsbMwubIv-im1UqrIfz8agavV
melissa:
  host: Melissa
  list:
    - {"title": "Cruella De Vil, <i class='movie-title'>One Hundred and One Dalmatians</i>", "id": "R-YkJdYQzis"}
    - {"title": "Hawaiian Roller Coaster Ride, <i class='movie-title'>Lilo and Stitch</i>", "id": "JUq8i_NGytE"}
    - {"title": "Love Is An Open Door, <i class='movie-title'>Frozen</i>", "id": "nPImqZo0D74"}
    - {"title": "Just Around the Riverbend, <i class='movie-title'>Pocahontas</i>", "id": "uZrg3hhntQY"}
    - {"title": "Bare Necessities, <i class='movie-title'>The Jungle Book</i>", "id": "9ogQ0uge06o"}
    - {"title": "Strangers Like Me, <i class='movie-title'>Tarzan</i>", "id": "zc3MnoSS5Hw"}
    - {"title": "What’s This?, <i class='movie-title'>The Nightmare Before Christmas</i>", "id": "ZPblZa10_Pk"}
    - {"title": "When Will My Life Begin?, <i class='movie-title'>Tangled</i>", "id": "je4nDvNJXsg"}
    - {"title": "On My Way, <i class='movie-title'>Brother Bear</i>", "id": "PmJzLipDbIA"}
    - {"title": "Go The Distance, <i class='movie-title'>Hercules</i>", "id": "zgnHF2CwrPs"}
  playlistID: PL8c-Yg_oDsbM1fNtr-SSPCPdJPEBpLWQV
tim:
  host: Tim
  list:
    - {"title": "Second Star to the Right, <i class='movie-title'>Peter Pan</i>", "id": "NmI9fVrHaf0"}
    - {"title": "One Little Slip, <i class='movie-title'>Chicken Little</i>", "id": "oxhZ2gJP4i8"}
    - {"title": "Hakuna Matata, <i class='movie-title'>The Lion King</i>", "id": "nbY_aP-alkw"}
    - {"title": "Bare Necessities, <i class='movie-title'>The Jungle Book</i>", "id": "9ogQ0uge06o"}
    - {"title": "Gaston, <i class='movie-title'>Beauty and the Beast</i>", "id": "VuJTqmpBnI0"}
    - {"title": "Go The Distance, <i class='movie-title'>Hercules</i>", "id": "zgnHF2CwrPs"}
    - {"title": "You’ll Be in My Heart, <i class='movie-title'>Tarzan</i>", "id": "JIVaUcE4kAM"}
    - {"title": "I’ll Make a Man Out of You, <i class='movie-title'>Mulan</i>", "id": "TVcLIfSC4OE"}
    - {"title": "One Jump Ahead, <i class='movie-title'>Aladdin</i>", "id": "fcTC7RkmHac"}
    - {"title": "I See the Light, <i class='movie-title'>Tangled</i>", "id": "fKPK6c0mKE0"}
  playlistID: PL8c-Yg_oDsbOtuQkd7u46h03s9i_LqxVc
---
{% youtubeList brian %}
{% youtubeList melissa %}
{% youtubeList tim %}