---
layout: episode
number: 55
title: Time Periods
description: Brian and Melissa discuss their favorite historical time periods.
date: 2017-09-17
hosts:
  - Brian
  - Melissa
bytes: 31605066
duration: '0:52:40'
tags:
  - episodes
  - history

brian:
  host: Brian
  list:
    - World War II
    - Ancient Greece
    - Victorian England
    - United Kingdom of Israel, David and Solomon’s reigns
    - Medieval Europe
    - Renaissance Europe
    - American Civil War
    - Roman Republic and Early Empire
    - American Revolutionary War
    - Napoleonic Wars
melissa:
  host: Melissa
  list:
    - World War II
    - The Space Race
    - Roaring 20’s
    - World War I
    - Ancient Celts
    - Old Testament times
    - American Revolutionary War
    - Ancient Egypt
    - American Frontier
    - Roman Republic and Empire
---
{% list melissa %}
{% list brian %}