---
layout: episode
number: 56
title: Pet Peeves
description: Melissa and Brian complain about the things that annoy them the most.
date: 2017-09-25
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 38700444
duration: '1:04:30'
tags:
  - episodes
  - personal

brian:
  host: Brian
  list:
    - Incorrect plurals, like “Groundhogs Day”
    - Not knowing how to throw a ball
    - Bending playing cards
    - False humility
    - Apologizing for pronunciation
    - “Why aren’t you smiling?”
    - “Good evening. That was weak!”
    - Vertical pictures and videos
    - Styrofoam cups
    - Loud chewing
melissa:
  host: Melissa
  list:
    - Monosyllable conversation
    - Negative Nellies
    - Non-existent pockets
    - Bad drivers
    - Dumb sayings on Facebook feed
    - Intentional bad spelling
    - Sharing an earworm song
    - Machines that don't clean
    - Interrupters who don't apologize
    - Food bloggers
---
{% list brian %}
{% list melissa %}