---
layout: episode
number: 57
title: Jokes
description: Brian and Melissa are joined by special guests Justin and Charity Tolbert to share their favorite jokes.
date: 2017-09-30
hosts:
  - Brian
  - Melissa
  - Charity Tolbert
  - Justin Tolbert
bytes: 24759149
duration: '0:41:16'
tags:
  - episodes
  - guests
  - humor
  - featured

brian:
  host: Brian
  list:
    - My friend keeps saying, “Cheer up man, it could be worse! You could be stuck underground in a hole full of water!”
    - A man flying in a hot air balloon suddenly realizes he’s lost.
    - How did the hipster burn his tongue?
    - What did the Buddhist monk say to the hot dog vendor?
    - What do you call it when Batman skips church? 
    - A man walks into a bar and pauses. At the other end of the bar, there's this guy with a big orange head.
    - Why did the old lady fall in the well?
    - There are two identical twin brothers that live together. One happens to be a well-respected dentist, and the other can't seem to keep a job.
    - How is a bicycle similar to a duck?
    - Once I saw this guy on a bridge about to jump. I said, “Don’t do it!”
melissa:
  host: Melissa
  list:
    - Why does a milking stool only have 3 legs? 
    - What’s the last thing that goes through a bug’s mind as it hits your windshield?
    - Instead of “The John”, I call my toilet “The Jim”.
    - I asked my daughter if she’d seen my newspaper. She told me that newspapers are old school.
    - Just came home from a training session. Two hours on the treadmill did me really good.
    - It’s not nice making fun of fat people.
    - Sure, I drink brake fluid.
    - A guy was taking his girlfriend to prom. Getting ready, he went to a tux rental shop.
    - If you understand English, press 1.
    - How many Mexicans does it take to screw in a lightbulb?
charity:
  host: Charity
  list:
    - Two dyslexics walk into a bra.
    - Which way did the programmer go?
    - What time does Sean Connery get to Wimbledon?
    - Two blondes living in Oklahoma were sitting on a beach.
    - What is Forrest Gump’s password?
    - Why did Sally fall off the swing?
    - Knock Knock. Who’s there. Obama.
    - How do you drown a submarine full of blondes?
    - Yo mama so fat when Dracula sucked her blood, he got diabetes.
    - Yo mama so poor, ducks throw bread at her.
justin:
  host: Justin
  list:
    - What do you call a fish with no eyes?
    - Yesterday I accidentally swallowed some food coloring.
    - An elderly couple visits their friends.
    - An Austrian, a Botswanan…
    - There are two types of people in the world: those worth mentioning.
    - Why will a Hindu never tell a “Yo Mama” joke?
    - I hate it when people get simple stuff wrong.
    - You don’t need a parachute to go skydiving.
    - I have four eyes, three noses, two mouths, five arms, and three legs. What am I?
    - There were three blondes walking on a trail.
---
{% list melissa %}
{% list brian %}
{% list justin %}
{% list charity %}