---
layout: episode
number: 58
title: Crazy Baby Names
description: Melissa and Brian list some crazy baby names they found on BabyNames.com, then reveal the name of their second child!
date: 2017-10-31
hosts:
  - Brian
  - Melissa
bytes: 26536793
duration: '0:44:13'
tags:
  - episodes
  - names

brian:
  host: Brian
  list:
    - Sincere Lee Koser
    - Dino Sora Koser
    - Blade Rainer Koser
    - Geronimo Hilario Koser
    - Chancellor Koser
    - Bardolph Banjo Koser
    - Elmo Farmer Koser
    - Black Baby Koser
    - Baron Von Koser
    - Frenchie Frye Koser
melissa:
  host: Melissa
  list:
    - Starbuck Godiva Koser
    - Rebel Princess Koser
    - Whoopi Swoosie Koser
    - Candy Bunny Koser
    - Sherry Margarita Mimosa Tequilla Koser
    - Posh Porter Koser
    - Gada Dance Koser
    - Truly Pagan Koser
    - Ebony Ivory Koser
    - Dark Day Koser
---
{% list brian %}
{% list melissa %}