---
layout: episode
number: 59
title: Sodas
description: Brian and Melissa discuss their favorite brands of soda.
date: 2017-11-11
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 32042871
duration: '0:53:24'
tags:
  - episodes
  - food

brian:
  host: Brian
  list:
    - Coke with Vanilla
    - Sarsaparilla
    - Green Apple Jones Soda
    - Welch’s Sparkling Red Grape
    - Coke with Lime
    - Pibb Xtreme
    - Mountain Dew Code Red
    - Dr Pepper
    - Cherry Coke
    - A&amp;W Root Beer
melissa:
  host: Melissa
  list:
    - Fanta Strawberry
    - Izze Sparkling Pomegranate
    - Honduran Fresca
    - Sprite Tropical Mix
    - Canada Dry Ginger Ale
    - Virgil’s Root Beer
    - Mountain Dew Pitch Black
    - Jones Green Apple
    - Welch’s Sparkling Red Grape Juice
    - Coca-Cola
---
{% list melissa %}
{% list brian %}