---
layout: episode
number: 60
title: New Year’s Resolutions 2018
description: Melissa and Brian review their new year’s resolutions from 2017 and present their new resolutions for 2018.
date: 2018-01-05
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 28435643
duration: '0:47:23'
tags:
  - episodes
  - personal
  - resolutions
  - annual

brian:
  host: Brian
  list:
    - Finish Greek classics and everything else “<a href="https://www.goodreads.com/review/list/4812558?shelf=on-deck">on-deck</a>”
    - Revamp personal website
    - Follow budget
    - Make one meal per week
    - Finish 2018 to-do list
melissa:
  host: Melissa
  list:
    - Read 20 books, 5 are nonfiction 
    - Learn and master one piano song each month 
    - Only eat homemade goodies (special occasions excluded)
    - Exercise 10 minutes every day to strengthen abs and back 
    - Read Bible every time I feed Amber
---
{% list brian %}
{% list melissa %}