---
layout: episode
number: 61
title: Movies 2017
description: Brian and Melissa list their favorite (and least favorite) movies that they saw for the first time in 2017.
date: 2018-01-13
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 50769800
duration: '1:24:37'
tags:
  - episodes
  - movies
  - annual

brian:
  host: Brian
  list:
    - {"title": "Logan", "slug": "logan-2017"}
    - {"title": "The Signal", "slug": "the-signal-2014"}
    - {"title": "The Green Mile", "slug": "the-green-mile"}
    - {"title": "The African Queen", "slug": "the-african-queen"}
    - {"title": "Dunkirk", "slug": "dunkirk-2017"}
    - {"title": "The Shawshank Redemption", "slug": "the-shawshank-redemption"}
    - {"title": "Arrival", "slug": "arrival-2016"}
    - {"title": "Creed", "slug": "creed"}
    - {"title": "Mulholland Drive", "slug": "mulholland-drive"}
    - {"title": "Schindler’s List", "slug": "schindlers-list"}

melissa:
  host: Melissa
  list:
    - {"title": "Balto", "slug": "balto"}
    - {"title": "The Mummy", "slug": "the-mummy-1999"}
    - {"title": "Logan", "slug": "logan-2017"}
    - {"title": "The Outsiders", "slug": "the-outsiders"}
    - {"title": "Spider-Man: Homecoming", "slug": "spider-man-homecoming"}
    - {"title": "The Terminal", "slug": "the-terminal"}
    - {"title": "Creed", "slug": "creed"}
    - {"title": "The Green Mile", "slug": "the-green-mile"}
    - {"title": "The Shawshank Redemption", "slug": "the-shawshank-redemption"}
    - {"title": "Schindler’s List", "slug": "schindlers-list"}

notes:
  - <a href="https://letterboxd.com/bkoser/year/2017/">Brian’s 2017 in review on Letterboxd</a>
---
{% movieList melissa %}
{% movieList brian %}