---
layout: episode
number: 62
title: Books 2017
description: Melissa and Brian list their favorite (and least favorite) books that they read for the first time in 2017.
date: 2018-01-19
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 61672525
duration: '1:42:47'
tags:
  - episodes
  - books
  - annual

brian:
  host: Brian
  list:
    - {"title": "The Stress of Her Regard", "review": "1709191569"}
    - {"title": "The Gunslinger", "review": "1904730227"}
    - {"title": "The Republic", "review": "1599808422"}
    - {"title": "The Oedipus Cycle: Oedipus Rex/Oedipus at Colonus/Antigone", "review": "1979269962"}
    - {"title": "Surprised by Hope: Rethinking Heaven, the Resurrection, and the Mission of the Church", "review": "1766455177"}
    - {"title": "Frankenstein; or, The Modern Prometheus", "review": "1599827197"}
    - {"title": "Stories of Your Life and Others", "review": "1414437628"}
    - {"title": "Don Quixote", "review": "1953001559"}
    - {"title": "Hyperion", "review": "2017494256"}
    - {"title": "Something Wicked This Way Comes", "review": "1833666272"}
melissa:
  host: Melissa
  list:
    - {"title": "Augustus Carp", "review": "1874575739"}
    - {"title": "To Say Nothing of the Dog", "review": "1844403008"}
    - {"title": "Master of the Five Magics", "review": "1909730947"}
    - {"title": "Dune", "review": "2140623254"}
    - {"title": "Astro City, Vol. 3: Family Album", "review": "1635056868"}
    - {"title": "The Eye of the World", "review": "1609810716"}
    - {"title": "Jingo", "review": "2020120868"}
    - {"title": "The Lord of the Rings: The Fellowship of the Ring", "review": "1610826059"}
    - {"title": "Mere Christianity", "review": "1919972006"}
    - {"title": "Dracula", "review": "1960492501"}

notes:
  - <a href="https://www.goodreads.com/user/show/4812558-brian-koser">Brian</a> on Goodreads
  - <a href="https://www.goodreads.com/user/show/54340861-melissa">Melissa</a> on Goodreads
---
{% bookList brian %}
{% bookList melissa %}