---
layout: episode
number: 63
title: Board Games 2017
description: Brian, Melissa, and special guest Clint Patterson discuss their favorite board games as of the end of 2017.
date: 2018-01-26
hosts:
  - Brian
  - Melissa
  - Clint Patterson
bytes: 71089151
duration: '1:58:28'
tags:
  - episodes
  - board-games
  - annual
  - guest

brian:
  host: Brian
  list:
    - {"title": "Dungeon Petz", "id": "97207"}
    - {"title": "Roll for the Galaxy", "id": "132531"}
    - {"title": "Ticket to Ride", "id": "9209"}
    - {"title": "Fresco", "id": "66188"}
    - {"title": "Viticulture", "id": "128621"}
    - {"title": "Seasons", "id": "108745"}
    - {"title": "Power Grid", "id": "2651"}
    - {"title": "T.I.M.E. Stories", "id": "146508"}
    - {"title": "Caverna", "id": "102794"}
    - {"title": "Cosmic Encounter", "id": "39463"}
melissa:
  host: Melissa
  list:
    - {"title": "Dice Town", "id": "40793"}
    - {"title": "Dutch Blitz", "id": "148203"}
    - {"title": "Seasons", "id": "108745"}
    - {"title": "Risk: Star Wars Edition", "id": "183880"}
    - {"title": "Sheriff of Nottingham", "id": "157969"}
    - {"title": "Alchemists", "id": "161970"}
    - {"title": "Dungeon Petz", "id": "97207"}
    - {"title": "Euphoria: Build a Better Dystopia", "id": "133848"}
    - {"title": "Cosmic Encounter", "id": "39463"}
    - {"title": "T.I.M.E. Stories", "id": "146508"}
clint:
  host: Clint
  list:
    - {"title": "Agricola: All Creatures Big and Small", "id": "119890"}
    - {"title": "Core Worlds", "id": "98351"}
    - {"title": "Arctic Scavengers", "id": "41933"}
    - {"title": "Flamme Rouge", "id": "199478"}
    - {"title": "7 Wonders Duel", "id": "173346"}
    - {"title": "Android: Netrunner", "id": "124742"}
    - {"title": "Pandemic Legacy: Season 1", "id": "161936"}
    - {"title": "Concordia", "id": "124361"}
    - {"title": "Spirit Island", "id": "162886"}
    - {"title": "Viticulture", "id": "128621"}
    - {"title": "Gloomhaven", "id": "174430"}

notes:
  - <abbr>GIRLBOPOLA</abbr> - Games I Really Liked But Only Played Once Long Ago
---
{% boardGameList melissa %}
{% boardGameList brian %}
{% boardGameList clint %}