---
layout: episode
number: 64
title: Great Songs
description: Brian and Melissa choose their favorite songs from The Rolling Stones 100 Greatest Songs of All Time list.
date: 2018-02-02
hosts:
  - Brian
  - Melissa
bytes: 54571661
duration: '1:30:56'
tags:
  - episodes
  - music
  - recommended

brian:
  host: Brian
  list:
    - {"title": "Johnny Cash, “Ring of Fire”", "id": "mIBTg7q9oNc"}
    - {"title": "The Band, “The Weight”", "id": "FFqb1I-hiHE"}
    - {"title": "Bob Dylan, “The Time's They Are A-Changing”", "id": "JxvVk-r9ut8"}
    - {"title": "Gnarls Barkley, “Crazy”", "id": "bd2B6SjMh_w"}
    - {"title": "Stevie Wonder, “Superstition”", "id": "0CFuCYNx-1g"}
    - {"title": "Eddie Cochran, “Summertime Blues”", "id": "In7z7B87Puc"}
    - {"title": "The Beatles, “Hey Jude”", "id": "A_MjCqQoLLA"}
    - {"title": "The Beach Boys, “Good Vibrations”", "id": "Eab_beh07HU"}
    - {"title": "The Mamas and The Papas, “California Dreamin’”", "id": "N-aK6JnyFmk"}
    - {"title": "The Temptations, “My Girl”", "id": "swSytFVMHuU"}
  playlistID: PL8c-Yg_oDsbMNHERBhCZLQtIlbwslzLqW
melissa:
  host: Melissa
  list:
    - {"title": "Eddie Cochran, “Summertime Blues”", "id": "In7z7B87Puc"}
    - {"title": "The Beatles, “Help!”", "id": "CTsB-llTzyc"}
    - {"title": "The Impressions, “People Get Ready”", "id": "l04yM7-BWbg"}
    - {"title": "Carl Perkins, “Blue Suede Shoes”", "id": "n1gggXjEobY"}
    - {"title": "The Mamas and The Papas, “California Dreamin’”", "id": "N-aK6JnyFmk"}
    - {"title": "Al Greene, “Let’s Stay Together”", "id": "COiIC3A0ROM"}
    - {"title": "Bob Dylan, “Blowin’ in the Wind”", "id": "3l4nVByCL44"}
    - {"title": "The Beatles, “Yesterday”", "id": "haWRUpPw_tI?t=12s"}
    - {"title": "The Beatles, “In My Life”", "id": "-eCh3y5VROM"}
    - {"title": "The Temptations, “My Girl”", "id": "swSytFVMHuU"}
  playlistID: PL8c-Yg_oDsbMDfvbp1VbAO8radiwkWthX

notes:
  - <a href="https://www.rollingstone.com/music/lists/the-500-greatest-songs-of-all-time-20110407?index=401&limit=1">Rolling Stone 100 Greatest Songs of All Time</a>
---

{% youtubeList melissa %}
{% youtubeList brian %}