---
layout: episode
number: 65
title: Super Bowl Champion Philadelphia Eagles
description: Brian talks about the 2017 NFL season and why he's proud to be an Eagles fan.
date: 2018-02-09
hosts:
  - Brian Koser
bytes: 11402514
duration: '0:19:00'
tags:
  - episodes
  - sports

brian:
  host: Brian
  list:
    - Longtime Players
    - Unappreciated and Unwanted Players
    - Carson Wentz
    - Big Moments
    - Aggressive
    - Injuries
    - Underdogs
    - Guts
    - Good People
    - Had fun
---
{% list brian %}