---
layout: episode
number: 66
title: Proverbs
description: Melissa and Brian list their ten favorite proberbs from the biblical book of Proverbs.
date: 2018-02-18
hosts:
  - Brian
  - Melissa
bytes: 20209144
duration: '0:33:40'
tags:
  - episodes
  - christian

brian:
  host: Brian
  list:
    - title: "Proverbs 3:27"
      url: "https://www.biblegateway.com/passage/?search=Proverbs+3%3A27&amp;version=KJV"
    - title: "Proverbs 11:14"
      url: "https://www.biblegateway.com/passage/?search=Proverbs+11%3A14&amp;version=KJV"
    - title: "Proverbs 14:4"
      url: "https://www.biblegateway.com/passage/?search=Proverbs+14%3A4&amp;version=KJV"
    - title: "Proverbs 14:12"
      url: "https://www.biblegateway.com/passage/?search=Proverbs+14%3A12&amp;version=KJV"
    - title: "Proverbs 15:28"
      url: "https://www.biblegateway.com/passage/?search=Proverbs+15%3A28&amp;version=KJV"
    - title: "Proverbs 17:9"
      url: "https://www.biblegateway.com/passage/?search=Proverbs+17%3A9&amp;version=KJV"
    - title: "Proverbs 17:10"
      url: "https://www.biblegateway.com/passage/?search=Proverbs+17%3A10&amp;version=KJV"
    - title: "Proverbs 24:16"
      url: "https://www.biblegateway.com/passage/?search=Proverbs+24%3A16&amp;version=KJV"
    - title: "Proverbs 25:14"
      url: "https://www.biblegateway.com/passage/?search=Proverbs+25%3A14&amp;version=KJV"
    - title: "Proverbs 29:7"
      url: "https://www.biblegateway.com/passage/?search=Proverbs+29%3A7&amp;version=KJV"
melissa:
  host: Melissa
  list:
    - {"title": "Proverbs 31:11, 26", "url": "https://www.biblegateway.com/passage/?search=proverbs+31%3A11%2C+26&amp;version=KJV"}
    - {"title": "Proverbs 30:7-9", "url": "https://www.biblegateway.com/passage/?search=Proverbs+30%3A7-9&amp;version=KJV"}
    - {"title": "Proverbs 28:13", "url": "https://www.biblegateway.com/passage/?search=Proverbs+28%3A13&amp;version=KJV"}
    - {"title": "Proverbs 25:28", "url": "https://www.biblegateway.com/passage/?search=Proverbs+25%3A28&amp;version=KJV"}
    - {"title": "Proverbs 17:12", "url": "https://www.biblegateway.com/passage/?search=Proverbs+17%3A12&amp;version=KJV"}
    - {"title": "Proverbs 14:1", "url": "https://www.biblegateway.com/passage/?search=Proverbs+14%3A1&amp;version=KJV"}
    - {"title": "Proverbs 13:10", "url": "https://www.biblegateway.com/passage/?search=Proverbs+13%3A10&amp;version=KJV"}
    - {"title": "Proverbs 12:4", "url": "https://www.biblegateway.com/passage/?search=Proverbs+12%3A4&amp;version=KJV"}
    - {"title": "Proverbs 11:22", "url": "https://www.biblegateway.com/passage/?search=Proverbs+11%3A22&amp;version=KJV"}
    - {"title": "Proverbs 4:23", "url": "https://www.biblegateway.com/passage/?search=Proverbs+4%3A23&amp;version=KJV"}
---
{% linkList brian %}
{% linkList melissa %}