---
layout: episode
number: 67
title: Bucket List Foods
description: Brian and Melissa list the new foods they are most interested in trying.
date: 2018-02-24
hosts:
  - Brian
  - Melissa
bytes: 28842100
duration: '0:48:03'
tags:
  - episodes
  - food

brian:
  host: Brian
  list:
    - <del>Borscht</del> Foie Gras
    - Bird’s-nest soup
    - Steak tartare
    - Bear
    - New York pizza and bagels
    - Caviar
    - Truffles
    - Snake
    - Shark
    - Beef Wellington
melissa:
  host: Melissa
  list:
    - Haggis
    - Yeto’s Superb Soup
    - Rack of Lamb
    - Rabbit
    - Baked Alaska
    - Redwall Abbey foods: Skilly ’n’ Duff, Deeper than Ever Pie
    - Butter Beer
    - Giant Ferrero Rocher cake
    - Porter Cake
    - Bear meat wrapped around apples, roasted over a fire
---
{% list melissa %}
{% list brian %}