---
layout: episode
number: 68
title: Book Titles
description: Brian and Melissa reveal the best (and worst) book titles.
date: 2018-03-10
hosts:
  - Brian
  - Melissa
bytes: 36071220
duration: '1:00:07'
tags:
  - episodes
  - books
  - names

brian:
  host: Brian
  list:
    - Mr. Penumbra’s 24-Hour Bookstore
    - A Thousand Splendid Suns
    - Salamandastron
    - Stranger in a Strange Land
    - When Breath Becomes Air
    - Murder on the Orient Express
    - A Night in the Lonesome October
    - The Girl Who Circumnavigated Fairyland in a Ship of Her Own Making
    - The Left Hand of Darkness
    - Heir of Sea and Fire
melissa:
  host: Melissa
  list:
    - To Kill A Mockingbird
    - And Then There Were None
    - Augustus Carp, Esq. By Himself Being The Autobiography of A Really Good Man
    - "She Got Up Off The Couch: And Other Heroic Acts from Mooreland, IN"
    - The Pig That Wants To Be Eaten
    - Villains By Necessity
    - An Arsonist’s Guide To Writers’ Homes In New England
    - I Still Miss My Man But My Aim Is Getting Better
    - John Dies At The End
    - Something Wicked This Way Comes
---
{% list melissa %}
{% list brian %}