---
layout: episode
number: 69
title: Funny Bible Names
description: Melissa and Brian share their funniest Bible names.
date: 2018-03-16
hosts:
  - Brian
  - Melissa
bytes: 23379373
duration: '0:38:58'
tags:
  - episodes
  - bible
  - humor
  - names

brian:
  host: Brian
  list:
    - Nergal-Sharezer
    - Romamti-ezer
    - Mattathah
    - Hoglah
    - Ed
    - Pudens
    - Muppim and Huppim
    - Dodo the Ahohite
    - Hattush
    - Harhur
melissa:
  host: Melissa
  list:
    - Mushi
    - Meshach
    - Zaphnathpaaneah
    - Puah
    - Phut
    - Nergal-Sharezer 
    - Dodo
    - Peleg
    - Hoglah 
    - Mahershalalhashbaz 

youtubeNotes:
  - {"id": "cMfmzEpvW-g", "caption": "Apologies to The Vestibules"}
---
{% list brian %}
{% list melissa %}