---
layout: episode
number: 70
title: Comedians
description: Brian and Melissa rank their favorite stand-up comedians, and share a joke or two from each.
date: 2018-03-24
hosts:
  - Brian
  - Melissa
bytes: 27173912
duration: '0:45:17'
tags:
  - episodes
  - humor

combined:
  list:
    - Steve Martin
    - Tim Hawkins
    - Kumail Nanjiani
    - David Mitchell
    - Steven Wright
    - James Veitch
    - Victor Borge
    - Bill Cosby
    - Jim Gaffigan
    - Brian Regan
---
{% list combined %}