---
layout: episode
number: 71
title: Reasons We're Starting a Diet
description: Melissa and Brian list all the reasons they're planning to start a diet.
date: 2018-04-01
hosts:
  - Brian
  - Melissa
bytes: 783727
duration: '0:01:18'
tags:
  - episodes
  - april-fools
---
Happy April First!