---
layout: episode
number: 72
title: Doctor Who Characters
description: Melissa and Brian kick off Doctor Who Month with a list of their favorite characters.
date: 2018-04-08
hosts:
  - Brian
  - Melissa
bytes: 32865483
duration: '0:54:46'
tags:
  - episodes
  - doctor-who-month
  - characters

brian:
  host: Brian
  list:
    - <del>Strax</del> Wilfred Mott
    - Brian Williams
    - Mickey Smith
    - Amy Pond
    - Donna Noble
    - Rory Williams
    - Ninth Doctor
    - Twelth Doctor
    - Eleventh Doctor
    - Tenth Doctor
melissa:
  host: Melissa
  list:
    - Amy Pond
    - Wilfred Mott
    - River Song
    - Bill Potts
    - Mickey Smith
    - Donna Noble
    - Missie
    - Rory Williams
    - Rose Tyler
    - Eleventh Doctor
---
{% list brian %}
{% list melissa %}