---
layout: episode
number: 73
title: Doctor Who Aliens
description: Brian and Melissa list their favorite Doctor Who aliens.
date: 2018-04-18
hosts:
  - Brian
  - Melissa
bytes: 35625055
duration: '0:59:22'
tags:
  - episodes
  - doctor-who-month

brian:
  host: Brian
  list:
    - Vashta Narada
    - Tivolians
    - Clockwork Droids
    - The Foretold (Mummy on the Orient Express)
    - Gangers
    - Boneless
    - Weeping Angels
    - Midnight Creature
    - Ood
    - Silents
melissa:
  host: Melissa
  list:
    - Silurians
    - Sandmen
    - The Flood
    - Cybermen
    - Ice Warriors
    - Silents
    - Weeping Angels
    - Time Lords
    - The Beast
    - Vashta Narada
---
{% list melissa %}
{% list brian %}