---
layout: episode
number: 74
title: Doctor Who Episodes
description: Melissa and Brian continue Doctor Who month by sharing their favorite Doctor Who aliens.
date: 2018-04-23
hosts:
  - Brian
  - Melissa
bytes: 45624991
duration: '1:16:02'
tags:
  - episodes
  - doctor-who-month

brian:
  host: Brian
  list:
    - World Enough and Time/The Doctor Falls
    - The Time of Angels/Flesh and Stone
    - The Time of the Doctor
    - Blink
    - The Girl in the Fireplace
    - Listen
    - The Day of the Doctor
    - The Impossible Planet/The Satan Pit
    - Midnight
    - Heaven Sent
melissa:
  host: Melissa
  list:
    - Journey to the Center of the Tardis
    - The Impossible Planet/The Satan Pit
    - Army of Ghosts/Doomsday
    - Hide
    - Blink
    - Silence in the Library/Forest of the Dead
    - The Stolen Earth/Journey’s End
    - Heaven Sent
    - Midnight
    - Father’s Day
---
{% list brian %}
{% list melissa %}