---
layout: episode
number: 75
title: Doctor Who Moments
description: Melissa and Brian continue Doctor Who month by discussing their favorite moments from Doctor Who.
date: 2018-04-27
hosts:
  - Brian
  - Melissa
bytes: 33873023
duration: '0:56:27'
tags:
  - episodes
  - doctor-who-month

brian:
  host: Brian
  list:
    - Tenth Doctor realizes all the missing planets are connected. (The Stolen Earth)
    - Eleventh Doctor time travels back to The Time of Angels episode (The Big Bang)
    - Eleventh Doctor realizes all the statues in the cavern are Weeping Angels (The Time of Angels)
    - Doctor and Donna see each other through glass (Partners in Crime)
    - Van Gogh travels to the future and finds out what his legacy will be. (Vincent and The Doctor)
    - "\"Everybody lives, Rose. Just this once. Everybody lives!\" (The Doctor Dances)"
    - Telling Rose goodbye / Donna appears on TARDIS (Doomsday)
    - The Doctor Wakes Up (The Christmas Invasion)
    - Eleven regenerates (The Time of the Doctor)
    - The Doctor has relived this day for billions of years to protect his secret (Heaven Sent)
melissa:
  host: Melissa
  list:
    - Last of the Time Lords, Jack Harkness reveals he is the Face of Bo.
    - Missy and the Master kill each other (The Doctor Falls)
    - The TARDIS dematerializes around Sally and Larry, and the Weeping Angels are waiting (Blink)
    - Donna finally finds the Doctor, and they communicate through a window (Partners in Crime)
    - 9th Doctor discovers a Dalek. For the first time we see him display hatred, maniacal intensity, joy in another's pain. (Dalek)
    - The Doctor sees all of his life as a human, and has to choose to give it up (The Family of Blood)
    - Vincent van Gogh hearing how people love his work (Vincent and the Doctor)
    - Amy and Rory jump off the roof (The Angels Take Manhattan)
    - The Doctor reading Madame de Pompadour's note after her death (The Girl in the Fireplace)
    - Pete Tyler telling Rose he never was around for her (Father's Day)
---
{% list brian %}
{% list melissa %}