---
layout: episode
number: 77
title: Root Beers
description: Brian and Melissa hosted a root beer party. Now they've made a list of their favorite root beers.
date: 2018-05-13
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 25952950
duration: '0:43:15'
tags:
  - episodes
  - food

brian:
  host: Brian
  list:
    - <del>Brigham's Brew</del> Natural Brew
    - Cicero
    - A&amp;W
    - Sprecher
    - Saranac
    - Abita
    - Steelhead
    - Cap'n Eli's
    - River City
    - Americana
melissa:
  host: Melissa
  list:
    - Brigham's Brew
    - Abita
    - Sprecher
    - Natural Brew
    - Virgil's
    - Steelhead
    - Saranac
    - Americana
    - River City
    - Cap'n Eli's
---
{% list melissa %}
{% list brian %}