---
layout: episode
number: 78
title: Cartoon Theme Songs
description: Melissa and Brian play their favorite cartoon theme songs. How much of a role will nostalgia play?
date: 2018-05-18
hosts:
  - Brian
  - Melissa
bytes: 37432992
duration: '1:02:23'
tags:
  - episodes
  - music

brian:
  host: Brian
  list:
    - {"title": "Rugrats", "id": "jMEj9kQg3F8"}
    - {"title": "Justice League", "id": "ZAsDL7f3veM"}
    - {"title": "Teenage Mutant Ninja Turtles", "id": "VA_-6v1EzYE"}
    - {"title": "Underdog", "id": "Pa1fH0SvGPg"}
    - {"title": "Talespin", "id": "apx2iZi0-OQ"}
    - {"title": "Inspector Gadget", "id": "e-JHfXVlkik"}
    - {"title": "Superfriends", "id": "J2eLGBmGbcc"}
    - {"title": "Goof Troop", "id": "t5wNX_mIraA"}
    - {"title": "DuckTales", "id": "CMU2NwaaXEA"}
    - {"title": "Batman: The Animated Series", "id": "lEx9r5enZsk"}
  playlistID: PL8c-Yg_oDsbPn5Xfp95Gj8MBOFLavvl4G
melissa:
  host: Melissa
  list:
    - {"title": "Darkwing Duck", "id": "375ENQbru8s"}
    - {"title": "Pink Panther", "id": "59lKdaXX6Eo"}
    - {"title": "Alvin and the Chipmunks", "id": "OxD6mmJaYqk"}
    - {"title": "Goof Troop", "id": "t5wNX_mIraA"}
    - {"title": "Chip 'n Dale: Rescue Rangers", "id": "hFXTa2yeYWs"}
    - {"title": "Pinky and the Brain", "id": "GBkT19uH2RQ"}
    - {"title": "Talespin", "id": "apx2iZi0-OQ"}
    - {"title": "Justice League", "id": "ZAsDL7f3veM"}
    - {"title": "X-Men: The Animated Series", "id": "sAkL2-vh2Sk"}
    - {"title": "DuckTales", "id": "CMU2NwaaXEA"}
  playlistID: PL8c-Yg_oDsbNSWRwU4lx5rsblRYL2IHfb
---
{% youtubeList brian %}
{% youtubeList melissa %}