---
layout: episode
number: 79
title: Midwest Road Trip 2018
description: Brian and Melissa took an epic road trip through the Midwest, and they brought their microphone! They recorded at ten different locations (shoehorn!) and then endured the editing process to celebrate their most ambitious trip yet.
date: 2018-06-08
hosts:
  - Brian
  - Melissa
bytes: 50278709
duration: '1:23:48'
tags:
  - episodes
  - guests
  - the-sci-fi-christian

combined:
  host: Stops
  list:
    - Unclaimed Baggage Center — Scottsboro, AL
    - Mammoth Cave — Mammoth Cave, KY
    - Ark Encounter — Williamstown, KY
    - Wiggins — Cuyahoga Falls, OH
    - Penners — Elkhart, IN
    - Voldseths — Amo, IN
    - Lucas — Crown Point, IN
    - Scott — Madison, WI
    - Sci-Fi Christians — Roseville, MN
    - Skrabaczs — Lee's Summit, MO
    - Lirelys — Oklahoma City, OK
    - Kosers — Bossier City, LA
---
{% list combined %}