---
layout: episode
number: 80
title: Sci-Fi News
description: Melissa and Brian check an item off their bucket lists by appearing on The Sci-Fi Christian Episode 657! Check their podcast out at thescifichristian.com.
date: 2018-06-16
hosts:
  - Brian Koser
  - Melissa Koser
  - Matt Anderson
  - Ben De Bono
guests: true
bytes: 4844445
duration: '0:08:04'
tags:
  - episodes
  - guests
  - the-sci-fi-christian
---
We appeared on <a href="http://thescifichristian.com/2018/06/episode-657-solo-is-crashing-and-other-news/">The Sci-Fi Christian, Episode 657</a>. Check out the The Sci-Fi Christian podcast at <a href="http://thescifichristian.com">thescifichristian.com</a>. The fan site Brian wrote is at <a href="http://sfc.blue">sfc.blue</a>.