---
layout: episode
number: 81
title: Frugal Month 2018
description: Melissa and Brian decide to be super frugal for the month of July. Listen to them brainstorm on how, then stick around for some listener feedback!
date: 2018-06-29
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 33627732
duration: '0:56:02'
tags:
  - episodes
  - finances

combined:
  list:
    - Creators
    - Phone
    - Electric
    - Water
    - Natural Gas
    - Groceries
    - Diapers
    - Gas
    - Clothing
    - Quality of Life/Entertainment
---
{% list combined %}