---
layout: episode
number: 82
title: Reasons to Read Books
description: Brian and Melissa list reasons why you should read books and end with a challenge to the listeners!
date: 2018-07-08
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 32093826
duration: '0:53:29'
tags:
  - episodes
  - books

combined:
  list:
    - Increase your knowledge of vocabulary and grammar
    - Increase your creativity
    - Increase focus and logical thinking
    - Gain empathy
    - Fun
    - With ebooks and audio books, it's easier than ever 
    - Authors have no budget
    - It's a more thoughtful media
    - Exposed to ideas
    - Classics let you see what humanity has deemed important and beautiful
---
{% list combined %}