---
layout: episode
number: 83
title: Frozen Pizzas
description: Melissa and Brian ate a lot of frozen pizzas in order to tell you which are the tastiest and best-priced.
date: 2018-07-15
hosts:
  - Brian
  - Melissa
bytes: 30244349
duration: '0:50:24'
tags:
  - episodes
  - food

brian:
  host: Brian
  list:
    - Tony's
    - Tombstone
    - Mia Fresca
    - Wild Mikes
    - Jack's
    - Digiorno
    - Publix
    - Big Flavor Thin Crust Pizza! (The Fresh Market)
    - Screaming Sicilian
    - Sam's Choice
melissa:
  host: Melissa
  list:
    - Tony's
    - Tombstone
    - Jack's
    - Big Flavor Thin Crust Pizza! (The Fresh Market)
    - Mia Fresca
    - Wild Mike's
    - Publix
    - Freschetta
    - Sam's Choice
    - Screaming Sicilian
---
{% list melissa %}
{% list brian %}

<table>
<thead>
    <tr>
        <th>Brand</th>
        <th>¢/oz</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>Great Value</td>
        <td>10</td>
    </tr>
    <tr>
        <td>Tony's</td>
        <td>13</td>
    </tr>
    <tr>
        <td>Sam's Choice</td>
        <td>16</td>
    </tr>
    <tr>
        <td>Wild Mike's</td>
        <td>16</td>
    </tr>
    <tr>
        <td>Freschetta</td>
        <td>18</td>
    </tr>
        <tr>
        <td>Publix</td>
        <td>18</td>
    </tr>
    <tr>
        <td>Publix Premium</td>
        <td>18</td>
    </tr>
    <tr>
        <td>Tombstone</td>
        <td>19</td>
    </tr>
    <tr>
        <td>Jack's</td>
        <td>19</td>
    </tr>
    <tr>
        <td>Red Baron</td>
        <td>20</td>
    </tr>
    <tr>
        <td>Screaming Sicilian</td>
        <td>27</td>
    </tr>
        <tr>
        <td>Digiorno</td>
        <td>30</td>
    </tr>
    <tr>
        <td>Big Flavor Thin Crust Pizza! (The Fresh Market)</td>
        <td>33</td>
    </tr>
    <tr>
        <td>Mia Fresca</td>
        <td>45</td>
    </tr>
</tbody>
</table>