---
layout: episode
number: 84
title: Skills
description: Brian and Melissa finish the trilogy they started with Accomplishments and Experiences by listing the skills they want to download to their brains.
date: 2018-07-29
hosts:
  - Brian
  - Melissa
bytes: 28266089
duration: '0:47:06'
tags:
  - episodes

brian:
  host: Brian
  list:
    - <del>Speed reading</del> Juggling
    - Swimming
    - Golf
    - Martial Arts
    - Archery
    - Construction
    - Drawing
    - Acrobatics
    - Piano
    - Spanish
melissa:
  host: Melissa
  list:
    - <del>Swimming</del> <del>Acrobatics</del> Swimming
    - <del>Piano tuning</del> Archery
    - Drawing
    - Juggling
    - Bagpipes
    - Self-defense
    - Sewing
    - Parenting
    - Ice Skating
    - Surfing
---
{% list melissa %}
{% list brian %}