---
layout: episode
number: 85
title: Baby Essentials
description: Melissa lists her essentials items to own for parents. Brian nods along.
date: 2018-08-12
hosts:
  - Brian
  - Melissa
bytes: 21897184
duration: '0:36:30'
tags:
  - episodes
  - children-advice

melissa:
  host: Melissa
  list:
    - Baby nail clippers with light
    - Humidifier
    - Blackout shades
    - Huggies wipes and diapers
    - Rocking chair
    - Noise machine or fan
    - Moby Wrap
    - Burp cloths, onesies, pajamas
    - Sleep Sacks
    - Graco 3-in-1 Pack and Play
---
{% list melissa %}