---
layout: episode
number: 86
title: Earworms
description: Brian and Melissa try to get as many songs stuck in your head as possible!
date: 2018-08-17
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 47310140
duration: '1:18:51'
tags:
  - episodes
  - music

brian:
  host: Brian
  list:
    - {"title": "Little April Shower - Bambi", "id": "saa98l0yDYQ"}
    - {"title": "Numa Numa", "id": "KmtzQCSh6xk"}
    - {"title": "Bad Horse's Letter - Dr. Horrible", "id": "VNhhz1yYk2U"}
    - {"title": "Mahna Mahna", "id": "8N_tupPBtWQ"}
    - {"title": "We Didn't Start the Fire", "id": "eFTLKWw542g"}
    - {"title": "I shipped, d'ye see, in a Revenue sloop - Ruddigore", "id": "gSUKfGjvH60?t=56s"}
    - {"title": "Put a Banana in Your Ear - Charlie the Unicorn 2", "id": "QFCSXr6qnv4"}
    - {"title": "Dumb Ways to Die", "id": "IJNR2EpS0jw"}
    - {"title": "The Duck Song", "id": "MtN1YnoL46Q"}
    - {"title": "Seagulls!", "id": "U9t-slLl30E"}
  playlistID: PL8c-Yg_oDsbNiDZ-xgqO3zZz0Qqj34CC0
melissa:
  host: Melissa
  list:
    - {"title": "Seagulls!", "id": "U9t-slLl30E"}
    - {"title": "Dumb Ways to Die", "id": "IJNR2EpS0jw"}
    - {"title": "Diggy Diggy Hole", "id": "ytWz0qVvBZ0"}
    - {"title": "Help!", "id": "2Q_ZzBGPdqE"}
    - {"title": "Never Gonna Give You Up", "id": "dQw4w9WgXcQ"}
    - {"title": "Pinky and the Brain theme", "id": "GBkT19uH2RQ"}
    - {"title": "SportsCenter Not Top 10 background music", "id": "gewW-5Fk7so"}
    - {"title": "Funky Town", "id": "ax68rWI4Tuk"}
    - {"title": "Lollipop", "id": "3rYoRaxgOE0"}
    - {"title": "Mr. Sandman", "id": "CX45pYvxDiA"}
  playlistID: PL8c-Yg_oDsbMgpUsB22UO29NEcvOJ0CvV

notes:
  - <a href="https://www.webmd.com/mental-health/news/20030227/songs-stick-in-everyones-head">Songs Stick in Everyone's Head - WebMD</a>
---
{% youtubeList melissa %}
{% youtubeList brian %}