---
layout: episode
number: 87
title: Fantasy Football 2018
description: On the day the Eagles start off the 2018 NFL season, Brian talks up 10 players that excite him for fantasy football.
date: 2016-01-01
hosts:
  - Brian
  - Melissa
bytes: 12488928
duration: '0:20:49'
tags:
  - episodes
  - fantasy-football

brian:
  host: Brian
  list:
    - Deshaun Watson
    - Andrew Luck
    - Jimmy Garoppolo
    - Saquon Barkley
    - Christian McCaffrey
    - Joe Mixon (not like Mike Evans)
    - Royce Freeman
    - Josh Gordon
    - Nelson Agholor
    - Trey Burton

notes:
  - <a href="https://www.theringer.com/nfl/2018/8/15/17691034/nfl-fantasy-2018-point-per-first-down">Why Point Per First Down Is the Ideal Fantasy Football Scoring System</a>
---
{% list brian %}