---
layout: episode
number: 88
title: Bible Stories
description: Melissa and Brian list their favorite Bible stories.
date: 2018-09-16
hosts:
  - Brian
  - Melissa
bytes: 28258259
duration: '0:47:05'
tags:
  - episodes
  - christian

brian:
  host: Brian
  list:
    - Noah's Ark
    - Joseph
    - Samson
    - David and Goliath
    - Elijah and the Prophets of Baal
    - Micaiah
    - Daniel and the King's Food
    - Jesus as a Child in the Temple
    - Jesus Walking on Water
    - Paul Getting Shipwrecked and Bit by a Serpent
melissa:
  host: Melissa
  list:
    - Abraham Retrieves Lot
    - Samson
    - Philistines Plagued by the Ark of God
    - Jonathan and His Armor Bearer Defeat Philistines
    - David
    - David's Mighty Men
    - Four Lepers Find Syrian Camp Abandoned
    - Job
    - Jonah
    - The Prodigal Son
---
{% list brian %}
{% list melissa %}