---
layout: episode
number: 89
title: Brand Names
description: Melissa and Brian give the brand name products they prefer over other brands or generic.
date: 2018-09-21
hosts:
  - Brian
  - Melissa
bytes: 37517881
duration: '1:02:32'
tags:
  - episodes

brian:
  host: Brian
  list:
    - HuMn Wallet
    - Nokia Body+ Body Composition WiFi scale
    - Acuvue Vita contacts
    - Pur Gum
    - Palio ping pong paddle, Xushaofa ping pong balls
    - IKEA Förnuft flatware
    - Honda, Hyundai
    - ExOfficio Give-n-Go underwear
    - Red Wing Shoes
    - Sugar: Cereal, Soda, Ice Cream, Candy
melissa:
  host: Melissa
  list:
    - Huggies wipes
    - Jack Daniel's and Sweet Baby Ray's BBQ sauce
    - Tostitos Hint of Jalapeño Chips with On The Border Monterey Jack queso
    - Oxi-clean
    - Greek Gods and Cabot Greek Yogurt
    - Breyer's Ice Cream
    - Best Fitting Panty
    - Welch's and White House juice
    - Beech Nut baby food
    - Quilted Northern, Charmin, Cottonelle toilet paper
---
{% list brian %}
{% list melissa %}