---
layout: episode
number: 90
title: Guilty Pleasures
description: Melissa and Brian list the low-quality movies, TV shows, songs, comics, games, websites, and foods that they enjoy.
date: 2018-10-05
hosts:
  - Brian
  - Melissa
bytes: 49573135
duration: '1:22:37'
tags:
  - episodes
  - movies
  - tv
  - music
  - board-games
  - food

brian:
  host: Brian
  list:
    - reddit
    - Archie comics
    - <a href="https://www.youtube.com/watch?v=MbHggcfDRL0">Driving Home For Christmas</a>
    - Knockoff Andy Griffith Show theme
    - Jasper Fforde
    - <a href="https://letterboxd.com/film/oceans-twelve/">Ocean's Twelve</a> and <a href="https://letterboxd.com/film/oceans-thirteen/">Ocean's Thirteen</a>
    - <a href="https://letterboxd.com/film/how-the-grinch-stole-christmas-2000/">How the Grinch Stole Christmas</a> (2000)
    - Candy Corn
    - Dorm Life
    - <a href="http://www.decisionproblem.com/paperclips/index2.html">Paperclip game</a>
melissa:
  host: Melissa
  list:
    - Relish in deviled eggs
    - <a href="https://www.youtube.com/watch?v=0uuCNAwXGaQ">Bulbous Bouffant</a>
    - <a href="https://letterboxd.com/film/hercules-1997/">Hercules</a>
    - UNO card game
    - <a href="https://letterboxd.com/film/home-alone-2-lost-in-new-york/">Home Alone 2</a>
    - Danny Phantom
    - <a href="https://letterboxd.com/film/goosebumps/">Goosebumps</a> (movie)
    - Rainbow Deluxe cookies
    - Wheel of Time books
    - <a href="https://www.youtube.com/watch?v=ytpo1xyNn3o">Jingle Bell Rock</a>

youtubeNotes:
  - {"id": "qjtQSMe0VeI", "caption": "The White Room - Chris and Jack"}
  - {"id": "GvxkBJv1R4A", "caption": "Perfect Timing Villain - Chris and Jack"}
  - {"id": "zlo0Vp5TU8Y", "caption": "Movies in Space - Chris and Jack"}
---
{% list brian %}
{% list melissa %}