---
layout: episode
number: 91
title: Twilight Zone Episodes
description: Brian and Melissa enter The Twilight Zone, with a list of their favorite episodes.
date: 2018-10-15
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 53565696
duration: '1:29:16'
tags:
  - episodes
  - tv

brian:
  host: Brian
  list:
    - Five Characters in Search of an Exit (S3 E14)
    - Shadow Play (S2 E26)
    - Nightmare at 20,000 Feet (S5 E03)
    - Will the Real Martian Please Stand Up? (S2 E28)
    - The Invaders (S2 E15)
    - It's a Good Life (S3 E08)
    - The Dummy (S3 E33)
    - Time Enough at Last (S1 E08)
    - The Monsters Are Due On Maple Street (S1 E22)
    - The Obsolete Man (S2 E29)
melissa:
  host: Melissa
  list:
    - Where Is Everybody? (S1 E01)
    - Death Ship (S4 E06)
    - The Invaders (S2 E15)
    - The Shelter (S3 E03)
    - I Shot An Arrow Into The Air (S1 E15)
    - The Monsters Are Due On Maple Street (S1 E22)
    - The Dummy (S3 E33)
    - The Long Morrow (S5 E15)
    - Nick of Time (S2 E07)
    - Living Doll (S5 E06)
---
{% list melissa %}
{% list brian %}