---
layout: episode
number: 92
title: Non-Essential Kitchen Essentials
description: Melissa lists the items you should pick up for your kitchen after you have the essentials.
date: 2018-10-28
hosts:
  - Brian
  - Melissa
bytes: 19365413
duration: '0:32:16'
tags:
  - episodes
  - advice
  - cooking

melissa:
  host: Melissa
  list:
    - Pepper Mill
    - Pastry Blender
    - Scraper
    - Stackable Spice Racks
    - Griddle
    - Digital Kitchen Scale
    - Cast Iron Skillet
    - Metal Mixing Bowls
    - Pampered Chef Can Opener
    - Garlic Press

notes:
  - <a href="https://thewirecutter.com/">The Wirecutter</a> product reviews
---
{% list melissa %}