---
layout: episode
number: 93
title: Inherently Funny Words
description: Brian and Melissa share the words that make them laugh the most.
date: 2018-11-02
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 21450758
duration: '0:35:45'
tags:
  - episodes

brian:
  host: Brian
  list:
    - Guzzle
    - Blab
    - Itchy
    - Heckle
    - Pander
    - Twaddle
    - Gubernatorial
    - Fluffernutter
    - Blubber
    - Booty
melissa:
  host: Melissa
  list:
    - Leap
    - Piggin
    - Smorgasbord
    - Buffer
    - Bolshevik
    - Gurney
    - Squash
    - Smooch
    - Higgledy piggledy
    - Yak

notes:
  - <a href="https://www.babbel.com/en/magazine/whats-the-funniest-word-in-the-world">What’s The Funniest Word In The World?</a>, <i>Babbel Magazine</i>
---
{% list melissa %}
{% list brian %}