---
layout: episode
number: 94
title: Comedy Movies
description: Melissa and Brian share the movies they find funniest.
date: 2018-11-11
hosts:
  - Brian
  - Melissa
bytes: 38683990
duration: '1:04:28'
tags:
  - episodes
  - movies

brian:
  host: Brian
  list:
    - {"title": "Shaun of the Dead", "slug": "shaun-of-the-dead"}
    - {"title": "Modern Times", "slug": "modern-times"}
    - {"title": "Some Like It Hot", "slug": "some-like-it-hot"}
    - {"title": "Galaxy Quest", "slug": "galaxy-quest"}
    - {"title": "Duck Soup", "slug": "duck-soup-1933"}
    - {"title": "What We Do In The Shadows", "slug": "what-we-do-in-the-shadows"}
    - {"title": "Planes, Trains and Automobiles", "slug": "planes-trains-and-automobiles"}
    - {"title": "The Apartment", "slug": "the-apartment"}
    - {"title": "Hot Fuzz", "slug": "hot-fuzz"}
    - {"title": "Groundhog Day", "slug": "groundhog-day"}
melissa:
  host: Melissa
  list:
    - {"title": "The Importance of Being Earnest", "slug": "the-importance-of-being-earnest-2002"}
    - {"title": "Groundhog Day", "slug": "groundhog-day"}
    - {"title": "You've Got Mail", "slug": "youve-got-mail"}
    - {"title": "Dirty Rotten Scoundrels", "slug": "dirty-rotten-scoundrels"}
    - {"title": "Shaun of the Dead", "slug": "shaun-of-the-dead"}
    - {"title": "Galaxy Quest", "slug": "galaxy-quest"}
    - {"title": "Some Like It Hot", "slug": "some-like-it-hot"}
    - {"title": "Jumanji: Welcome to the Jungle", "slug": "jumanji-welcome-to-the-jungle"}
    - {"title": "The Odd Couple", "slug": "the-odd-couple"}
    - {"title": "Planes, Trains and Automobiles", "slug": "planes-trains-and-automobiles"}

notes:
  - <a href="https://letterboxd.com/bkoser/">Brian on Letterboxd</a>
  - <a href="https://letterboxd.com/mkoser/">Melissa on Letterboxd</a>
---
{% movieList brian %}
{% movieList melissa %}