---
layout: episode
number: 95
title: Pregnancy and Post-Partum Advice
description: Melissa gives words of wisdom for pregnancy and post-partum mothers. Brian shares president trivia and plays Guess That Medication.
date: 2018-11-17
hosts:
  - Brian
  - Melissa
bytes: 27120123
duration: '0:45:11'
tags:
  - episodes
  - advice
  - children

melissa:
  host: Melissa
  list:
    - Give yourself grace. For the first month postpartum, it's okay if the laundry and dishes pile up. First month is survival mode. You'll still be recovering after one month post partum.
    - Try nursing (for at least six weeks).
    - You may not feel loving (when you first see your baby). You'll be tired, hungry, filthy, possibly in some pain, and wanting privacy. Those don't put me in the mood for tender moments.
    - Embrace the labor pain. It'll help you breathe. Nobody likes to feel pain, so we try to tense up and reject it. You automatically hold your breath when you tense up, which can make your body to into fight-or-flight mode and slow down labor (which makes things take longer and be more tiring). Also, realize that each birth will be different.
    - Get a hospital buddy. One (at most two) very close people to stay by your side in the hospital (husband, mother, super close family member or friend).
    - Pack a hospital bag. Bring ear plugs to the hospital; you'll sleep so much better postpartum. Bring small essential toiletries, warm pajamas (the hospital is cold), a change of clothes (so you're not going home in your pajamas), anything needed to help you be comfortable while in labor (pillows to prop you, heated rice pack, music...), and some entertainment for the two days before you're released.
    - Prepare freezer meals.
    - Set aside money (for a splurge post-baby).
    - Research. Read all you can and ask questions, but realize there are multiple viewpoints to consider and you probably don't know more than the doctor. Take classes and read all you can about what giving birth is like. And know that hospital births are not inferior.
    - Get a doctor or midwife. If getting a doctor, get a man--they only look at you professionally, they're more sympathetic, they leave feelings at home.

notes:
  - Apologies to <a href="https://tableflipsyou.blogspot.com/">Flip the Table</a> for ripping off the "Guess the Postage" "game" they did as a stinger.
  - And it was magnesium.
---
{% list melissa %}