---
layout: episode
number: 96
title: TV Show Intros
description: Brian and Melissa list their ten favorite TV show intros. Both theme songs and visuals are considered.
date: 2018-11-23
hosts:
  - Brian
  - Melissa
bytes: 43527876
duration: '1:12:33'
tags:
  - episodes
  - tv
  - music

brian:
  host: Brian
  list:
    - {"title": "Doctor Who", "id": "XY2pFZniOAs"}
    - {"title": "The Office", "id": "QWfOdfub52k"}
    - {"title": "Cheers", "id": "rS0VQOHX7lM"}
    - {"title": "Happy Days", "id": "6W6y7YhHdVE"}
    - {"title": "The Twilight Zone", "id": "eQhi1754w7U"}
    - {"title": "Game of Thrones", "id": "s7L2PVdrb_8"}
    - {"title": "Daredevil", "id": "KFYFh8w4758"}
    - {"title": "MacGyver", "id": "UKTNWI0eYJ4"}
    - {"title": "Psych", "id": "Z1zWFjO5ImY"}
    - {"title": "Star Trek: The Next Generation", "id": "HnDtvZXYHgE"}
  playlistID: PL8c-Yg_oDsbPnYqRZZZ-mgmKH-35JuT_B
melissa:
  host: Melissa
  list:
    - {"title": "Cheers", "id": "rS0VQOHX7lM"}
    - {"title": "Firefly", "id": "o-sp68GjYL0"}
    - {"title": "The Office", "id": "QWfOdfub52k"}
    - {"title": "The X-Files", "id": "Vpqffgak7To"}
    - {"title": "Psych", "id": "Z1zWFjO5ImY"}
    - {"title": "The Leftovers", "id": "PQIHe5o05Ck"}
    - {"title": "Star Trek: The Next Generation", "id": "HnDtvZXYHgE"}
    - {"title": "The Walking Dead", "id": "of-Bqmlgj98"}
    - {"title": "Daredevil", "id": "KFYFh8w4758"}
    - {"title": "Game of Thrones", "id": "s7L2PVdrb_8"}
  playlistID: PL8c-Yg_oDsbO9N2gKix2Z5OrGi8g-k48x

notes:
  - Sorry for the poor audio quality, not sure what was up with our mics.
---
{% youtubeList melissa %}
{% youtubeList brian %}