---
layout: episode
number: 97
title: Games to Play on the Dice Tower Cruise
description: Melissa and Brian make a list of games they want to play on the upcoming Dice Tower Cruise.
date: 2018-12-09
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 47510790
duration: '1:19:11'
tags:
  - episodes
  - board-games

brian:
  host: Brian
  list:
    - {"title": "Near and Far", "id": "195421"}
    - {"title": "Primordial Soup", "id": "124"}
    - {"title": "Panic on Wall Street!", "id": "104581"}
    - {"title": "Quadropolis", "id": "176396"}
    - {"title": "Century: Spice Road", "id": "209685"}
    - {"title": "Heroes of Land, Air & Sea", "id": "198830"}
    - {"title": "Le Havre", "id": "35677"}
    - {"title": "Blood Rage", "id": "170216"}
    - {"title": "Keyflower", "id": "122515"}
    - {"title": "Sidereal Confluence", "id": "202426"}
melissa:
  host: Melissa
  list:
    - {"title": "Bunny Kingdom", "id": "184921"}
    - {"title": "Dice Forge", "id": "194594"}
    - {"title": "The Voyages of Marco Polo", "id": "171623"}
    - {"title": "Nations: The Dice Game", "id": "157809"}
    - {"title": "Root", "id": "237182"}
    - {"title": "Primordial Soup", "id": "124"}
    - {"title": "Panic on Wall Street!", "id": "104581"}
    - {"title": "Cerebria", "id": "218479"}
    - {"title": "Takenoko", "id": "70919"}
    - {"title": "Lords of Hellas", "id": "222509"}

---
{% boardGameList brian %}
{% boardGameList melissa %}