---
layout: episode
number: 98
title: Christmas Songs
description: Melissa and Brian share their favorite Christmas songs, just in time for the holidays.
date: 2018-12-22
hosts:
  - Brian
  - Melissa
bytes: 43751747
duration: '1:12:55'
tags:
  - episodes
  - christmas
  - music

brian:
  host: Brian
  list:
    - {"title": "Christmas Pipes", "id": "V8497X_Y8Fk"}
    - {"title": "Have Yourself a Merry Little Christmas", "id": "MKG5X0QMSWA"}
    - {"title": "Holly Jolly Christmas", "id": "nVMCUtsmWmQ"}
    - {"title": "The Twelve Days of Christmas", "id": "dCIUzKN0spI"}
    - {"title": "Sleigh Ride", "id": "6b9BKK27HuQ"}
    - {"title": "Ding! Dong! Merrily On High", "id": "6J_2tKCwu7Q"}
    - {"title": "Angels We Have Heard On High", "id": "F7xNKP1uMkU"}
    - {"title": "The First Noel", "id": "R3BWqyvB9UU"}
    - {"title": "Hark! The Herald Angels Sing", "id": "SFjMPaOBzXc"}
    - {"title": "O Holy Night", "id": "cZ-8jYpa1-o"}
  playlistID: PL8c-Yg_oDsbNxropptd-yd8LB0PeN7H1n
melissa:
  host: Melissa
  list:
    - {"title": "Christmas Pipes", "id": "V8497X_Y8Fk"}
    - {"title": "Holly Jolly Christmas", "id": "nVMCUtsmWmQ"}
    - {"title": "O Come, O Come Emmanuel", "id": "iO7ySn-Swwc"}
    - {"title": "God Rest Ye, Merry Gentlemen", "id": "FlfHyb397VY"}
    - {"title": "What Child Is This?", "id": "brmRUlKbF7g"}
    - {"title": "The Christmas Song", "id": "Fk33KjJkUxw"}
    - {"title": "Carol of the Bells", "id": "q0IR2GvV5Bc"}
    - {"title": "Ding Dong Merrily On High", "id": "pQRK0wlPUQw"}
    - {"title": "Mary, Did You Know?", "id": "bXmfkFoX-PE"}
    - {"title": "O Holy Night", "id": "cZ-8jYpa1-o"}
  playlistID: PL8c-Yg_oDsbNC-3eP6i-b7u002Er6RXC8

youtubeNotes:
  - {"id": "oiSn2JuDQSc", "caption": "Make It So"}
  - {"id": "LUoDmRM2aJ0", "caption": "Chiron Beta Prime"}
---
{% youtubeList brian %}
{% youtubeList melissa %}