---
layout: episode
number: 99
title: Fantasy Football 2018 Wrapup
description: Brian reviews the fantasy football players that excited him. How many did he hit on, and how many were misses?
date: 2018-12-25
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 8118389
duration: '0:13:32'
tags:
  - episodes
  - fantasy-football

brian:
  host: Brian
  list:
    - Deshaun Watson - QB5 (hit)
    - Andrew Luck - QB7 (hit)
    - Jimmy Garoppolo - (injured)
    - Saquon Barkley - RB3 (hit)
    - Christian McCaffrey - RB2 (hit)
    - Joe Mixon - RB11 (hit)
    - Royce Freeman - RB51 (miss)
    - Josh Gordon - RB41 (miss)
    - Nelson Agholor - RB43 (miss)
    - Trey Burton - RB8 (neutral)
---
{% list brian %}