---
layout: episode
number: 100
title: Ten to One Episodes
description: Melissa and Brian celebrate themselves! For the 100th episode they take a look back at all the episodes that came before, covering the best and worst of the past two and a half years.
date: 2018-12-31
hosts:
  - Brian
  - Melissa
bytes: 43636551
duration: '1:12:43'
tags:
  - episodes
  - event

brian:
  host: Brian
  list:
    - {"title": "Nº 52: Things Not to Say to Your Wife", "url": "http://tto.koser.us/episodes/052-things-not-to-say-to-your-wife/"} 
    - {"title": "Nº 5: Bible Stories that Make Us Laugh", "url": "http://tto.koser.us/episodes/005-bible-stories-that-make-us-laugh/"}
    - {"title": "Nº 57: Jokes", "url": "http://tto.koser.us/episodes/057-jokes/"}
    - {"title": "Nº 32: Moral Dilemmas", "url": "http://tto.koser.us/episodes/032-moral-dilemmas/"}
    - {"title": "Nº 28: Books 2016 / Nº 62: Books 2017", "url": "http://tto.koser.us/episodes/028-books-2016/"}
    - {"title": "Nº 82: Reasons to Read Books", "url": "http://tto.koser.us/episodes/082-reasons-to-read-books/"}
    - {"title": "Nº 39: Sports", "url": "http://tto.koser.us/episodes/039-sports/"}
    - {"title": "Nº 12: Improvements on Idioms and Proverbs", "url": "http://tto.koser.us/episodes/012-improvements-on-idioms-and-proverbs/"}
    - {"title": "Nº 22: Fast Food Restaurants", "url": "http://tto.koser.us/episodes/022-fast-food-restaurants/"}
    - {"title": "Nº 64: Great Songs", "url": "http://tto.koser.us/episodes/064-great-songs/"}
melissa:
  host: Melissa
  list:
    - {"title": "Nº 10: Worst Things I've Ingested", "url": "http://tto.koser.us/episodes/010-worst-things-ive-ever-ingested/"}
    - {"title": "Nº 45: Super Characteristics of My Spouse", "url": "http://tto.koser.us/episodes/045-super-characteristics-of-my-spouse/"}
    - {"title": "Nº 1: Lamest Superheros", "url": "http://tto.koser.us/episodes/001-lamest-superheroes/"}
    - {"title": "Nº 67: Bucket", "url": "http://tto.koser.us/episodes/067-bucket-list-foods/"}
    - {"title": "Nº 48 Fictional World Characteristics", "url": "http://tto.koser.us/episodes/048-fictional-world-characteristics/"}
    - {"title": "Nº 44: Pop Culture Quotes", "url": "http://tto.koser.us/episodes/044-pop-culture-quotes/"}
    - {"title": "Nº 37: LOST Moments", "url": "http://tto.koser.us/episodes/037-lost-moments/"}
    - {"title": "Nº 25: Advice After 5 Years of Marriage", "url": "http://tto.koser.us/episodes/025-advice-after-five-years-of-marriage/"}
    - {"title": "Nº 57: Jokes", "url": "http://tto.koser.us/episodes/057-jokes/"}
    - {"title": "Nº 52: Things Not to Say to Your Wife", "url": "http://tto.koser.us/episodes/052-things-not-to-say-to-your-wife/"}
---
{% linkList brian %}
{% linkList melissa %}