---
layout: episode
number: 101
title: New Year’s Resolutions 2019
description: Brian and Melissa reveal how well they followed last year's resolutions, and pick 5 new resolutions for 2019.
date: 2019-01-04
hosts:
  - Brian
  - Melissa
bytes: 34316590
duration: '0:57:11'
tags:
  - episodes
  - personal
  - resolutions
  - annual

brian:
  host: Brian
  list:
    - Reading: finish Greek classics and “on-deck”
    - Website projects: kodex 2.0, Ten to One and briankoser.com redesigns, sfc.blue
    - Exercise: get to median recommended band for body fat and muscle
    - Journal
    - Finish 2019 to do list
melissa:
  host: Melissa
  list:
    - Write two chapters in story
    - Read Don Quixote in Spanish
    - Take charge of the fridge
    - Be a better friend
    - Witness to 10 people
---
{% list melissa %}
{% list brian %}