---
layout: episode
number: 102
title: Movies 2018
description: Melissa and Brian run through all the movies they saw in 2018. Hear about the best and the worst!
date: 2019-01-18
hosts:
  - Brian
  - Melissa
bytes: 55666191
duration: '1:32:46'
tags:
  - episodes
  - movies
  - annual

brian:
  host: Brian
  list:
    - {"title": "The Third Man", "slug": "the-third-man"}
    - {"title": "Heat", "slug": "heat-1995"}
    - {"title": "What We Do In The Shadows", "slug": "what-we-do-in-the-shadows"}
    - {"title": "Modern Times", "slug": "modern-times"}
    - {"title": "Gone with the Wind", "slug": "gone-with-the-wind"}
    - {"title": "Sunset Boulevard", "slug": "sunset-boulevard"}
    - {"title": "The Grand Budapest Hotel", "slug": "the-grand-budapest-hotel"}
    - {"title": "Spirited Away", "slug": "spirited-away"}
    - {"title": "Blade Runner 2049", "slug": "blade-runner-2049"}
    - {"title": "Coherence", "slug": "coherence"}
melissa:
  host: Melissa
  list:
    - {"title": "Jumanji: Welcome to the Jungle", "slug": "jumanji-welcome-to-the-jungle"}
    - {"title": "Dirty Rotten Scoundrels", "slug": "dirty-rotten-scoundrels"}
    - {"title": "Gattaca", "slug": "gattaca"}
    - {"title": "The Cameraman", "slug": "the-cameraman"}
    - {"title": "The Iron Giant", "slug": "the-iron-giant"}
    - {"title": "Blade Runner 2049", "slug": "blade-runner-2049"}
    - {"title": "Frequency", "slug": "frequency"}
    - {"title": "A Quiet Place", "slug": "a-quiet-place-2018"}
    - {"title": "Coherence", "slug": "coherence"}
    - {"title": "Gone with the Wind", "slug": "gone-with-the-wind"}
notes:
  - <a href="https://letterboxd.com/bkoser/year/2018/">Brian’s 2018 in review on Letterboxd</a>
---
{% movieList brian %}
{% movieList melissa %}