---
layout: episode
number: 103
title: Books 2018
description: "Brian and Melissa discuss the books they read in 2018 in this super-size episode: the best, the worst, and plenty of stats. Plus feedback from Megan and Joshua!"
date: 2019-02-01
hosts:
  - Brian
  - Melissa
bytes: 74613064
duration: '2:04:21'
tags:
  - episodes
  - books
  - annual

brian:
  host: Brian
  list:
    - {"title": "Ty Cobb: A Terrible Beauty", "review": "1893176595"}
    - {"title": "My Man Jeeves", "review": "1577482234"}
    - {"title": "The Histories", "review": "2317807120"}
    - {"title": "The Retreat of Western Liberalism", "review": "2051805793"}
    - {"title": "The Islanders", "review": "1718121324"}
    - {"title": "Web Typography: A handbook for designing beautiful and effective responsive typography", "review": "2251216251"}
    - {"title": "The Fall of Hyperion", "review": "2191251015"}
    - {"title": "The Stand", "review": "2299662107"}
    - {"title": "The Martian Chronicles", "review": "1706671105"}
    - {"title": "From the Garden to the City: The Redeeming and Corrupting Power of Technology", "review": "2074089141"}
melissa:
  host: Melissa
  list:
    - {"title": "The Terror", "review": "2531221567"}
    - {"title": "Frankenstein", "review": "2511192248"}
    - {"title": "Surprised By Hope", "review": "2308343087"}
    - {"title": "Dimension of Miracles", "review": "2404741108"}
    - {"title": "The Red Knight", "review": "2569664537"}
    - {"title": "Making Money", "review": "1602556828"}
    - {"title": "Neverwhere", "book": "14497.Neverwhere"}
    - {"title": "I Am Legend", "review": "2309579046"}
    - {"title": "Night Watch", "review": "2495607705"}
    - {"title": "Something Wicked This Way Comes", "review": "2340562653"}

notes:
  - <a href="https://www.goodreads.com/user/show/4812558-brian-koser">Brian</a> on Goodreads
  - <a href="https://www.goodreads.com/user/show/54340861-melissa">Melissa</a> on Goodreads
  - <a href="https://hugospodcast.com/podcast/hugos-there-podcast-23-jonathan-strange-mr-norrell-feat-brian-koser/">Hugos There Podcast #23: Jonathan Strange & Mr. Norrell, by Susanna Clarke (feat. Brian Koser)</a></li>
---
{% bookList melissa %}
{% bookList brian %}