---
layout: episode
number: 104
title: Board Games 2018
description: Special guests Joe and Heather Wiggins join to discuss their favorite board games of all time. That's forty board games, plus honorable mentions, crammed into our longest episode yet!
date: 2019-02-15
hosts:
  - Brian
  - Melissa
  - Joe Wiggins
  - Heather Wiggins
bytes: 103088106
duration: '2:51:49'
tags:
  - episodes
  - guests
  - board-games

brian:
  host: Brian
  list:
    - {"title": "Suburbia", "id": "123260"}
    - {"title": "Viticulture Essential Edition", "id": "183394"}
    - {"title": "Roll for the Galaxy", "id": "132531"}
    - {"title": "Fresco", "id": "66188"}
    - {"title": "Caverna: The Cave Farmers", "id": "102794"}
    - {"title": "Terraforming Mars", "id": "167791"}
    - {"title": "Power Grid", "id": "2651"}
    - {"title": "Grand Austria Hotel", "id": "182874"}
    - {"title": "Shogun", "id": "20551"}
    - {"title": "Cosmic Encounter", "id": "39463"}
melissa:
  host: Melissa
  list:
    - {"title": "Crokinole", "id": "521"}
    - {"title": "Balderdash", "id": "163"}
    - {"title": "Seasons", "id": "108745"}
    - {"title": "Castles of Mad King Ludwig", "id": "155426"}
    - {"title": "Zombie 15'", "id": "144826"}
    - {"title": "Alchemists", "id": "161970"}
    - {"title": "Sheriff of Nottingham", "id": "157969"}
    - {"title": "Dungeon Petz", "id": "97207"}
    - {"title": "Grand Austria Hotel", "id": "182874"}
    - {"title": "Cosmic Encounter", "id": "39463"}
joe:
  host: Joe
  list:
    - {"title": "Container", "id": "26990"}
    - {"title": "Gaia Project", "id": "220308"}
    - {"title": "Dominant Species", "id": "62219"}
    - {"title": "Ora et Labora", "id": "70149"}
    - {"title": "Small City", "id": "130486"}
    - {"title": "Root", "id": "237182"}
    - {"title": "Lignum", "id": "174155"}
    - {"title": "The Estates", "id": "249381"}
    - {"title": "Roads & Boats", "id": "875"}
    - {"title": "18XX", "id": "421"}
heather:
  host: Heather
  list:
    - {"title": "Viticulture Essential Edition", "id": "183394"}
    - {"title": "Roads & Boats", "id": "875"}
    - {"title": "Antiquity", "id": "13122"}
    - {"title": "Orléans", "id": "164928"}
    - {"title": "Agricola", "id": "31260"}
    - {"title": "Craftsmen", "id": "145219"}
    - {"title": "Kanban: Driver's Edition", "id": "109276"}
    - {"title": "Lignum", "id": "174155"}
    - {"title": "The Ruhr", "id": "226254"}
    - {"title": "Two Rooms and a Boom", "id": "134352"}

notes:
  - <abbr>GIRLBOPOLA</abbr> - Games I Really Liked But Only Played Once Long Ago
---
{% boardGameList brian %}
{% boardGameList melissa %}
{% boardGameList heather %}
{% boardGameList joe %}