---
layout: episode
number: 105
title: Board Games Addendum 2019
description: Brian and Melissa wrap up the board game talk by running through the games they played on the cruise and explaining why certain games fell off their top 10 lists.
date: 2019-03-01
hosts:
  - Brian
  - Melissa
bytes: 19951332
duration: '0:33:15'
tags:
  - episodes
  - board-games
---

{% cdnImage 'marble-bobsleigh.jpg', metadata.cdn_url, 'Marble Bobsleigh', 'Marble Bobsleigh' %}

{% cdnImage 'takenoko-collectors-edition.jpg', metadata.cdn_url, "Takenoko Collector''s Edition", "Giant Panda from Takenoko Collector''s Edition" %}

{% cdnImage 'lords-of-hellas-painted-miniatures.jpg', metadata.cdn_url, 'Lords of Hellas', 'Lords of Hellas with painted miniatures' %}