---
layout: episode
number: 106
title: Studio C Videos
description: Melissa and Brian list their favorite videos from the sketch comedy group Studio C.
date: 2019-03-16
hosts:
  - Brian
  - Melissa
bytes: 41292318
duration: '1:08:49'
tags:
  - episodes

brian:
  host: Brian
  list:
    - {"title": "I Don't Do Mornings", "id": "0A78ShqN7n0"}
    - {"title": "Fugitive Man Hunt", "id": "GgnvxOnKuzo"}
    - {"title": "The Microworld with Dr. Shoemaker: Chemical Reactions", "id": "p9dZAW_F1D0"}
    - {"title": "The School of Fashion", "id": "dsc8EvzgaFk"}
    - {"title": "Radio Mystery Hour Mayhem", "id": "ku_wxcLyQJA"}
    - {"title": "The Crayon Song Gets Ruined", "id": "9VH8lvZ-Z1g"}
    - {"title": "Taken 3 | Exclusive Trailer [HD]", "id": "HCotmiGzwBw"}
    - {"title": "18th Century Man's Man", "id": "RrfJ-AEuXBc"}
    - {"title": "The Smiths", "id": "pDhAI17pMTg"}
    - {"title": "Two Guys On A Scooter", "id": "hVr1YI6x-eQ"}
  playlistID: PL8c-Yg_oDsbOoVnVfybkHDVirZUkwgvId
melissa:
  host: Melissa
  list:
    - {"title": "Reference Check", "id": "FMgbvytM7rM"}
    - {"title": "Inside a Man's Brain", "id": "AHzq4-hSMi0"}
    - {"title": "18th Century Man's Man", "id": "RrfJ-AEuXBc"}
    - {"title": "Car Lip Sync Battle", "id": "XBDdB1_AxCY"}
    - {"title": "Two Guys On A Scooter", "id": "hVr1YI6x-eQ"}
    - {"title": "Elevator Fail", "id": "vHDDdpiYYz4"}
    - {"title": "El Tango de Chair", "id": "erd80xCbAWA"}
    - {"title": "Ann \"The Librarian\" Withers", "id": "G8ap6QT3aC4"}
    - {"title": "Shoulder Devil", "id": "4uTpklGUvJw"}
    - {"title": "Aww Yeah", "id": "IVnIcxDZoVY"}
  playlistID: PL8c-Yg_oDsbNSgrLooot3eoEc8wR3Fjpi
---
{% youtubeList brian %}
{% youtubeList melissa %}