---
layout: episode
number: 107
title: Rapsters
description: Brian and Melissa recently got into rapster music. They each list their ten favorite rapsters.
date: 2019-04-01
hosts:
  - Brian
  - Melissa
bytes: 14169895
duration: '0:23:37'
tags:
  - episodes
  - april-fools
  - recommended

brian:
  host: Brian
  list:
    - The Jolly Rajah
    - Carnivorous Coniferous
    - Goober Two Shoes
    - The Baron of Bad News
    - Misled
    - Vinceable
    - Cucumber Sammich
    - Heavy Lobster
    - Dooby Doo
    - Kangaroo Pants
melissa:
  host: Melissa
  list:
    - Tuhwitch
    - Little Ist
    - Stygian Oval
    - Wiggly White
    - Beastly Crumble
    - Pixelbook Book
    - Ba Oon
    - Home (pronounce Homie)
    - Hudat
    - Huhu the Owl
---
{% list melissa %}
{% list brian %}