---
layout: episode
number: 108
title: Animated Shows
description: Melissa and Brian are joined by their first returning guest, Zach Koser, to talk about their favorite animated TV shows. Yay cartoons!
date: 2019-04-12
hosts:
  - Brian Koser
  - Melissa Koser
  - Zach Koser
bytes: 53289553
duration: '1:28:49'
tags:
  - episodes
  - tv

brian:
  host: Brian
  list:
    - {"title": "Futurama", "url": "https://www.themoviedb.org/tv/615-futurama"}
    - {"title": "Dexter's Laboratory", "url": "https://www.themoviedb.org/tv/4229-dexter-s-laboratory"}
    - {"title": "Gargoyles", "url": "https://www.themoviedb.org/tv/1719-gargoyles"}
    - {"title": "Spongebob Squarepants", "url": "https://www.themoviedb.org/tv/387-spongebob-squarepants"}
    - {"title": "Samurai Jack", "url": "https://www.themoviedb.org/tv/2723-samurai-jack"}
    - {"title": "The Legend of Korra", "url": "https://www.themoviedb.org/tv/33880-the-legend-of-korra"}
    - {"title": "Justice League/Justice League Unlimited", "url": "https://www.themoviedb.org/tv/1618-justice-league"}
    - {"title": "Batman: The Animated Series", "url": "https://www.themoviedb.org/tv/2098-batman-the-animated-series"}
    - {"title": "The Tick", "url": "https://www.themoviedb.org/tv/14540-the-tick"}
    - {"title": "Avatar: The Last Airbender", "url": "https://www.themoviedb.org/tv/246-avatar-the-last-airbender"}
melissa:
  host: Melissa
  list:
    - {"title": "The Pink Panther Show", "url": "https://www.themoviedb.org/tv/10317-the-pink-panther-show?language=en-US"}
    - {"title": "Danny Phantom", "url": "https://www.themoviedb.org/tv/2309-danny-phantom"}
    - {"title": "The Tick", "url": "https://www.themoviedb.org/tv/14540-the-tick"}
    - {"title": "Pinky and the Brain", "url": "https://www.themoviedb.org/tv/2228-pinky-and-the-brain"}
    - {"title": "One Punch Man", "url": "https://www.themoviedb.org/tv/63926"}
    - {"title": "Gargoyles", "url": "https://www.themoviedb.org/tv/1719-gargoyles"}
    - {"title": "Samurai Jack", "url": "https://www.themoviedb.org/tv/2723-samurai-jack"}
    - {"title": "The Legend of Korra", "url": "https://www.themoviedb.org/tv/33880-the-legend-of-korra"}
    - {"title": "Justice League", "url": "https://www.themoviedb.org/tv/1618-justice-league"}
    - {"title": "Avatar: The Last Airbender", "url": "https://www.themoviedb.org/tv/246-avatar-the-last-airbender"}
zach:
  host: Zach
  list:
    - {"title": "Bob the Builder", "url": "https://www.themoviedb.org/tv/10938-bob-the-builder"}
    - {"title": "Looney Tunes", "url": "https://www.themoviedb.org/movie/317193-looney-tunes-platinum-collection-volume-one"}
    - {"title": "Marvel's Avengers Assemble", "url": "https://www.themoviedb.org/tv/59427-marvel-s-avengers-assemble"}
    - {"title": "Justice League Unlimited", "url": "https://www.themoviedb.org/tv/84200-justice-league-unlimited"}
    - {"title": "Dragons: Race to the Edge", "url": "https://www.themoviedb.org/tv/78173-dragons-race-to-the-edge"}
    - {"title": "The Penguins of Madagascar", "url": "https://www.themoviedb.org/tv/7869-the-penguins-of-madagascar"}
    - {"title": "Spongebob Squarepants", "url": "https://www.themoviedb.org/tv/387-spongebob-squarepants"}
    - {"title": "Star Wars: The Clone Wars", "url": "https://www.themoviedb.org/tv/4194-star-wars-the-clone-wars"}
    - {"title": "Marvel's Ultimate Spider-Man", "url": "https://www.themoviedb.org/tv/34391-ultimate-spider-man"}
    - {"title": "LEGO Ninjago: Masters of Spinjitzu", "url": "https://www.themoviedb.org/tv/38693-lego-ninjago-masters-of-spinjitzu"}
---
{% linkList brian %}
{% linkList melissa %}
{% linkList zach %}