---
layout: episode
number: 109
title: Movies Pre-1960
description: Teaching Facebook a lesson! The ethics of whistling at work! The moon landing! Oh, and our favorite movies released before 1960. Just some of the topics Brian and Melissa discuss with Matt Anderson and Ben De Bono, hosts of The Sci-Fi Christian podcast.
date: 2019-04-26
hosts:
  - Brian
  - Melissa
  - Ben De Bono
  - Matt Anderson
bytes: 81644448
duration: '1:28:49'
tags:
  - episodes
  - guests
  - movies
  - the-sci-fi-christian

brian:
  host: Brian
  list:
    - {"title": "The Philadelphia Story", "slug": "the-philadelphia-story"}
    - {"title": "Gone With the Wind", "slug": "gone-with-the-wind"}
    - {"title": "Modern Times", "slug": "modern-times"}
    - {"title": "Citizen Kane", "slug": "citizen-kane"}
    - {"title": "In the Good Old Summertime", "slug": "in-the-good-old-summertime"}
    - {"title": "12 Angry Men", "slug": "12-angry-men"}
    - {"title": "Seven Samurai", "slug": "seven-samurai"}
    - {"title": "Casablanca", "slug": "casablanca"}
    - {"title": "Sunset Boulevard", "slug": "sunset-boulevard"}
    - {"title": "It's A Wonderful Life", "slug": "its-a-wonderful-life"}
melissa:
  host: Melissa
  list:
    - {"title": "The Bridge on the River Kwai", "slug": "the-bridge-on-the-river-kwai"}
    - {"title": "Sunset Boulevard", "slug": "sunset-boulevard"}
    - {"title": "Rear Window", "slug": "rear-window"}
    - {"title": "The Philadelphia Story", "slug": "the-philadelphia-story"}
    - {"title": "Casablanca", "slug": "casablanca"}
    - {"title": "It's A Wonderful Life", "slug": "its-a-wonderful-life"}
    - {"title": "Some Like It Hot", "slug": "some-like-it-hot"}
    - {"title": "Ben-Hur", "slug": "ben-hur-1959"}
    - {"title": "12 Angry Men", "slug": "12-angry-men"}
    - {"title": "Gone With the Wind", "slug": "gone-with-the-wind"}
ben:
  host: Ben
  list:
    - {"title": "Sunrise", "slug": "sunrise-a-song-of-two-humans"}
    - [{"title": "Citizen Kane", "slug": "citizen-kane"}, {"title": "Touch of Evil", "slug": "touch-of-evil"}]
    - {"title": "The Bridge on the River Kwai", "slug": "the-bridge-on-the-river-kwai"}
    - {"title": "The Seventh Seal", "slug": "the-seventh-seal"}
    - {"title": "Casablanca", "slug": "casablanca"}
    - {"title": "Bicycle Thieves", "slug": "bicycle-thieves"}
    - {"title": "Paths of Glory", "slug": "paths-of-glory"}
    - {"title": "Ordet", "slug": "ordet"}
    - {"title": "Seven Samurai", "slug": "seven-samurai"}
    - {"title": "The Passion of Joan of Arc", "slug": "the-passion-of-joan-of-arc"}
matt:
  host: Matt
  list:
    - {"title": "12 Angry Men", "slug": "12-angry-men"}
    - {"title": "Miracle on 34th Street", "slug": "miracle-on-34th-street"}
    - {"title": "The Day the Earth Stood Still", "slug": "the-day-the-earth-stood-still"}
    - {"title": "Seven Samurai", "slug": "seven-samurai"}
    - {"title": "Dial M for Murder", "slug": "dial-m-for-murder"}
    - {"title": "It's A Wonderful Life", "slug": "its-a-wonderful-life"}
    - {"title": "White Christmas", "slug": "white-christmas"}
    - {"title": "Rear Window", "slug": "rear-window"}
    - {"title": "Singin’ in the Rain", "slug": "singin-in-the-rain"}
    - {"title": "Casablanca", "slug": "casablanca"}

notes:
  - Follow us on Letterboxd: <a href="https://letterboxd.com/mkoser/">Melissa</a>, <a href="https://letterboxd.com/bkoser/">Brian</a>, <a href="https://letterboxd.com/bendebono/">Ben</a>, <a href="https://letterboxd.com/manderson555/">Matt</a>
  - <a href="https://letterboxd.com/manderson555/list/top-12-favorite-movies-released-prior-to/">Matt's top 12 pre-1960 movies</a>
  - <a href="https://xkcd.com/1485/">XKCD: Bromance</a>
  - The clip at the end of the episode is from The Sci-Fi Christian, Episode 487: The Return of Double Dare and Other News
---
{% movieList melissa %}
{% movieList brian %}
{% movieList ben %}
{% movieList matt %}