---
layout: episode
number: 110
title: Candy Bars
description: After some grueling research, Melissa and Brian are joined again by Tim Binzel to discuss their favorite candy bars.
date: 2016-01-01
hosts:
  - Brian
  - Melissa
  - Tim Binzel
bytes: 54334991
duration: '1:30:33'
tags:
  - episodes
  - guests
  - food

brian:
  host: Brian
  list:
    - Reese’s Sticks
    - York Peppermint Patty
    - Rolo
    - Twix
    - Butterfinger
    - Symphony Almond Toffee
    - Toblerone
    - Kinder Bueno
    - Reese’s Peanut Butter Cups
    - Kit Kat
melissa:
  host: Melissa
  list:
    - Lindor Milk Chocolate Truffle Bar
    - Snickers Almond
    - Turtles
    - Kinder Bueno
    - Andes Mint
    - 5th Avenue
    - Reese’s Peanut Butter Cups
    - Reese’s Sticks
    - Whatchamacallit
    - Ferrero Rocher
tim:
  host: Tim
  list:
    - Butterfinger
    - Ferrero Rocher
    - Kit Kat
    - Payday
    - Snickers Almond
    - Andes Mint
    - Lindor Milk Chocolate Truffle Bar
    - Toblerone
    - Whatchamacallit
    - Reese’s Sticks
---
{% list brian %}
{% list melissa %}
{% list tim %}

{% cdnImage 'candy-bar-wrappers.jpg', metadata.cdn_url, 'Candy bar wrappers', 'Research results' %}