---
layout: episode
number: 111
title: "Actors: Revisited"
description: For the first time, Brian and Melissa revisit a topic. And they did it with returning guest Megan Hutt, and first-time guest Josh Hutt! Listen as they discuss their favorite actors. How much did Brian and Melissa's list change? It's a mega-sized episode after the unplanned summer hiatus.
date: 2019-07-12
hosts:
  - Brian Koser
  - Melissa Koser
  - Megan Hutt
  - Josh Hutt
guests: true
bytes: 90318408
duration: '2:30:32'
tags:
  - episodes
  - guests
  - revisited
  - movies
  - tv

brian:
  host: Brian
  list:
    - {"title": "Buster Keaton", "url": "https://letterboxd.com/actor/buster-keaton/"}
    - {"title": "Simon Pegg", "url": "https://letterboxd.com/actor/simon-pegg/"}
    - {"title": "Judy Garland", "url": "https://letterboxd.com/actor/judy-garland/"}
    - {"title": "John Candy", "url": "https://letterboxd.com/actor/john-candy/"}
    - {"title": "Jemaine Clement", "url": "https://letterboxd.com/actor/jemaine-clement/"}
    - {"title": "Bill Murray", "url": "https://letterboxd.com/actor/bill-murray/"}
    - {"title": "Jack Lemmon", "url": "https://letterboxd.com/actor/jack-lemmon/"}
    - {"title": "David Tennant", "url": "https://letterboxd.com/actor/david-tennant-1/"}
    - {"title": "Jimmy Stewart", "url": "https://letterboxd.com/actor/james-stewart/"}
    - {"title": "Ioan Gruffudd", "url": "https://letterboxd.com/actor/ioan-gruffudd/"}
melissa:
  host: Melissa
  list:
    - {"title": "Leonardo DiCaprio", "url": "https://letterboxd.com/actor/leonardo-dicaprio/"}
    - {"title": "Michael Emerson", "url": "https://letterboxd.com/actor/michael-emerson/"}
    - {"title": "Matt Smith", "url": "https://letterboxd.com/actor/matt-smith-2/"}
    - {"title": "Alan Rickman", "url": "https://letterboxd.com/actor/alan-rickman/"}
    - {"title": "Simon Pegg", "url": "https://letterboxd.com/actor/simon-pegg/"}
    - {"title": "Jack Lemmon", "url": "https://letterboxd.com/actor/jack-lemmon/"}
    - {"title": "John Candy", "url": "https://letterboxd.com/actor/john-candy/"}
    - {"title": "David Tennant", "url": "https://letterboxd.com/actor/david-tennant-1/"}
    - {"title": "Jimmy Stewart", "url": "https://letterboxd.com/actor/james-stewart/"}
    - {"title": "Yul Brynner", "url": "https://letterboxd.com/actor/yul-brynner/"}
megan:
  host: Megan
  list:
    - {"title": "Robert Preston", "url": "https://letterboxd.com/actor/robert-preston/"}
    - {"title": "Howard Keel", "url": "https://letterboxd.com/actor/howard-keel/"}
    - {"title": "Ioan Gruffudd", "url": "https://letterboxd.com/actor/ioan-gruffudd/"}
    - {"title": "Robert Downey, Jr.", "url": "https://letterboxd.com/actor/robert-downey-jr/"}
    - {"title": "Dick Van Dyke", "url": "https://letterboxd.com/actor/dick-van-dyke/"}
    - {"title": "Steve Martin", "url": "https://letterboxd.com/actor/steve-martin/"}
    - {"title": "Sandra Bullock", "url": "https://letterboxd.com/actor/sandra-bullock/"}
    - {"title": "Danny Kaye", "url": "https://letterboxd.com/actor/danny-kaye/"}
    - {"title": "Jimmy Stewart", "url": "https://letterboxd.com/actor/james-stewart/"}
    - {"title": "Judy Garland", "url": "https://letterboxd.com/actor/judy-garland/"}
josh:
  host: Josh
  list:
    - {"title": "Robert Downey, Jr.", "url": "https://letterboxd.com/actor/robert-downey-jr/"}
    - {"title": "Steve Martin", "url": "https://letterboxd.com/actor/steve-martin/"}
    - {"title": "Dick Van Dyke", "url": "https://letterboxd.com/actor/dick-van-dyke/"}
    - {"title": "Danny Kaye", "url": "https://letterboxd.com/actor/danny-kaye/"}
    - {"title": "Julie Andrews", "url": "https://letterboxd.com/actor/julie-andrews/"}
    - {"title": "Harrison Ford", "url": "https://letterboxd.com/actor/harrison-ford/"}
    - {"title": "Tom Hanks", "url": "https://letterboxd.com/actor/tom-hanks/"}
    - {"title": "Jimmy Stewart", "url": "https://letterboxd.com/actor/james-stewart/"}
    - {"title": "Johnny Depp", "url": "https://letterboxd.com/actor/johnny-depp/"}
    - {"title": "Robin Williams", "url": "https://letterboxd.com/actor/robin-williams/"}

notes:
  - <a href="https://letterboxd.com/bkoser/">Brian’s Letterboxd account</a>
  - <a href="https://letterboxd.com/mkoser/">Melissa’s Letterboxd account</a>
  - "<a href='https://letterboxd.com/bkoser/film/star-wars-the-last-jedi/'>Brian’s <i>Star Wars: The Last Jedi</i> review</a>"
youtubeNotes:
  - {"id": "NZ6UuF85ENA", "caption": "John Candy in <i class='movie-title'>The Volunteers</i>"}
  - {"id": "Q6Fuxkinhug", "caption": "John Malkovich in <i class='movie-title'>Being John Malkovich</i>"}
---
{% linkList melissa %}
{% linkList brian %}
{% linkList megan %}
{% linkList josh %}