---
layout: episode
number: 112
title: Sleep Training Tips
description: Melissa gives 10 tips for mothers trying to train their children to sleep through the night.
date: 2019-08-02
hosts:
  - Brian
  - Melissa
bytes: 27935130
duration: '0:46:33'
tags:
  - episodes
  - children-advice

melissa:
  host: Melissa
  list:
    - Have a schedule and routine
    - Keep the room dark and the bedtime routine soothing and low-key, calming, comforting
    - Be sure baby is clean and swaddled before nursing back to sleep
    - Keep night and day very distinct
    - Keep baby well fed during the day
    - Once you start a sleep training routine, stick with it at least four days
    - If baby wakes up screaming, give them a chance to self-soothe
    - Track how long baby has been awake and watch for sleepy cues
    - Don't let daytime naps go over 2½ hours, and don't start them after 5:00, 4:30 if child is older than 9 months.
    - Introduce a small stuffed animal
---
{% list melissa %}