---
layout: episode
number: 113
title: Simple Pleasures
description: Brian and Melissa share their top simple pleasures. 
date: 2019-09-06
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 29462246
duration: '0:49:06'
tags:
  - episodes

brian:
  host: Brian
  list:
    - Walking barefoot on a lawn
    - Peeing in the woods
    - A warm fire on a cold night (camp fire, fireplace)
    - Not being in a rush while others around you are
    - Napping on the beach
    - Playing with a ball
    - Reading a book on a rainy day
    - Fresh socks
    - Going to bed clean
    - Waking up, realizing you don't have to be up, and going back to sleep
melissa:
  host: Melissa
  list:
    - The minutes before a storm begins
    - Watching a river flow by
    - An itch thoroughly scratched
    - Binging
    - A massage when you're sore
    - Snuggles with sleepy children
    - Perfect weather on a beautiful day
    - Heat and cold when you most want them. Hot showers (anything warming when you're cold)/Cold water on a hot day (anything cooling when you're hot), or any time you're really thirsty
    - Feeling sleepy and comfortable on a Saturday morning, with no responsibilities
    - Laying down on soft bed sheets when you're exhausted
---
{% list melissa %}
{% list brian %}