---
layout: episode
number: 114
title: "Hugos There: Jonathan Strange & Mr. Norrell"
description: Brian joined Seth Heasley on his podcast, Hugos There, to discuss Susanna Clarke's 2005 Hugo winner, Jonathan Strange & Mr. Norrell.
date: 2019-10-04
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 30955167
duration: '0:51:35'
tags:
  - episodes
  - hugos-there

notes:
  - <a href="https://hugospodcast.com/">Hugos There</a>
  - <a href="https://www.goodreads.com/review/show/1164159036">Brian's review of <i class="book-title">Jonathan Strange & Mr. Norell</i></a>
---