---
layout: episode
number: 115
title: "Hugos There: The Fifth Season"
description: Melissa joined Seth Heasley on his podcast, Hugos There, to discuss N. K. Jemisin's 2005 Hugo winner, The Fifth Season.
date: 2019-11-01
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 37122666
duration: '1:01:52'
tags:
  - episodes
  - hugos-there

notes:
  - <a href="https://hugospodcast.com/">Hugos There</a>
  - <a href="https://www.goodreads.com/review/show/1887558723">Melissa's review of <i class="book-title">The Fifth Season</i></a>
---