---
layout: episode
number: 116
title: New Year’s Resolutions 2020
description: Melissa and Brian revisit last year's resolutions, then reveal their big 2020 goal (and a few small ones).
date: 2020-01-03
hosts:
  - Brian
  - Melissa
bytes: 44381574
duration: '1:13:58'
tags:
  - episodes
  - personal
  - resolutions
  - annual

brian:
  host: Brian
  list:
    - TTO website 3.0
    - Kodex 3.0
    - Fantasy Football stats website
    - 12 work projects
    - Read 100 books
melissa:
  host: Melissa
  list:
    - Read through the New Testament
    - Be more fun
    - Keep a memory book
    - Exercise and stretch, one night a week
    - Read 100 books
notes:
  - Melissa was 2/5 on her 2019 resolutions.
  - Brian was 3/5 on his 2019 resolutions.
  - <a href="https://www.goodreads.com/review/list/54340861?shelf=100-book-challenge">Melissa's 100 Books</a>
  - <a href="https://www.goodreads.com/review/list/4812558-brian-koser?shelf=100-books-2020">Brian's 100 Books</a>
  - John Dyer's <a href="http://www.biblereadingplangenerator.com">Bible Reading Plan Generator</a>
---
{% list brian %}
{% list melissa %}