---
layout: episode
number: 117
title: Books 2019
description: Melissa and Brian discuss their favorite books read from 2019. And their least favorite.
date: 2020-01-17
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 25559309
duration: '1:06:55'
tags:
  - episodes
  - movies
  - annual

brian:
  host: Brian
  list:
    - {"title": "Evangelical is Not Enough", "review": "1766451834"}
    - {"title": "The Inverted World", "review": "1414436441"}
    - {"title": "Medea", "review": "2231221762"}
    - {"title": "Five Dialogues: Euthyphro, Apology, Crito, Meno, Phaedo", "review": "2877762688"}
    - {"title": "Prometheus Bound", "review": "1920243988"}
    - {"title": "Trucking through Time", "review": "2883909057"}
    - {"title": "The Nicomachean Ethics", "review": "1599813312"}
    - {"title": "Perdido Street Station", "review": "2832439698"}
    - {"title": "Seveneves", "review": "1833662936"}
    - {"title": "The Terror", "review": "2631849837"}

melissa:
  host: Melissa
  list:
    - {"title": "We Are All Completely Beside Ourselves", "review": "2977606658"}
    - {"title": "Rocking Ordinary", "review": "2689032858"}
    - {"title": "Miss Peregrine's Home for Peculiar Children", "book": "9460487"}
    - {"title": "Enchantment", "review": "2789162045"}
    - {"title": "The Fifth Season", "review": "1887558723"}
    - {"title": "Good Omens", "review": "2690846147"}
    - {"title": "The Blade Itself", "review": "1626543673"}
    - {"title": "The Food Lab", "review": "1628196309"}
    - {"title": "Astro City, volumes 9-12", "review": "1635060321"}
    - {"title": "The Innocents Abroad", "review": "1858853639"}

notes:
  - <a href="https://www.goodreads.com/user/show/54340861-melissa">Melissa</a> on Goodreads
  - <a href="https://www.goodreads.com/user/show/4812558-brian-koser">Brian</a> on Goodreads
---
{% bookList melissa %}
{% bookList brian %}