---
layout: episode
number: 118
title: 372 Adventure
description: Brian selfishly recorded a podcast for himself and Melissa. And Ben De Bono of The Sci-Fi Christian. And maybe Matt Anderson of The Sci-Fi Christian. Only for fans of the podcast 372 Pages We'll Never Get Back, anyway.
date: 2020-01-31
hosts:
  - Brian Koser
  - Melissa Koser
  - Ben De Bono
  - Matt Anderson
guests: true
bytes: 39436577
duration: '1:05:43'
tags:
  - episodes
  - 372-pages
  - guests

notes:
  - <a href="https://372adventure.com">372 Adventure</a>
---
