---
layout: episode
number: 119
title: Movies 2019
description: Melissa and Brian share their favorite and least favorite movies they first viewed in 2019.
date: 2020-02-21
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 40149196
duration: '1:05:43'
tags:
  - episodes
  - movies
  - annual

brian:
  host: Brian
  list:
    - title: Airplane!
      slug: airplane
    - title: Fire Walk With Me
      slug: twin-peaks-fire-walk-with-me
    - title: Lifeboat
      slug: lifeboat
    - title: The Exorcist
      slug: the-exorcist
    - title: Psycho
      slug: psycho
    - title: City Lights
      slug: city-lights
    - title: When Harry Met Sally...
      slug: when-harry-met-sally
    - title: The High Sign/Cops
      slug: the-high-sign
    - title: My Dinner with Andre
      slug: my-dinner-with-andre
    - title: Seven Samurai
      slug: seven-samurai

melissa:
  host: Melissa
  list:
    - title: How The Grinch Stole Christmas!
      slug: how-the-grinch-stole-christmas
    - title: When Harry Met Sally...
      slug: when-harry-met-sally
    - title: Princess Mononoke
      slug: princess-mononoke
    - title: City Lights
      slug: city-lights
    - title: The Philadelphia Story
      slug: the-philadelphia-story
    - title: Brief Encounter
      slug: brief-encounter
    - title: "Avengers: Endgame"
      slug: avengers-endgame
    - title: Psycho
      slug: psycho
    - title: All About Eve
      slug: all-about-eve
    - title: "Spiderman: Into the Spiderverse"
      slug: spider-man-into-the-spider-verse
notes:
  - <a href="https://letterboxd.com/bkoser/year/2019/">Brian’s 2019 in review on Letterboxd</a>
  - <a href="https://letterboxd.com/mkoser/">Melissa on Letterboxd</a>
---
{% movieList brian %}
{% movieList melissa %}