---
layout: episode
number: 120
title: All-Time Favorite Board Games 2020
description: We keep it low-key this year, although one of us has a new favorite board game...
date: 2020-03-06
hosts:
  - Brian
  - Melissa
bytes: 25559309
duration: '0:42:36'
tags:
  - episodes
  - board-games

brian:
  host: Brian
  list:
    - {"title": "Caverna: The Cave Farmers", "id": "102794"}
    - {"title": "Keyflower", "id": "122515"}
    - {"title": "Cosmic Encounter", "id": "39463"}
    - {"title": "Roll for the Galaxy", "id": "132531"}
    - {"title": "Fresco", "id": "66188"}
    - {"title": "The Voyages of Marco Polo", "id": "171623"}
    - {"title": "Power Grid", "id": "2651"}
    - {"title": "Grand Austria Hotel", "id": "182874"}
    - {"title": "Shogun", "id": "20551"}
    - {"title": "Terraforming Mars", "id": "167791"}
melissa:
  host: Melissa
  list:
    - {"title": "Balderdash", "id": "163"}
    - {"title": "The Castles of Burgundy", "id": "84876"}
    - {"title": "Fury of Dracula", "id": "181279"}
    - {"title": "T.I.M.E. Stories", "id": "146508"}
    - {"title": "Alchemists", "id": "161970"}
    - {"title": "Seasons", "id": "108745"}
    - {"title": "Dungeon Petz", "id": "97207"}
    - {"title": "Terraforming Mars", "id": "167791"}
    - {"title": "Grand Austria Hotel", "id": "182874"}
    - {"title": "Cosmic Encounter", "id": "39463"}

notes:
  - <abbr>GIRLBOPOLA</abbr> - Games I Really Liked But Only Played Once Long Ago
---
{% boardGameList melissa %}
{% boardGameList brian %}