---
layout: episode
number: 121
title: All-Time Favorite TV Shows 2020
description: For the first time, we reveal our favorite TV shows of all time!
date: 2020-03-29
hosts:
  - Brian
  - Melissa
bytes: 56387714
duration: '1:33:59'
tags:
  - episodes
  - tv

brian:
  host: Brian
  list:
    - {"title": "Flight of the Conchords", "url": "https://www.themoviedb.org/tv/2742-flight-of-the-conchords"}
    - {"title": "Horatio Hornblower", "url": "https://www.themoviedb.org/tv/814-hornblower"}
    - {"title": "Daredevil", "url": "https://www.themoviedb.org/tv/61889-daredevil"}
    - {"title": "Battlestar Galactica", "url": "https://www.themoviedb.org/tv/1972-battlestar-galactica"}
    - {"title": "Psych", "url": "https://www.themoviedb.org/tv/1447-psych"}
    - {"title": "Avatar: The Last Airbender", "url": "https://www.themoviedb.org/tv/246-avatar-the-last-airbender"}
    - {"title": "Breaking Bad", "url": "https://www.themoviedb.org/tv/1396-breaking-bad"}
    - {"title": "The Office", "url": "https://www.themoviedb.org/tv/2316-the-office"}
    - {"title": "Twin Peaks", "url": "https://www.themoviedb.org/tv/1920-twin-peaks"}
    - {"title": "LOST", "url": "https://www.themoviedb.org/tv/4607-lost"}

melissa:
  host: Melissa
  list:
    - {"title": "Battlestar Galactica", "url": "https://www.themoviedb.org/tv/1972-battlestar-galactica"}
    - {"title": "Justice League", "url": "https://www.themoviedb.org/tv/1618-justice-league"}
    - {"title": "Daredevil", "url": "https://www.themoviedb.org/tv/61889-daredevil"}
    - {"title": "Angel/Buffy", "url": "https://www.themoviedb.org/tv/2426-angel"}
    - {"title": "The Office", "url": "https://www.themoviedb.org/tv/2316-the-office"}
    - {"title": "LOST", "url": "https://www.themoviedb.org/tv/4607-lost"}
    - {"title": "Breaking Bad", "url": "https://www.themoviedb.org/tv/1396-breaking-bad"}
    - {"title": "Psych", "url": "https://www.themoviedb.org/tv/1447-psych"}
    - {"title": "Avatar: The Last Airbender", "url": "https://www.themoviedb.org/tv/246-avatar-the-last-airbender"}
    - {"title": "Doctor Who", "url": "https://www.themoviedb.org/tv/57243-doctor-who"}


notes:
  - "The Sci-Fi Christian podcast Breaking Bad episodes: <a href='http://thescifichristian.com/2013/10/episode-195-breaking-open-breaking-bad/'>195</a> and <a href='http://thescifichristian.com/2013/10/episode-196-top-5-episodes-of-breaking-bad/'>196</a>"
---
{% linkList brian %}
{% linkList melissa %}