---
layout: episode
number: 122
title: The Space Force Will Be With Us and Other News
description: Brian and Melissa share news, make predictions, have a story time...all the normal things. Yep, nothing unusual here. Happy April 1st!
date: 2020-04-01
hosts:
  - Brian
  - Melissa
bytes: 29078015
duration: '0:48:28'
tags:
  - episodes
  - april-fools
  - homage
  - the-sci-fi-christian

notes:
  - Thanks to <a href="http://thescifichristian.com/">Matt and Ben</a> for playing along
  - <a href="https://www.dancarlin.com/product/hardcore-history-death-throes-of-the-republic-series/">Dan Carlin's Hardcore History&colon; Death Throes of the Republic</a> - his 13-hour audiobook on the fall of the Roman Republic
  - <a href="https://www.dancarlin.com/hardcore-history-series/">Current free Hardcore History episodes</a>
---