---
layout: episode
number: 123
title: Pet Names
description: "No, not cute names for each other: the best names to give a pet. Or a working animal. Or a plant. Or anything, really, who knows what will show up on this list."
date: 2020-04-10
hosts:
  - Brian
  - Melissa
bytes: 20901912
duration: '0:34:50'
tags:
  - episodes

brian:
  host: Brian
  list:
    - Kickaree Kee (Rooster)
    - Chester A. Arfur (Dog)
    - Scarlett Johamster (Hamster)
    - Ferrets Bueller (Ferret)
    - John Milkes Booth (Cow)

melissa:
  host: Melissa
  list:
    - Myl’oie (Mongoose)
    - Bertie Rooster (Rooster)
    - Harry Otter (Otter)
    - Sir Samuel Vines (Pothos climbing vine)
    - Bucky Barnes (Leprechaun)

notes:
  - <a href="https://duckduckgo.com/?q=pothos+climbing+plant&t=ffab&iax=images&ia=images">Pothos climbing plants</a>
youtubeNotes:
  - {"id": "W-kGosnzvjU", "caption": "NFL Bad Lip Reading 2016"}
---
{% list brian %}
{% list melissa %}