---
layout: episode
number: 124
title: "Podcasts: Revisited"
description: Brian and Melissa redo their list of favorite podcasts.
date: 2020-04-17
hosts:
  - Brian
  - Melissa
bytes: 26522166
duration: '0:44:12'
tags:
  - episodes
  - podcasts
  - sci-fi-christian

combined:
  list:
    - title: Freakonomics
      url: http://freakonomics.com/archive/
    - title: Stories Podcast
      url: http://storiespodcast.com/
    - title: Pardon the Interruption
      url: http://www.espn.com/espnradio/podcast/archive/_/id/2406595
    - title: Like Trees Walking
      url: https://liketreeswalkingpod.com/
    - title: Lore
      url: http://www.lorepodcast.com/episodes/
    - title: Hugo's There
      url: https://hugospodcast.com/
    - title: Hardcore History
      url: http://www.dancarlin.com/hardcore-history-series/
    - title: Flip the Table
      url: https://tableflipsyou.blogspot.com/p/podcast.html
    - title: 372 Pages We'll Never Get Back
      url: http://372pages.com/
    - title: The Sci-Fi Christian
      url: http://thescifichristian.com
notes:
  - "<a href='https://mikerowe.com/podcast/'>The Way I Heard It</a> podcast should have been our #9 or #10"
---

{% linkList combined %}