---
layout: episode
number: 125
title: "Moral Dilemmas II: Melissa Strikes Back"
description: Melissa turns the tables and puts Brian on the hot seat with another list of ten moral dilemmas.
date: 2020-04-24
hosts:
  - Brian
  - Melissa
bytes: 48077125
duration: '1:20:07'
tags:
  - episodes
  - ethics

melissa:
  host: Melissa
  list:
    - The Cyber Man
    - Living In A Vat
    - Art For Art's Sake
    - The Joker Conundrum
    - A Taste of Armageddon
    - Snowden/Daleiden
    - Gattaca
    - Schindler's List
    - The Custom of the Sea
    - Coronavirus
notes:
  - <a href='https://www.goodreads.com/review/show/2322402838?book_show_action=false&from_review_page=1'>The Pig That Wants to Be Eaten: 100 Experiments for the Armchair Philosopher</a>
---

{% list melissa %}