---
layout: episode
number: 126
title: "Fast Food Restaurants: Revisited"
description: "Brian and Melissa update an old favorite: top ten reasons for their future congestive heart failure."
date: 2020-05-15
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 35001265
duration: '0:58:20'
tags:
  - episodes
  - food
  - revisited
brian:
  host: Brian
  list:
    - Foosackly's
    - Steak ’n Shake
    - Firehouse Subs
    - Pizza Hut
    - A&amp;W
    - Five Guys Burgers & Fries
    - Papa John’s Pizza
    - Chik-fil-A
    - Culver's
    - Taco Bell
melissa:
  host: Melissa
  list:
    - Krispy Kreme
    - Pizza Hut
    - Marble Slab
    - Chick-fil-A
    - Steak ’n Shake
    - Five Guys Burgers & Fries
    - Firehouse Subs
    - Papa John’s
    - Buffalo Wild Wings
    - Whataburger
---
{% list melissa %}
{% list brian %}