---
layout: episode
number: 127
title: Conspiracy Theories (Part 1)
description: Melissa and Brian discuss conspiracy theories in general, and start the list of their favorites. Part 2 will follow in a couple week, unless they get to us.
date: 2020-05-24
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 51772133
duration: '1:26:17'
tags:
  - episodes
  - conpiracy-theories

brian:
  host: Brian
  list:
    - title: Knights Templar and Freemasons
      url: https://en.m.wikipedia.org/wiki/Masonic_conspiracy_theories
    - title: Flat Earth
      url: https://en.m.wikipedia.org/wiki/Flat_Earth
      comment: Will discuss in Part 2 when it appears on Melissa's list
    - title: Paul is dead
      url: https://en.m.wikipedia.org/wiki/Paul_is_dead
      comment: 
    - title: Fukushima starship
      url: http://www.fukushimastarship.com
      comment: Will discuss in Part 2 when it appears on Melissa's list
    - title: Israel animal spying
      url: https://en.m.wikipedia.org/wiki/Israel-related_animal_conspiracy_theories
      
melissa:
  host: Melissa
  list:
    - title: Water fluoridation
      url: http://www.dmww.com/upl/documents/library/chad-ripple-10-10-13.pdf
    - title: Walt Disney is cryogenically frozen
      url: https://www.snopes.com/fact-check/suspended-animation/
    - title: Moon Landing
      url: https://en.m.wikipedia.org/wiki/Moon_landing_conspiracy_theories
    - title: GMO
      url: https://www.organicconsumers.org/news/high-fructose-corn-syrup-now-labeled-fructose-or-hfcs-9
    - title: Vaccines
      url: https://en.m.wikipedia.org/wiki/Vaccine_hesitancy

notes:
  - "Demotivators: <a href='https://despair.com/collections/demotivators/products/idiocy'>Idiocy</a> and <a href='https://despair.com/collections/demotivators/products/meetings?variant=2457301507'>Meetings</a>"
---
{% linkList brian %}
{% linkList melissa %}