---
layout: episode
number: 128
title: Conspiracy Theories (Part 2)
description: Brian and Melissa wrap up the conspiracy theory discussion. Melissa reveals the theory she believed until this year and Brian reveals the one theory he believes.
date: 2020-06-06
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 69219839
duration: '1:55:22'
tags:
  - episodes
  - conpiracy-theories

brian:
  host: Brian
  list:
    - title: Jeffery Epstein and the Clinton Body Count
      url: https://www.snopes.com/fact-check/clinton-body-bags/
    - title: Antichrist and 666
      url: https://www.benjaminlcorey.com/could-american-evangelicals-spot-the-antichrist-heres-the-biblical-predictions/
    - title: The Two Babylons
      url: https://en.m.wikipedia.org/wiki/The_Two_Babylons
    - title: The Shakespeare Authorship Question
      url: https://en.m.wikipedia.org/wiki/Shakespeare_authorship_question
    - title: Phantom time hypothesis and New chronology
      url: https://en.m.wikipedia.org/wiki/Phantom_time_hypothesis
      
melissa:
  host: Melissa
  list:
    - title: Cure for cancer exists
      url: https://en.m.wikipedia.org/wiki/Big_Pharma_conspiracy_theory
    - title: Barack Obama is not a US citizen
      url: https://en.m.wikipedia.org/wiki/Barack_Obama_citizenship_conspiracy_theories
    - title: Coronavirus was created in a lab
      url: https://nypost.com/2020/04/24/the-top-5-coronavirus-conspiracy-theories-bill-gates-5g-more/
    - title: Fukushima starship
      url: http://www.fukushimastarship.com
    - title: Flat Earth
      url: https://en.m.wikipedia.org/wiki/Flat_Earth

notes:
  - You've got to check out the <a href="http://www.fukushimastarship.com">Fukushima Spaceship conspiracy website</a>
---
{% linkList melissa %}
{% linkList brian %}