---
layout: episode
number: 129
title: Cheeses
description: Melissa finally hosted a cheese party. Brian got a new favorite cheese.
date: 2020-07-05
hosts:
  - Brian
  - Melissa
bytes: 22415883
duration: '0:37:21'
tags:
  - episodes
  - food

brian:
  host: Brian
  list:
    - Cheddar
    - Parmesan
    - Manchego
    - Havarti
    - Feta
    - White Cheddar
    - Gruyère
    - Mozzarella
    - Bergenost
    - Muenster
melissa:
  host: Melissa
  list:
    - Muenster
    - White Cheddar (raw milk)
    - Havarti
    - Gorgonzola
    - Manchego
    - Mozzarella
    - Canadian Cheddar
    - Bergenost
    - Gouda
    - Parmesan

---
{% list brian %}
{% list melissa %}