---
layout: episode
number: 130
title: Mobile Sushi Restaurants
description: Do you live in Mobile, Alabama and need sushi restaurant recommendations? No? Probably skip this one then.
date: 2020-08-07
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 22646123
duration: '0:37:44'
tags:
  - episodes
  - food

brian:
  host: Brian
  list:
    - See Wee Roll
    - Shogun 
    - Happy Sushi
    - Bamboo Steakhouse
    - Japanese Express
    - Charm Thai
    - Sushi 9
    - Banzai 
    - Rice Asian Grill
    - 3 Flavors
melissa:
  host: Melissa
  list:
    - Japanese Express
    - Rice Asian Grill
    - Sushi 9
    - See Wee Roll
    - Rock 'n' Roll Sushi
    - Banzai 
    - Wasabi
    - Shogun 
    - Bamboo Steakhouse
    - 3 Flavors
---
{% list brian %}
{% list melissa %}