---
layout: episode
number: 131
title: "Cereals: Revisited"
description: The first cereals episode is justifiably a classic, but this time we're doing it right. Lots of research went into this one, but don't worry; there are still a lot of incorrect choices.
date: 2020-08-15
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 50361773
duration: '1:23:56'
tags:
  - episodes
  - food
  - revisited

brian:
  host: Brian
  list:
    - title: Waffle Crisp / Eggo Waffle
      url: https://www.mrbreakfast.com/cereal_detail.asp?id=388
    - title: Fruity Pebbles
      url: https://www.mrbreakfast.com/cereal_detail.asp?id=162
    - title: Special K - Blueberry with Lemon Clusters
      url: https://www.mrbreakfast.com/cereal_detail.asp?id=1656
    - title: Apple Cinnamon Cheerios
      url: https://www.mrbreakfast.com/cereal_detail.asp?id=12
    - title: Quisp
      url: https://www.mrbreakfast.com/cereal_detail.asp?id=300
    - title: Honey Bunches of Oats - Honey Roasted 
      url: https://www.mrbreakfast.com/cereal_detail.asp?id=187
    - title: Oreo O's 
      url: https://www.mrbreakfast.com/cereal_detail.asp?id=270
    - title: Cap'n Crunch
      url: https://www.mrbreakfast.com/cereal_detail.asp?id=53
    - title: Cheerios Oat Crunch - Oats ‘N Honey
      url: https://www.mrbreakfast.com/cereal_detail.asp?id=1694
    - title: Cinnamon Toast Crunch
      url: https://www.mrbreakfast.com/cereal_detail.asp?id=72
melissa:
  host: Melissa
  list:
    - title: Honey Bunches of Oats - Pecan and Maple Brown Sugar
      url: https://www.mrbreakfast.com/cereal_detail.asp?id=1646
    - title: Eggo Waffle
      url: https://www.mrbreakfast.com/cereal_detail.asp?id=132
    - title: Cheerios Oat Crunch - Cinnamon
      url: https://www.mrbreakfast.com/cereal_detail.asp?id=1694
    - title: Cinnamon Toast Crunch
      url: https://www.mrbreakfast.com/cereal_detail.asp?id=72
    - title: Great Grains - Cranberry Almond Crunch
      url: https://www.mrbreakfast.com/cereal_detail.asp?id=104
    - title: Special K - Blueberry with Lemon Clusters
      url: https://www.mrbreakfast.com/cereal_detail.asp?id=1656
      comment: “A healthy cereal the whole family can enjoy.”
    - title: Cheerios Oat Crunch - Oats ‘N Honey
      url: https://www.mrbreakfast.com/cereal_detail.asp?id=1694
    - title: Reese's Puffs
      url: https://www.mrbreakfast.com/cereal_detail.asp?id=748
      comment: “12-year-old boys agree with me.”
    - title: Oreo O's 
      url: https://www.mrbreakfast.com/cereal_detail.asp?id=270
    - title: Cocoa Pebbles
      url: https://www.mrbreakfast.com/cereal_detail.asp?id=81

notes:
  - <a href="https://tto.koser.us/episodes/046-breakfast-cereals/">№ 46 Breakfast Cereals</a>
  - <a href="https://www.consumerreports.org/cro/news/2014/09/cereals-that-aren-t-as-healthy-as-they-sound/index.htm">Consumer Reports - Cereals that aren't as healthy as they sound</a>
  - "New podcast tagline: “If you’re looking for support on a podcast, this is not the podcast for you.”"
---
{% linkList melissa %}
{% linkList brian %}