---
layout: episode
number: 132
title: Books for People that Don't Read Books
description: Once again, Matt Anderson and Ben De Bono from The Sci-Fi Christian podcast stop by, this time with book recommendations.
date: 2020-08-28
hosts:
  - Brian Koser
  - Melissa Koser
  - Ben De Bono
  - Matt Anderson
guests: true
bytes: 46811492
duration: '1:18:01'
tags:
  - episodes
  - food
  - guests
  - revisited
  - the-sci-fi-christian
  - featured

brian:
  host: Brian
  list:
    - title: Murder on the Orient Express
      book: 853510.Murder_on_the_Orient_Express
    - title: The Martian Chronicles
      book: 76778.The_Martian_Chronicles
    - title: Going Postal
      book: 64222.Going_Postal
    - title: The Terror
      book: 3974.The_Terror
    - title: Don Quixote
      book: 3836.Don_Quixote
melissa:
  host: Melissa
  list:
    - title: And Then There Were None
      book: 16299.And_Then_There_Were_None
    - title: The Lathe of Heaven
      book: 59924.The_Lathe_of_Heaven
    - title: I Am Legend
      book: 40940649-i-am-legend
    - title: Going Postal
      book: 64222.Going_Postal
    - title: The Martian Chronicles
      book: 76778.The_Martian_Chronicles
ben:
  host: Ben
  list:
    - title: Slaughterhouse-Five
      book: 4981.Slaughterhouse_Five
    - title: Man's Search for Meaning
      book: 4069.Man_s_Search_for_Meaning
    - title: Stardust
      book: 16793.Stardust
    - title: Devil in the White City 
      book: 397483.The_Devil_in_the_White_City
    - title: The Old Man and the Sea
      book: 2165.The_Old_Man_and_the_Sea
matt:
  host: Matt
  list:
    - title: The Lion, the Witch and the Wardrobe
      book: 100915.The_Lion_the_Witch_and_the_Wardrobe
    - title: The Martian Chronicles
      book: 76778.The_Martian_Chronicles
    - title: The Hitchhiker's Guide to the Galaxy
      book: 386162.The_Hitchhiker_s_Guide_to_the_Galaxy
    - title: Ender's Game
      book: 375802.Ender_s_Game
    - title: The Ocean at the End of the Lane
      book: 15783514-the-ocean-at-the-end-of-the-lane
---
{% linkList matt %}
{% linkList melissa %}
{% linkList ben %}
{% linkList brian %}