---
layout: episode
number: 133
title: Wheel of Time 
description: We join Matt Anderson and Ben De Bono on The Sci-Fi Christian podcast to discuss Lord of Chaos, book six in the Wheel of Time series.
date: 2020-12-04
hosts:
  - Brian
  - Melissa
  - Ben De Bono
  - Matt Anderson
bytes: 38402672
duration: '1:04:00'
tags:
  - episodes
  - books
  - guests
  - the-sci-fi-christian
  - wheel-of-time
notes:
  - <a href="http://thescifichristian.com/2020/09/episode-841-unweaving-the-wheel-of-time-book-6/">The Sci-Fi Christian, Episode 841: Unweaving The Wheel of Time: Book 6</a>
---
