---
layout: episode
number: 134
title: "Wheel of Time: The Big White Book"
description: We continue the Wheel of Time series with Matt Anderson and Ben De Bono on The Sci-Fi Christian podcast, discussing "The World of Robert Jordan's The Wheel of Time", aka "The Big White Book".
date: 2020-12-11
hosts:
  - Brian
  - Melissa
  - Ben De Bono
  - Matt Anderson
bytes: 53481070
duration: '1:29:08'
tags:
  - episodes
  - books
  - guests
  - the-sci-fi-christian
  - wheel-of-time
notes:
  - '<a href="http://thescifichristian.com/2020/11/episode-853-unweaving-the-wheel-of-time-the-big-white-book/">The Sci-Fi Christian, Episode 853 Unweaving the Wheel of Time: The Big White Book</a>'
---
