---
layout: episode
number: 135
title: New Year’s Resolutions 2021
description: Melissa and Brian return for a new year with their annual new goals!
date: 2021-01-09
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 44471606
duration: '1:14:07'
tags:
  - episodes
  - personal
  - resolutions
  - annual

brian:
  host: Brian
  list:
    - Sort digital clutter
    - Complete six website projects
    - Read 37 books, 47 graphic novels
    - Homeschool
    - Find common ground
melissa:
  host: Melissa
  list:
    - Perfect one accordion song every month
    - Spring clean
    - Memorize four books of the Bible
    - Follow a rotating prayer schedule
    - Write something every week
notes:
  - Melissa was 4/5 on her 2020 resolutions.
  - Brian was 2/5 on his 2020 resolutions.
  - Dune is 181,493 words long. The New Testament is about 179,000 words (depending on translation).
---
{% list melissa %}
{% list brian %}