---
layout: episode
number: 136
title: Books 2020
description: Brian and Melissa put a bow on Book Year by sharing their favorite books that were new reads in 2020.
date: 2020-01-23
hosts:
  - Brian
  - Melissa
bytes: 
duration: '2:08:14'
tags:
  - episodes
  - movies
  - annual

brian:
  host: Brian
  list:
    - title: The Remains of the Day
      review: 1893176452
    - title: Peaceful Parent, Happy Kids
      review: 2603894268
    - title: The Separation
      review: 1579507193
    - title: "Washington: A Life"
      review: 2273671931
    - title: Orthodoxy
      review: 2273671113
    - title: That Hideous Strength
      review: 1414433076
    - title: Lord of Light
      review: 1745829652
    - title: Piranesi
      review: 2999288870
    - title: Anna Karenina
      review: 1599860200
    - title: Jane Eyre
      book: 10210

melissa:
  host: Melissa
  list:
    - title: Bridge to Terabithia
      review: 1667591880
    - title: The Lathe of Heaven
      review: 3232548138
    - title: Captain Blood
      review: 1602920898
    - title: Pet Sematary
      review: 33124137
    - title: The Anubis Gates
      review: 3194937685
    - title: The First Fifteen Lives of Harry August
      review: 2569665473
    - title: The Two Towers
      review: 1610826297
    - title: The Night Circus
      review: 2553595574
    - title: The Martian Chronicles
      review: 2697787811
    - title: Piranesi
      review: 2999288870

notes:
  - <a href="https://www.goodreads.com/user/show/54340861-melissa">Melissa</a> on Goodreads
  - <a href="https://www.goodreads.com/user/show/4812558-brian-koser">Brian</a> on Goodreads
---
{% bookList brian %}
{% bookList melissa %}