---
layout: episode
number: 137
title: Movies 2020
description: Brian and Melissa cobble together a top 10 list of movies they saw in 2020. Let's just say book year didn't leave much time for watching good movies. 
date: 2021-02-06
hosts:
  - Brian
  - Melissa
bytes: 29552102
duration: '0:49:15'
tags:
  - episodes
  - movies
  - annual

brian:
  host: Brian
  list:
    - title: Ford v Ferrari
      slug: ford-v-ferrari
    - title: Forrest Gump
      slug: forrest-gump
    - title: "Spider-Man: Far From Home"
      slug: spider-man-far-from-home
    - title: The Lighthouse
      slug: the-lighthouse-2019
    - title: A Ghost Story
      slug: a-ghost-story-2017
    - title: Enemy
      slug: enemy
    - title: The Nice Guys
      slug: the-nice-guys
    - title: The Goat
      slug: the-goat
    - title: Clue
      slug: clue
    - title: Zodiac
      slug: zodiac

melissa:
  host: Melissa
  list:
    - title: The Lighthouse
      slug: the-lighthouse-2019
    - title: Enemy
      slug: enemy
    - title: Muppet Treasure Island
      slug: muppet-treasure-island
    - title: "Spider-Man: Far From Home"
      slug: spider-man-far-from-home
    - title: The Greatest Showman
      slug: the-greatest-showman
    - title: A Ghost Story
      slug: a-ghost-story-2017
    - title: The Goat
      slug: the-goat
    - title: Clue
      slug: clue
    - title: The Nice Guys
      slug: the-nice-guys
    - title: Zodiac
      slug: zodiac
notes:
  - <a href="https://letterboxd.com/bkoser/year/2020/">Brian’s 2020 in review on Letterboxd</a>
  - <a href="https://letterboxd.com/mkoser/">Melissa on Letterboxd</a>
---
{% movieList melissa %}
{% movieList brian %}