---
layout: episode
number: 138
title: Love Songs
description: Brian and Melissa share their favorite love songs. Their lists are set and never change.
date: 2021-02-20
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 41741097
duration: '1:09:34'
tags:
  - episodes
  - music

brian:
  host: Brian
  list:
    - title: Stand By Me
      id: hwZNL7QVJjE
    - title: Unchained Melody
      id: IYj2hex99gY
    - title: Wouldn't It Be Nice?
      id: nZBKFoeDKJo
    - title: A Thousand Years
      id: rtOvBOTyX00
    - title: Islands in the Stream
      id: HQW7I62TNOw
    - title: Alone
      id: 1Cw1ng75KP0
    - title: Never Gonna Give You Up
      id: dQw4w9WgXcQ
    - title: Silly Love Songs
      id: wh15LOppcWQ
    - title: My Girl
      id: qEztui18cA8
    - title: Ain't No Mountain High Enough
      id: IC5PL0XImjw
  playlistID: PL8c-Yg_oDsbNQ3U0d45HIg_oyg-i5yIwc
melissa:
  host: Melissa
  list:
    - title: Livin' On A Prayer
      id: lDK9QqIzhwk
    - title: Babe
      id: yaVyQS1T7TY
    - title: Black Is The Color
      id: 3oc1XuqzyGs
    - title: Nothing's Gonna Stop Us Now
      id: 3wxyN3z9PL4
    - title: A Thousand Years
      id: rtOvBOTyX00
    - title: Longer
      id: 5Go6I2_PpBU
    - title: Laughter in the Rain
      id: VCusyLPrFCo
    - title: Wouldn't It Be Nice?
      id: nZBKFoeDKJo
    - title: My Girl
      id: qEztui18cA8
    - title: Let's Stay Together
      id: COiIC3A0ROM
  playlistID: PL8c-Yg_oDsbMPD7rur4vurplqf7_p_-qF
---

{% youtubeList brian %}
{% youtubeList melissa %}