---
layout: episode
number: 139
title: All-Time Favorite Books 2021
description: For the first time, Brian and Melissa suss out their favorite books of all time.
date: 2021-03-06
hosts:
  - Brian
  - Melissa
bytes: 46487564
duration: '1:17:28'
tags:
  - episodes
  - books

brian:
  host: Brian
  list:
    - title: "From the Garden to the City: The Redeeming and Corrupting Power of Technology"
      review: 2074089141
    - title: Dune
      review: 3577485081
    - title: Hyperion
      review: 2017494256
    - title: Dirk Gently's Holistic Detective Agency
      book: 365
    - title: Night Watch
      review: 1164172652
    - title: Jane Eyre
      review: 3625313973
    - title: Something Wicked This Way Comes
      review: 1833666272
    - title: Jonathan Strange & Mr. Norrell
      review: 1164159036
    - title: The Lord of the Rings
      review: 1165503649
    - title: Anathem
      review: 1414441312

melissa:
  host: Melissa
  list:
    - title: Night Watch
      review: 2495607705
    - title: The Martian Chronicles
      review: 2697787811
    - title: "Astro City, Vol. 4: The Tarnished Angel"
      review: 1421567801
    - title: Archer's Goon
      review: 1596383988
    - title: Villains By Necessity
      review: 1599866424
    - title: Piranesi
      review: 2999288870
    - title: Little Women
      review: 1596263279
    - title: The Scarlet Pimpernel
      review: 1603453179
    - title: A Memory of Light
      review: 2205051750
    - title: The Horse and His Boy
      book: 84119

notes:
  - <a href="https://www.goodreads.com/user/show/54340861-melissa">Melissa</a> on Goodreads
  - <a href="https://www.goodreads.com/user/show/4812558-brian-koser">Brian</a> on Goodreads
---

{% bookList melissa %}
{% bookList brian %}