---
layout: episode
number: 140
title: Children's Book Culling 2021
description: Listen in while Melissa and Brian decide which of their children's books they can discard. Don't tell Lydia, Amber, or Penny.
date: 2021-03-19
hosts:
  - Brian
  - Melissa
bytes: 31189734
duration: '0:51:59'
tags:
  - episodes
  - books
---

Which children's books are we missing on our shelves?