---
layout: episode
number: 141
title: "Wheel of Time, Book 7: A Crown of Swords"
description: Our Wheel of Time series keeps spinning as we cover Book 7 with Ben and Matt on The Sci-Fi Christian podcast.
date: 2021-04-02
hosts:
  - Brian
  - Melissa
  - Ben De Bono
  - Matt Anderson
bytes: 27627931
duration: '0:46:03'
tags:
  - episodes
  - books
  - guests
  - the-sci-fi-christian
  - wheel-of-time
---

Originally on The Sci-Fi Christian, [Episode 877: Unweaving the Wheel of Time: Book 7](http://thescifichristian.com/2021/01/episode-877-unweaving-the-wheel-of-time-book-7/)