---
layout: episode
number: 142
title: Dr. Seuss Books
description: Melissa and Brian share their favorite Dr. Seuss books. How many of Seuss's Sinful Six made it onto their lists?!
date: 2021-04-23
hosts:
  - Brian
  - Melissa
bytes: 55986194
duration: '1:33:18'
tags:
  - episodes
  - books
  - firsts-crossover

brian:
  host: Brian
  list:
    - title: Great Day for Up!
      book: 493398
    - title: How the Grinch Stole Christmas!
      book: 113946
    - title: Happy Birthday to You!
      book: 7775
    - title: And to Think That I Saw It on Mulberry Street
      book: 28351
    - title: The 500 Hats of Bartholomew Cubbins
      book: 7781
    - title: Scrambled Eggs Super!
      book: 207577
    - title: On Beyond Zebra!
      book: 330
    - title: The Lorax
      book: 7784
    - title: One Fish, Two Fish, Red Fish, Blue Fish
      book: 7770
    - title: If I Ran the Circus
      book: 161788

melissa:
  host: Melissa
  list:
    - title: The Butter Battle Book
      book: 275325
    - title: Mr. Brown Can Moo! Can You?
      book: 105552
    - title: Scrambled Eggs Super!
      book: 207577
    - title: I Wish That I Had Duck Feet
      book: 28350
    - title: Thidwick the Big-Hearted Moose
      book: 273735
    - title: And to Think That I Saw It on Mulberry Street
      book: 28351
    - title: Oh, The Places You'll Go!
      book: 191139
    - title: How the Grinch Stole Christmas!
      book: 113946
    - title: I Had Trouble in Getting to Solla Sollew
      book: 120419
    - title: If I Ran the Circus
      book: 161788
---

{% bookList brian %}
{% bookList melissa %}