---
layout: episode
number: 143
title: "SILOW Volume I: Books"
description: "Brian introduces a new series: Stuff I Learned on Wikipedia. Which article related to books is the most interesting? Is the answer, \"None of them\"?"
date: 2021-05-01
hosts:
  - Brian
  - Melissa
bytes: 48392665
duration: '1:20:39'
tags:
  - episodes
  - books
  - silow

brian:
  host: Brian
  list:
    - title: Paracosm
      url: https://en.m.wikipedia.org/wiki/Paracosm
    - title: Incunable
      url: https://en.m.wikipedia.org/wiki/Incunable
    - title: Incipit
      url: https://en.m.wikipedia.org/wiki/Incipit
    - title: Epigraph
      url: https://en.m.wikipedia.org/wiki/Epigraph_(literature)
    - title: Clementine Literature
      url: https://en.m.wikipedia.org/wiki/Clementine_literature
    - title: Sherlockian Game
      url: https://en.m.wikipedia.org/wiki/Sherlockian_game
    - title: Constrained writing
      url: https://en.m.wikipedia.org/wiki/Constrained_writing
    - title: Great American Songbook
      url: https://en.m.wikipedia.org/wiki/Great_American_Songbook
    - title: Lost literary work
      url: https://en.m.wikipedia.org/wiki/Lost_literary_work
    - title: List of best-selling fiction authors
      url: https://en.m.wikipedia.org/wiki/List_of_best-selling_fiction_authors
---

{% linkList brian %}