---
layout: episode
number: 144
title: Goodbye, Mobile
description: "We're moving! The audio quality is terrible, so if you want to skip this one: we're moving to Huntsville, Alabama at the end of June. For the fresh start, adventure, challenge, more moderate climate, more outdoor activities, etc. We're super busy now but will probably be podcasting again in August."
date: 2021-06-11
hosts:
  - Brian
  - Melissa
bytes: 10_945_868
duration: '0:18:14'
tags:
  - episodes
---
