---
layout: episode
number: 145
title: Horror Plans 2021
description: Melissa and Brian make a list live! I mean, you're listening to a recording, but we recorded it live. We didn't make the list ahead of time, is what I'm saying. No, it was on purpose, not a lack of planning. Jeez. It's scary movies we're going to watch in October.
date: 2021-09-24
hosts:
  - Brian
  - Melissa
bytes: 32_531_112
duration: '0:54:13'
tags:
  - episodes
  - movies
  - scary-movies
both:
  list:
    - title: The Shining
      slug: the-shining
    - title: Nosferatu
      slug: nosferatu
    - title: Frankenstein
      slug: frankenstein-1931
    - title: Dracula
      slug: dracula
    - title: The Witch
      slug: the-witch-2015
    - title: Parasite
      slug: parasite-2019
    - title: Life
      slug: life-2017
    - title: Notorious
      slug: notorious
    - title: No Country for Old Men
      slug: no-country-for-old-men
    - title: Happy Death Day
      slug: happy-death-day
notes:
  - <a href="https://letterboxd.com/bkoser/list/october-2021-scary-movies/">List on Letterboxd</a>
---
{% movieList both %}