---
layout: episode
number: 146
title: Dune Movie Review
description: Brian and Melissa and guest Clint discuss the movie Dune, from the perspective of a book reader and a non-book reader.
date: 2021-10-29
hosts:
  - Brian Koser
  - Melissa Koser
  - Clint Patterson
guests: true
bytes: 46_083_777
duration: '1:04:00'
tags:
  - episodes
  - books
  - movies
notes:
  - <a href="https://letterboxd.com/patteca/film/dune-2021/1/">Clint's review on Letterboxd</a>
  - <a href="https://letterboxd.com/bkoser/film/dune-2021/">Brian's review on Letterboxd</a>
  - Melissa loved the movie, but has not yet reviewed it
---
