---
layout: episode
number: 147
title: Scary Movies 2021
description: Brian and Melissa and almost-regulars-at-this-point Matt Anderson and Ben De Bono rank the Halloween movies the Kosers watched in October.
date: 2021-11-04
hosts:
  - Brian
  - Melissa
  - Ben De Bono
  - Matt Anderson
bytes: 46_334_736
duration: '1:17:13'
tags:
  - episodes
  - movies
  - scary-movies
brian:
  host: Brian
  list:
    - title: Ghostbusters
      slug: ghostbusters
    - title: The Shining
      slug: the-shining
    - title: Alien
      slug: alien
    - title: Frankenstein
      slug: frankenstein-1931
    - title: Dracula
      slug: dracula
    - title: Young Frankenstein
      slug: young-frankenstein
    - title: Fargo
      slug: fargo
    - title: No Country for Old Men
      slug: no-country-for-old-men
    - title: Parasite
      slug: parasite-2019
    - title: The Thing
      slug: the-thing

melissa:
  host: Melissa
  list:
    - title: Life
      slug: life-2017
    - title: Alien
      slug: alien
    - title: Train to Busan
      slug: train-to-busan
    - title: Frankenstein
      slug: frankenstein-1931
    - title: Ghostbusters
      slug: ghostbusters
    - title: Dracula
      slug: dracula
    - title: A Tale of Two Sisters
      slug: a-tale-of-two-sisters
    - title: The Witch
      slug: the-witch-2015
    - title: The Thing
      slug: the-thing
    - title: The Shining
      slug: the-shining

ben:
  host: Ben De Bono
  list:
    - title: Alien
      slug: alien
    - title: The Wizard of Oz
      slug: the-wizard-of-oz-1939
    - title: The Witch
      slug: the-witch-2015
    - title: Nosferatu
      slug: nosferatu
    - title: Nosferatu the Vampyre
      slug: nosferatu-the-vampyre
    - title: The Thing
      slug: the-thing
    - title: Fargo
      slug: fargo
    - title: Parasite
      slug: parasite-2019
    - title: No Country for Old Men
      slug: no-country-for-old-men
    - title: The Shining
      slug: the-shining

matt:
  host: Matt Anderson
  list:
    - title: Ghostbusters
      slug: ghostbusters
    - title: The Shining
      slug: the-shining
    - title: Nosferatu
      slug: nosferatu
    - title: The Wizard of Oz
      slug: the-wizard-of-oz-1939
    - title: Alien
      slug: alien
    - title: Notorious
      slug: notorious
    - title: Parasite
      slug: parasite-2019
    - title: Dracula
      slug: dracula
    - title: Frankenstein
      slug: frankenstein-1931
    - title: Bride of Frankenstein
      slug: the-bride-of-frankenstein

notes:
  - <a href="https://letterboxd.com/bkoser/list/october-2021-scary-movies/">Complete Watched List on Letterboxd</a>
---
{% movieList melissa %}

{% movieList ben %}

{% movieList matt %}

{% movieList brian %}