---
layout: episode
number: 148
title: Christmas Carols—Well, Actually…
description: What is a Christmas carol? Melissa finds out, and so will you when Brian attacks sacred cows and splits the hairs of Christmas.
date: 2021-12-17
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 14_350_184
duration: '0:23:55'
tags:
  - episodes
  - christmas
  - music
brian:
  host: Brian
  list:
    - Winter Wonderland
    - Baby It's Cold Outside
    - Joyful, Joyful We Adore Thee
    - Jingle Bells
    - Rudolph The Red-Nosed Reindeer
    - Silver Bells
    - Good King Wenceslas
    - We Three Kings
    - Mary Did You Know
    - Joy to the World
---

{% list brian %}