---
layout: episode
number: 149
title: Muppet Movies
description: Brian and Melissa watched all the Muppet movies in 2021. What is the best Muppet movie, and more importantly, which is the worst?
date: 2021-12-31
hosts:
  - Brian
  - Melissa
bytes: 
duration: '0:43:18'
tags:
  - episodes
  - movies

brian:
  host: Brian
  list:
    - title: The Muppets' Wizard of Oz
      slug: the-muppets-wizard-of-oz
    - title: The Muppets Take Manhattan
      slug: the-muppets-take-manhattan
    - title: "John Denver and the Muppets: A Christmas Together"
      slug: john-denver-and-the-muppets-a-christmas-together
    - title: Muppets From Space
      slug: muppets-from-space
    - title: Muppets Most Wanted
      slug: muppets-most-wanted
    - title: The Great Muppet Caper
      slug: the-great-muppet-caper
    - title: The Muppet Christmas Carol
      slug: the-muppet-christmas-carol
    - title: The Muppets
      slug: the-muppets
    - title: The Muppet Movie
      slug: the-muppet-movie
    - title: Muppet Treasure Island
      slug: muppet-treasure-island

melissa:
  host: Melissa
  list:
    - title: The Muppets Take Manhattan
      slug: the-muppets-take-manhattan
    - title: The Muppets' Wizard of Oz
      slug: the-muppets-wizard-of-oz
    - title: "John Denver and the Muppets: A Christmas Together"
      slug: john-denver-and-the-muppets-a-christmas-together
    - title: Muppets From Space
      slug: muppets-from-space
    - title: The Muppet Movie
      slug: the-muppet-movie
    - title: Muppets Most Wanted
      slug: muppets-most-wanted
    - title: The Muppets
      slug: the-muppets
    - title: The Muppet Christmas Carol
      slug: the-muppet-christmas-carol
    - title: Muppet Treasure Island
      slug: muppet-treasure-island
    - title: The Great Muppet Caper
      slug: the-great-muppet-caper
---
{% movieList brian %}
{% movieList melissa %}