---
layout: episode
number: 150
title: New Year’s Resolutions 2022
description: Start the year with Brian and Melissa. They review 2021 and set some new goals for 2022!
date: 2022-01-07
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 31_067_741
duration: '0:51:47'
tags:
  - episodes
  - personal
  - resolutions
  - annual

brian:
  host: Brian
  list:
    - Read 50 Books
    - Continue education
    - Be more social
    - Go outside more
    - Learn to juggle (goal is 3 bean bags for 1 minute)
melissa:
  host: Melissa
  list:
    - Sew Christmas Tree Skirt
    - Felt Craft Store - sell 1 item
    - Facebook on average 15 minutes a day, and only after girls are in bed
    - Write 4 stories/articles
    - Memorize Ephesians

notes:
  - Melissa was 1/5 on her 2021 resolutions, but it's more about the journey.
  - Brian was 2/5 on his 2021 resolutions, but get an A for effort.
---
{% list melissa %}
{% list brian %}