---
layout: episode
number: 151
title: 100 Movies 2022 Planning
description: This year, Melissa and Brian are going to watch or rewatch 100 films, leading up to a top 10 films of all time list in 2023.
date: 2022-01-15
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 24_056_988
duration: '0:40:05'
tags:
  - episodes
  - planning
  - movies

notes:
  - <a href="https://letterboxd.com/bkoser/list/100-films-2022/">Film List</a>
---
