---
layout: episode
number: 152
title: Books 2021
description: We didn't read 100, but we did read some books in 2021. Here are our favorites and least favorites.
date: 2022-02-04
hosts:
  - Brian
  - Melissa
bytes: 
duration: '1:06:39'
tags:
  - episodes
  - books
  - annual


brian:
  host: Brian
  list:
    - title: Every Layout
      review: 3859848198
    - title: Last Call
      review: 1401589072
    - title: Children of Dune
      review: 4319738043
    - title: The Dark Tower
      review: 4149204582
    - title: The Divine Comedy
      review: 1543573567
    - title: Paradise Lost
      review: 1599823750
    - title: All the King's Men
      review: 1833662262
    - title: A Tale of Two Cities
      review: 1414438100
    - title: John Adams
      review: 4095299267
    - title: Moby-Dick or, The Whale
      review: 2801148389

melissa:
  host: Melissa
  list:
    - title: The Omnivore's Dilemma
      review: 4267241274
    - title: Children of Dune
      review: 3772410744
    - title: The Illustrated Man
      review: 2348598889
    - title: "When Someone Dies: The Practical Guide to the Logistics of Death"
      review: 4223403211
    - title: The American Way of Death Revisited
      review: 3871162254
    - title: "Being Mortal: Medicine and What Matters in the End"
      review: 3400837709
    - title: "Dune: Messiah"
      review: 3772410102
    - title: "Astro City, #14: Reflections"
      review: 4409279693
    - title: A Wizard of Earthsea
      review: 2928781337
    - title: "Moby-Dick or, the Whale"
      review: 3865371540

notes:
  - <a href="https://www.goodreads.com/user/show/54340861-melissa">Melissa</a> on Goodreads
  - <a href="https://www.goodreads.com/user/show/4812558-brian-koser">Brian</a> on Goodreads
---
{% bookList brian %}
{% bookList melissa %}