---
layout: episode
number: 152
title: Books 2021
description: We didn't read 100, but we did read some books in 2021. Here are our favorites and least favorites.
date: 2022-02-04
hosts:
  - Brian
  - Melissa
bytes: 
duration: '1:06:39'
tags:
  - episodes
  - books
  - annual


brian:
  host: Brian
  list:
    - title: The Remains of the Day
      review: 1893176452
    - title: Peaceful Parent, Happy Kids
      review: 2603894268
    - title: The Separation
      review: 1579507193
    - title: "Washington: A Life"
      review: 2273671931
    - title: Orthodoxy
      review: 2273671113
    - title: That Hideous Strength
      review: 1414433076
    - title: Lord of Light
      review: 1745829652
    - title: Piranesi
      review: 2999288870
    - title: Anna Karenina
      review: 1599860200
    - title: Jane Eyre
      book: 10210

melissa:
  host: Melissa
  list:
    - title: The Omnivore's Dilemma
      review: 
    - title: Children of Dune
      review: 
    - title: The Illustrated Man
      review: 
    - title: When Someone Dies
      review: 
    - title: The American Way of Death Revisited
      review: 
    - title: "Being Mortal: Medicine and What Matters in the End"
      review: 
    - title: "Dune: Messiah"
      review: 
    - title: "Astro City, #14: Reflections"
      review: 
    - title: A Wizard of Earthsea
      review: 
    - title: Moby Dick
      review: 

notes:
  - <a href="https://www.goodreads.com/user/show/54340861-melissa">Melissa</a> on Goodreads
  - <a href="https://www.goodreads.com/user/show/4812558-brian-koser">Brian</a> on Goodreads
---
