---
layout: episode
number: 153
title: Flight of the Conchords Songs FEAT. Colten Jernigan
description: Brian and special guest Colten Jernigan share their love of New Zealand comedy musical duo Flight of the Conchords by listening to their ten favorite songs.
date: 2022-03-12
hosts:
  - Brian Koser
  - Colten Jernigan
guests: true
bytes: 48_105_846
duration: '1:20:10'
tags:
  - episodes
  - music

brian:
  host: Brian
  list:
    - title: Friends
      id: LGjPMLGqkPk
    - title: Feel Inside (And Stuff Like That)
      id: gnO75DHfxTA
    - title: We're Both in Love with a Sexy Lady
      id: bte1M8d2Mu4
    - title: Carol Brown
      id: Hz5SFQsLzAg
    - title: Bus Driver's Song
      id: QAh9TRcbi10
    - title: Not Crying
      id: -pVT_mvvZLo
    - title: Think About It
      id: EmLHOGT0v4c
    - title: Jenny
      id: mlYkIJVguCU
    - title: Summer Of 1353
      id: Rv9dpoGbW9U
    - title: Hurt Feelings
      id: yjfSZu246zE

colten:
  host: Colten
  list:
    - title: Robots
      id: 2IPAOxrH7Ro
    - title: Father and Son
      id: i8iK1rhfYpI
    - title: Not Crying
      id: -pVT_mvvZLo
    - title: Business Time
      id: AqZcYPEszN8
    - title: Think About It
      id: EmLHOGT0v4c
    - title: Bus Driver's Song
      id: QAh9TRcbi10
    - title: Hurt Feelings
      id: yjfSZu246zE
    - title: Summer Of 1353
      id: Rv9dpoGbW9U
    - title: The Most Beautiful Girl (In The Room)
      id: 9jLDZjMF3tk
    - title: Hiphopopotamus vs. Rhymenoceros
      id: FArZxLj6DLk
---

{% youtubeList colten %}
{% youtubeList brian %}