---
layout: episode
number: 154
title: Movies 2021
description: Only one-third of the way through 2022 before we talk movies we saw in 2021! That's okay, we talked about most of these in November after we did our scary movie list. You can probably skip this one, to be honest. Unless you want to hear Brian's theory on how No Country for Old Men is a hopeful movie.
date: 2022-04-08
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 28_299_808
duration: '0:47:10'
tags:
  - episodes
  - movies
  - annual

brian:
  host: Brian
  list:
    - title: Prisoners
      slug: prisoners
    - title: The Treasure of the Sierra Madre
      slug: the-treasure-of-the-sierra-madre
    - title: Anatomy of a Murder
      slug: anatomy-of-a-murder
    - title: The Life Aquatic with Steve Zissou
      slug: the-life-aquatic-with-steve-zissou
    - title: No Country for Old Men
      slug: no-country-for-old-men
    - title: Swiss Army Man
      slug: swiss-army-man
    - title: Dune
      slug: dune-2021
    - title: Parasite
      slug: parasite-2019
    - title: Fargo
      slug: fargo
    - title: The Thing
      slug: the-thing

melissa:
  host: Melissa
  list:
    - title: Hunt for the Wilderpeople
      slug: hunt-for-the-wilderpeople
    - title: Ghostbusters
      slug: ghostbusters
    - title: Crazy, Stupid, Love.
      slug: crazy-stupid-love
    - title: No Country for Old Men
      slug: no-country-for-old-men
    - title: The Ballad of Buster Scruggs
      slug: the-ballad-of-buster-scruggs
    - title: Andhadhun
      slug: andhadhun
    - title: My Neighbor Totoro
      slug: my-neighbor-totoro
    - title: The Thing
      slug: the-thing
    - title: Parasite
      slug: parasite-2019
    - title: Dune
      slug: dune-2021
notes:
  - <a href="https://letterboxd.com/bkoser/year/2021/">Brian’s 2021 in review on Letterboxd</a>
  - <a href="https://letterboxd.com/mkoser/">Melissa on Letterboxd</a>
---
{% movieList brian %}
{% movieList melissa %}