---
layout: episode
number: 155
title: Potty Training
description: Melissa's ten best tips for potty training your little tyke. Recorded on Maundy Thursday, but not posted until Easter because of a kidney stone attack! Pray Melissa passes it soon.
date: 2022-04-17
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 29_066_489
duration: '0:48:26'
tags:
  - episodes

melissa:
  host: Melissa
  list:
    - Timing
    - Attitude
    - Preparation
    - Empowering
    - Praise
    - Hydration
    - Baby Steps
    - Incentives
    - Troubleshooting
    - Google It
---
{% list melissa %}