---
layout: episode
number: 156
title: The Top 10 (12) Items from Our Book Poster of Books from The Sci-Fi Christian FEAT. The Sci-Fi Christians
description: Our friends Ben and Matt have a book club, with which Brian has been reading along. Together they rank the 12 books they've read over the past couple years.
date: 2022-10-14
hosts:
  - Brian Koser
  - Ben De Bono
  - Matt Anderson
guests: true
bytes: 45_498_296
duration: '1:15:50'
tags:
  - episodes
  - books

brian:
  host: Brian
  list:
    - title: The Crying of Lot 49
      review: 1952537189
    - title: Robinson Crusoe
      review: 3750418514
    - title: The Maltese Falcon
      review: 4018078026
    - title: Invisible Man
      review: 1819728530
    - title: The Handmaid's Tale
      review: 4784986712
    - title: The Metamorphosis
      review: 1599860776
    - title: On the Road
      review: 4588909271
    - title: Animal Farm
      book: 170448
    - title: A Passage to India
      review: 3893709908
    - title: American Pastoral
      review: 4903577879
    - title: All the King's Men
      review: 1833662262
    - title: Moby Dick
      review: 2801148389
---
{% bookList brian %}

<h2>Matt</h2>
Same books as Brian but in the wrong order

<h2>Ben</h2>
Same books as Brian but in the wrong order