---
layout: episode
number: 157
title: New Year’s Resolutions 2023
description: Start the year with Brian and Melissa! They review 2022 and set some new goals for 2023!
date: 2023-01-06
hosts:
  - Brian
  - Melissa
bytes: 36_730_827
duration: '1:01:13'
tags:
  - episodes
  - personal
  - resolutions
  - annual

brian:
  host: Brian
  list:
    - Read a bunch of books
    - Make exercising a habit
    - Juggle 4 balls for 1 minute
    - Complete the book "You Can Draw in 30 Days"
    - Podcast solo, with Melissa, and with guests
melissa:
  host: Melissa
  list:
    - Keep a strict cleaning schedule for the whole house
    - Paint the house inside, 2 rooms
    - Prepare for owning chickens
    - Compost, garden, and can foods
    - Hang coffee mug racks
---
{% list melissa %}
{% list brian %}

<ul>
<li><a href="https://homesteadingfamily.com/aged-eggnog-recipe/">Aged egg nog recipe</a>
<li><a href="https://schooloftraditionalskills.com/">School of Traditional Skills</a>
<li><a href="https://houseofhumaneletters.com/">House of Humane Letters</a>
<li><a href="https://www.goodreads.com/review/show/4721086907">Juggling for the Complete Klutz</a>
<li><a href="https://www.goodreads.com/book/show/3113980-you-can-draw-in-30-days">You Can Draw in 30 Days: The Fun, Easy Way to Learn to Draw in One Month or Less</a>
</ul>