---
layout: episode
number: 158
title: Films 2022
description: Melissa and Brian discuss their favorite first-time-viewing films of 2022. Brian is now pretentious and calls them films instead of movies. Melissa has an unbelievable list; number 2 will shock you!
date: 2023-01-20
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 42_570_485
duration: '1:10:57'
tags:
  - episodes
  - movies
  - annual

brian:
  host: Brian
  list:
    - title: Police Story
      slug: police-story
    - title: Amélie
      slug: amelie
    - title: Marty
      slug: marty
    - title: Joe Versus the Volcano
      slug: joe-versus-the-volcano
    - title: This Is Spinal Tap
      slug: this-is-spinal-tap
    - title: Fantastic Mr. Fox
      slug: fantastic-mr-fox
    - title: O Brother, Where Art Thou?
      slug: o-brother-where-art-thou
    - title: The Passion of Joan of Arc
      slug: the-passion-of-joan-of-arc
    - title: "The Godfather: Part II"
      slug: the-godfather-part-ii
    - title: The Godfather
      slug: the-godfather

melissa:
  host: Melissa
  list:
    - title: Paddington 2
      slug: paddington-2
    - title: Bringing Up Baby
      slug: bringing-up-baby
    - title: The Fortune Cookie
      slug: the-fortune-cookie
    - title: Room
      slug: room-2015
    - title: Rushmore
      slug: rushmore
    - title: O Brother, Where Art Thou?
      slug: o-brother-where-art-thou
    - title: The Batman
      slug: the-batman
    - title: Boyhood
      slug: boyhood
    - title: Police Story 2
      slug: police-story-2
    - title: Seven Samurai
      slug: seven-samurai
notes:
  - <a href="https://letterboxd.com/bkoser/year/2022/">Brian’s 2022 in review on Letterboxd</a>
  - <a href="https://letterboxd.com/mkoser/">Melissa on Letterboxd</a>
---
{% movieList brian %}
{% movieList melissa %}