---
layout: episode
number: 152
title: Books 2022
description: Another year of books! Brian and Melissa share their top tens and bottom ones from 2022.
date: 2023-01-27
hosts:
  - Brian
  - Melissa
bytes: 
duration: '1:17:55'
tags:
  - episodes
  - books
  - annual

brian:
  host: Brian
  list:
    - title: Magpie Murders
      review: 2016001769
    - title: Pale Fire
      review: 21527802
    - title: Deep Exegesis
      review: 6583819
    - title: The Medieval Mind of C. S. Lewis
      review: 4657437318
    - title: God Emperor of Dune
      review: 4568261469
    - title: The Discarded Image
      review: 4709979986
    - title: The Consolation of Philosophy
      review: 4622039504
    - title: Consider This
      book: 23478488-consider-this
    - title: Hamlet, The Prince of Denmark
      review: 4884154998
    - title: The Wind in the Willows
      review: 1707934671

melissa:
  host: Melissa
  list:
    - title: Polyface Micro / Folks, This Ain't Normal
      review: 4622695654
    - title: The Farthest Shore
      review: 4528042196
    - title: "Washington: A Life"
      review: 4124327681
    - title: Building the Benedict Option
      review: 4964696136
    - title: The Worm Ouroboros
      review: 4512820785
    - title: Hogfather
      review: 4492896588
    - title: The Tombs of Atuan
      review: 4497667752
    - title: The Enchanted April
      review: 4698166378
    - title: Lord of Light
      review: 3790253612
    - title: Jane Eyre
      review: 2979914100

notes:
  - <a href="https://www.goodreads.com/user/show/54340861-melissa">Melissa</a> on Goodreads
  - <a href="https://www.goodreads.com/user/show/4812558-brian-koser">Brian</a> on Goodreads
  - <a href="https://www.youtube.com/watch?v=1vGXfQb1ATw&list=PL_nCprh0nATFhU0FsCjDxiXVCNiyw8gNm&index=1">'The Wind in the Willows' by Kenneth Grahame - Unabridged Theatrical Audiobook</a>
---
{% bookList melissa %}
{% bookList brian %}