---
layout: episode
number: 160
title: Chocolates from This Box of Chocolates
description: You know what translates well to a podcast? Eating. Eating little pieces of chocolate from a box of chocolates from Melissa's brother Michael. Thanks Michael!
date: 2023-02-03
hosts:
  - Brian
  - Melissa
bytes: 35_551_149
duration: '0:59:15'
tags:
  - episodes
  - food

brian:
  host: Brian
  list:
    - Jasmine
    - Loa
    - Lois
    - Poppy
    - Opus
    - Rico
    - Royale
    - Lux
    - Jane
    - Pistachio
melissa:
  host: Melissa
  list:
    - Pistachio
    - Royale
    - Lux
    - Rico
    - Poppy
    - Jasmine
    - Jane
    - Loa
    - Opus
    - Lois

notes:
  - <a href="https://www.bulwer-lytton.com/">The Bulwer-Lytton Fiction Contest</a>
---
{% list brian %}
{% list melissa %}