---
layout: episode
number: 161
title: "Book Review: The Great Gatsby"
description: Brian tries reviewing a book. It went okay maybe? All spoilers for a 98-year-old book.
date: 2023-02-18
hosts:
  - Brian
bytes: 8_334_944
duration: '0:13:53'
tags:
  - episodes
  - books

notes:
  - <a href="https://www.goodreads.com/review/show/4622455700">Goodreads review</a>
---