---
layout: episode
number: 162
title: "Book Review: Mort"
description: Brian's fuller thoughts of the fourth Discworld novel, Mort.
date: 2023-02-24
hosts:
  - Brian Koser
bytes: 4_383_911
duration: '0:07:18'
tags:
  - episodes
  - books

notes:
  - <a href="https://www.goodreads.com/review/show/1165512070">Goodreads review</a>
---