---
layout: episode
number: 163
title: "Book Review: Mrs. Dalloway"
description: Brian's quick thoughts on the novel Mrs. Dalloway.
date: 2023-02-25
hosts:
  - Brian Koser
bytes: 4_326_450
duration: '0:07:12'
tags:
  - episodes
  - books

notes:
  - <a href="https://www.goodreads.com/review/show/1599857460">Goodreads review</a>
---