---
layout: episode
number: 164
title: All-Time Favorite Films 2023
description: For the first time, Brian and Melissa reveal their favorite Hollywood-style video movies!
date: 2023-02-28
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 31_190_258
duration: '0:51:59'
tags:
  - episodes
  - movies

brian:
  host: Brian
  list:
    - title: Spirited Away
      slug: spirited-away
    - title: Seven Samurai
      slug: seven-samurai
    - title: The Godfather
      slug: the-godfather
    - title: The Thing
      slug: the-thing
    - title: Groundhog Day
      slug: groundhog-day
    - title: Hot Fuzz
      slug: hot-fuzz
    - title: "The Lord of the Rings: The Return of the King"
      slug: the-lord-of-the-rings-the-return-of-the-king
    - title: Inception
      slug: inception
    - title: Blade Runner
      slug: blade-runner
    - title: It’s a Wonderful Life
      slug: its-a-wonderful-life
    
melissa:
  host: Melissa
  list:
    - title: Cinderella
      slug: cinderella-2015
    - title: That Darn Cat  
      slug: that-darn-cat
    - title: Gone With the Wind
      slug: gone-with-the-wind
    - title: Hot Fuzz
      slug: hot-fuzz
    - title: Beauty and the Beast
      slug: beauty-and-the-beast-1991
    - title: Scrooge
      slug: scrooge-1970
    - title: Planes, Trains and Automobiles
      slug: planes-trains-and-automobiles
    - title: Pride and Prejudice
      slug: pride-and-prejudice-1995
    - title: "Spider-Man: Into the Spider-Verse"
      slug: spider-man-into-the-spider-verse
    - title: "The Lord of the Rings: The Return of the King"
      slug: the-lord-of-the-rings-the-return-of-the-king
notes:
  - <a href="https://letterboxd.com/bkoser/list/top-ten/">Brian’s list on Letterboxd</a>
---
{% movieList brian %}
{% movieList melissa %}