---
layout: episode
number: 165
title: "Book Reviews: Poetics and Sourcery"
description: For the first time in recorded history, Aristotle's Poetics and Terry Pratchett's Discworld novel Sourcery are reviewed in a single podcast episode.
date: 2023-04-21
hosts:
  - Brian
bytes: 5_935_740
duration: '0:09:38'
tags:
  - episodes
  - books

notes:
  - <a href="https://www.goodreads.com/review/show/5328673241">Poetics review</a>
  - <a href="https://www.goodreads.com/review/show/1165503931">Sourcery review</a>
---