---
layout: episode
number: 166
title: Are AI Alarmists Right?
description: Brian and Melissa discuss the present capabilities and future possibilities of ChatGPT and its artificial "intelligence" brethren, and how alarmists may be wrong with their predictions but right with their warnings.
date: 2023-05-19
hosts:
  - Brian
  - Melissa
bytes: 35_382_499
duration: '0:59:43'
tags:
  - episodes

notes:
  - <a href="https://koser.us/articles/2022/12/13/1/playing-with-chatgpt/">Playing with ChatGPT</a>
  - <a href="https://www.baldurbjarnason.com/">Baldur Bjarnason</a>, an AI skeptic
  - <a href="https://larrysanger.org/">Larry Sanger</a>, an AI optimist
---

{% cdnImage "diffusionBee-seanConneryGandalf.png", metadata.img_cdn_url, "Sean Connery as Gandalf", "DiffusionBee prompt: Sean Connery as Gandalf, Realistic" %}

{% cdnImage "diffusionBee-lewisTolkienSmashingComputer.png", metadata.img_cdn_url, "C. S. Lewis and J. R. R. Tolkien holding sticks", "DiffusionBee prompt: C. S. Lewis and J. R. R. Tolkien smashing a computer with cricket bats, Cartoon" %}

{% cdnImage "diffusionBee-deckardAnime.png", metadata.img_cdn_url, "Two men holding champagne glasses drawn in anime style", "DiffusionBee prompt: Deckard from Blade Runner raising a glass of champagne and winking, Anime" %}

{% cdnImage "diffusionBee-brianCelShading.png", metadata.img_cdn_url, "Brian drawn with cel shading", "DiffusionBee prompt: (starting from a picture of Brian) Cel Shading" %}