---
layout: episode
number: 167
title: They Descended Into Hell FEAT. Matt Koser
description: "Brian and his brother Matt discuss three Christian theological views of hell: infernalism, annihilationism, and universalism."
date: 2023-05-26
hosts:
  - Brian
  - Matt Koser
bytes: 84_457_620
duration: '1:57:18'
tags:
  - episodes
  - theology

notes:
  - <a href="https://www.goodreads.com/review/show/5556557573">That All Shall Be Saved by David Bentley Hart</a>
  - <a href="https://www.goodreads.com/book/show/503501.Hell_Under_Fire">Hell Under Fire</a>
  - <a href="https://www.goodreads.com/user/show/110341498-matt-koser">Follow Matt on Goodreads</a>
  - <a href="https://www.goodreads.com/user/show/110341498-matt-koser">Follow Brian on Goodreads</a>
youtubeNotes:
  - id: X-DfzRSLFP8
    caption: 3 Christian Views of Hell (Preston Sprinkle)
  - id: nemKBJoCoKI
    caption: The Annihilation View of Hell (Preston Sprinkle)
---
