---
layout: episode
number: 168
title: Reasons to Homeschool
description: Brian and Melissa explain why they homeschool
date: 2023-08-04
hosts:
  - Brian
  - Melissa
bytes: 29_914_587
duration: '0:49:54'
tags:
  - episodes
  - education

brian:
  host: Brian
  list:
    - All parents are already homeschooling, because parenting a child is educating a child.
    - The third parties you allow to teach your children should agree with your goals.
    - Content
    - Customize pace
    - Methods
    - One-on-one time
    - Efficient
    - Flexible schedule
    - Cost
    - More time with family
melissa:
  host: Melissa
  list:
    - Control
    - Convenience
    - Variety
    - Influence
    - Fun
---
{% list brian %}
{% list melissa %}