---
layout: episode
number: 169
title: Why Charlotte Mason
description: Brian attempts to explain Charlotte Mason's 20 principles that undergird her philosophy of education.
date: 2023-09-01
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 30_794_068
duration: '0:42:46'
tags:
  - episodes
  - education
notes:
  - <a href="https://amblesideonline.org/">Ambleside Online</a>, a Charlotte Mason curriculum
  - AO's <a href="https://amblesideonline.org/cm-intro">Introduction to Charlotte Mason</a>
  - <a href="https://www.goodreads.com/review/show/4730475136">Consider This: Charlotte Mason and the Classical Tradition</a> by Karen Glass
  - <a href="https://thenewmasonjar.com/">The New Mason Jar</a> podcast
---
