---
layout: episode
number: 170
title: We Affirm One Baptism FEAT Matt Koser
description: "Brian is rejoined by his brother Matt for a discussion of baptism: credo or paedo? What does baptism do? What constitutes a valid baptism? No questions are answered, but a rousing time was, again, had."
date: 2023-09-30
hosts:
  - Brian
  - Matt Koser
bytes: 75_005_262
duration: '1:44:10'
tags:
  - episodes
  - theology

notes:
  - Matt's review of <a href="https://www.goodreads.com/review/show/3656005582"><i>Understanding Four Views on Baptism</i></a>
  - Brian's review of <a href="https://www.goodreads.com/review/show/4836663347"><i>The Baptized Body</i></a>
  - <a href="https://biblehub.com/1_corinthians/7-14.htm">1 Corinthians 7:14</a>
  - <a href="https://biblehub.com/parallel/romans/6.htm">Romans 6:3-4</a>
  - <a href="https://www.goodreads.com/user/show/110341498-matt-koser">Follow Matt on Goodreads</a>
  - <a href="https://www.goodreads.com/user/show/110341498-matt-koser">Follow Brian on Goodreads</a>
youtubeNotes:
  - id: X3msUZ-Ijyw
    caption: "Baptism in the Early Church: A Baptist Response (Gavin Ortlund)"
  - id: C4BoIc2-P8M
    caption: "Baptismal Regeneration: Responding to Common Arguments (Gavin Ortlund)"
---
