---
layout: episode
number: 171
title: Thoughts on Connection
description: Melissa shares ideas on how we can be less lonely, isolated, and fragmented.
date: 2023-10-20
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 15_509_813
duration: '0:25:55'
tags:
  - episodes
---
