---
layout: episode
number: 172
title: Christmas Films 2023 FEAT. The Sci-Fi Christians
description: Brian and Melissa welcome back Ben De Bono and Matt Anderson to discuss some of our favorite Christmas films.
date: 2023-12-20
hosts:
  - Brian Koser
  - Melissa Koser
  - Ben De Bono
  - Matt Anderson
guests: true
bytes: 45_498_296
duration: '0:43:44'
tags:
  - episodes
  - movies

brian:
  host: Brian
  list:
    - title: We're No Angels
      slug: were-no-angels
    - title: Die Hard
      slug: die-hard
    - title: A Christmas Story
      slug: a-christmas-story-1983
    - title: The Muppet Christmas Carol
      slug: the-muppet-christmas-carol
    - title: It's A Wonderful Life
      slug: its-a-wonderful-life

melissa:
  host: Melissa
  list:
    - title: We're No Angels
      slug: were-no-angels
    - title: How the Grinch Stole Christmas
      slug: how-the-grinch-stole-christmas
    - title: Die Hard
      slug: die-hard
    - title: It's A Wonderful Life
      slug: its-a-wonderful-life
    - title: Scrooge
      slug: scrooge-1970

matt:
  host: Matt
  list:
    - title: You've Got Mail
      slug: youve-got-mail
    - title: Die Hard
      slug: die-hard
    - title: It's A Wonderful Life
      slug: its-a-wonderful-life
    - title: Elf
      slug: elf
    - title: White Christmas
      slug: white-christmas

ben:
  host: Ben
  list:
    - title: How the Grinch Stole Christmas
      slug: how-the-grinch-stole-christmas
    - title: Die Hard
      slug: die-hard
    - title: It's A Wonderful Life
      slug: its-a-wonderful-life
    - title: Fanny &amp; Alexander
      slug: fanny-and-alexander
    - title: Eyes Wide Shut
      slug: eyes-wide-shut
notes:
  - <a href="https://letterboxd.com/bkoser/">Brian’s ranked 20 on Letterboxd</a>
  - <a href="https://letterboxd.com/mkoser/">Melissa on Letterboxd</a>
  - <a href="https://letterboxd.com/manderson555/list/the-christmas-movie-countdown/">Matt’s 75 favorite Christmas films on Letterboxd</a>
  - <a href="https://letterboxd.com/bendebono/">Ben on Letterboxd</a>
---
{% movieList matt %}
{% movieList ben %}
{% movieList brian %}
{% movieList melissa %}