---
layout: episode
number: 173
title: Goals 2024
description: Not quite New Year's resolutions, but Brian and Melissa discuss plans for the new year, the year of our Lord 2024.
date: 2024-01-13
hosts:
  - Brian
  - Melissa
bytes: 43_373_617
duration: '1:00:14'
tags:
  - episodes
  - personal
  - resolutions
  - annual

brian:
  host: Brian
  list:
    - Podcasting, podcast equipment
    - Classes
    - Website work
    - Half marathon, one other regular excercise
    - Estudiar Español
melissa:
  host: Melissa
  list:
    - Grind flour and nut butters
    - Seasonal menu and preserving
    - One month stock of food, one week stock of water
    - Herb garden
    - Chickens
---
{% list melissa %}
{% list brian %}








M:
