---
layout: episode
number: 174
title: Books 2023
description: Brian and Melissa share their favorite reads and re-reads of 2023.
date: 2024-02-23
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 53_773_126
duration: '1:10:15'
tags:
  - episodes
  - books
  - annual

brian:
  host: Brian
  list:
    - title: The Baptized Body
      review: 4836663347
    - title: The Language of Creation
      review: 4854935651
    - title: The Mind of the Maker
      review: 5935132457
    - title: The Heart of the Matter
      review: 5586698534
    - title: The Taming of the Shrew
      review: 5948260630
    - title: The Confessions
      review: 1599819026
    - title: One Flew Over the Cuckoo's Nest
      review: 4638098390
    - title: The Code of the Woosters
      review: 4669683003
    - title: The Man Who Was Thursday
      review: 2273671686
    - title: The Life and Opinions of Tristram Shandy, Gentleman
      review: 3382140110

melissa:
  host: Melissa
  list:
    - title: The Rooted Life
      review: 5691860211
    - title: Old-Fashioned On Purpose
      review: 5875644501
    - title: 100 Cupboards
      review: 5284398230
    - title: Mr. Popper's Penguins
      review: 2173917525
    - title: Roxaboxen
      review: 5414881265
    - title: Witches Abroad
      review: 6050426550
    - title: Heretics of Dune
      review: 5414855519
    - title: Thud!
      review: 3432793270
    - title: Raising Demons
      review: 3496034526
    - title: Snuff
      review: 3432794245

notes:
  - <a href="https://www.goodreads.com/user/show/54340861-melissa">Melissa</a> on Goodreads
  - <a href="https://www.goodreads.com/user/show/4812558-brian-koser">Brian</a> on Goodreads
---
{% bookList melissa %}
{% bookList brian %}
