---
layout: episode
number: 175
title: Films 2023
description: Brian and Melissa compare their favorite films they saw for the first time last year, 2023.
date: 2024-03-08
hosts:
  - Brian
  - Melissa
bytes: 42_314_344
duration: '0:55:20'
tags:
  - episodes
  - movies
  - annual

brian:
  host: Brian
  list:
    - title: The Elephant Man
      slug: the-elephant-man
    - title: There Will Be Blood
      slug: there-will-be-blood
    - title: West Side Story
      slug: west-side-story
    - title: Popeye
      slug: popeye
    - title: We're No Angels
      slug: were-no-angels
    - title: His Girl Friday
      slug: his-girl-friday
    - title: PlayTime
      slug: playtime
    - title: The Assassination of Jesse James by the Coward Robert Ford
      slug: the-assassination-of-jesse-james-by-the-coward-robert-ford
    - title: Paths of Glory
      slug: paths-of-glory
    - title: The Blues Brothers
      slug: the-blues-brothers

melissa:
  host: Melissa
  list:
    - title: The Elephant Man
      slug: the-elephant-man
    - title: We're No Angels
      slug: were-no-angels
    - title: Romantics Anonymous
      slug: romantics-anonymous
    - title: Knives Out
      slug: knives-out-2019
    - title: Beyond the Infinite Two Minutes
      slug: beyond-the-infinite-two-minutes
    - title: Quick Change
      slug: quick-change
    - title: Paths of Glory
      slug: paths-of-glory
    - title: Aguirre, the Wrath of God
      slug: aguirre-the-wrath-of-god
    - title: Jane Eyre
      slug: jane-eyre-2006
    - title: Gladiator
      slug: gladiator-2000
notes:
  - <a href="https://letterboxd.com/bkoser/year/2023/">Brian’s 2023 in review on Letterboxd</a>
  - <a href="https://letterboxd.com/mkoser/">Melissa on Letterboxd</a>
---
{% movieList melissa %}
{% movieList brian %}
