---
layout: episode
number: 177
title: Midway In Our Life's Journey
description: Brian reveals secret goals he wanted to achieve by age 35.
date: 2024-07-26
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 9_592_289
duration: '0:12:32'
tags:
  - episodes
---
