---
layout: episode
number: 178
title: Ambleside Online
description: Brian and Melissa talk through Ambleside Online, a free Charlotte Mason curriculum, and what a normal homeschool day is like for the Kosers.
date: 2024-10-02
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 38_385_751
duration: '0:49:40'
tags:
  - episodes
  - education
notes:
  - <a href="https://amblesideonline.org/">Ambleside Online</a>, a Charlotte Mason curriculum
  - AO's <a href="https://amblesideonline.org/cm-intro">Introduction to Charlotte Mason</a>
  - <a href="https://www.goodreads.com/review/show/4730475136">Consider This: Charlotte Mason and the Classical Tradition</a> by Karen Glass
  - <a href="https://thenewmasonjar.com/">The New Mason Jar</a> podcast
---
