---
layout: episode
number: 179
title: Apply Sparingly
description: Brian makes a case for fewer sermon applications (and fewer morals at the end of the story).
date: 2024-10-11
hosts:
  - Brian
bytes: 17_720_590
duration: '0:24:37'
tags:
  - episodes
---
