---
layout: episode
number: 180
title: Unsettling Bible Stories
description: For this fall season, Melissa presents ten Bible stories that could have been adapted for The Twilight Zone.
date: 2024-10-25
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 28_192_961
duration: '0:37:17'
tags:
  - episodes
  - christian

melissa:
  host: Melissa
  list:
    - Judas's death (Acts 1:18)
    - Dead saints revived after Jesus dies (Matthew 27:52)
    - The king being told that God has sent a lying spirit into his advisors (1 Kings 22)
    - The 10th plague on Egypt (Exodus 11-12)
    - Cut-Up Concubine (Judges 19-20)
    - Demonic Pigs (Matthew 8:28-34, Luke 8:26-37)
    - Trumpet and Seal Judgments (Revelation 6-11)
    - Samuel's Ghost (1 Samuel 28)
    - Dagon and the Ark of the Covenant (1 Samuel 5)
    - The Seven Sons of Sceva (Acts 19:13-16)
---
{% movieList melissa %}
