---
layout: episode
number: 181
title: Chocolates from This Other Box of Chocolates
description: Due to popular demand (both hosts) we consume another box of chocolates on air. Is this the worst podcast idea we've had? How is this a series? Why hasn't [company name withheld] sponsored this podcast? Ponder these questions and more and you listen to half an hour of chewing sounds. Happy Halloween!
date: 2024-10-31
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 19_277_971
duration: '0:26:28'
tags:
  - episodes
  - food
---
