---
layout: episode
number: 182
title: Top Fourteen Books from These Fourteen Books from the Book Poster of Books FEAT. The Sci-Fi Christians
description: Brian read 14 books. Matt read 14 books. Ben read 14 books. They rank those books.
date: 2024-11-08
hosts:
  - Brian Koser
  - Ben De Bono
  - Matt Anderson
guests: true
bytes: 59_962_112
duration: '1:23:17'
tags:
  - episodes
  - books

brian:
  host: Brian
  list:
    - title: Tropic of Cancer
      review: 5511030097
    - title: Mrs. Dalloway
      review: 1599857460
    - title: The Adventures of Augie March
      review: 3640059024
    - title: Lord of the Flies
      review: 5922214870
    - title: Blood Meridian
      review: 6112617467
    - title: The Sound and the Fury
      book: 10975.The_Sound_and_the_Fury
    - title: The Great Gatsby
      review: 4622455700
    - title: Wuthering Heights
      review: 1599861026
    - title: Heart of Darkness
      review: 1599826492
    - title: Infinite Jest
      review: 1673220857
    - title: The Heart of the Matter
      review: 5586698534
    - title: To Kill a Mockingbird
      review: 1599803097
    - title: One Flew Over the Cuckoo's Nest
      review: 4638098390
    - title: The Life and Opinions of Tristram Shandy, Gentleman
      review: 3382140110

ben:
  host: Ben
  list:
    - title: Mrs. Dalloway
      review: 5263673983
    - title: The Adventures of Augie March
      book: 11908.The_Adventures_of_Augie_March
    - title: Lord of the Flies
      book: 40542121-lord-of-the-flies
    - title: The Sound and the Fury
      book: 10975.The_Sound_and_the_Fury
    - title: The Great Gatsby
      book: 4671.The_Great_Gatsby
    - title: Wuthering Heights
      book: 348914.Wuthering_Heights
    - title: To Kill a Mockingbird
      review: 1570823703
    - title: One Flew Over the Cuckoo's Nest
      review: 5561460638
    - title: Tropic of Cancer
      review: 5424169589
    - title: Heart of Darkness
      book: 1044996.The_Heart_of_the_Matter
    - title: The Life and Opinions of Tristram Shandy, Gentleman
      book: 76527.The_Life_and_Opinions_of_Tristram_Shandy_Gentleman
    - title: The Heart of the Matter
      book: 1044996.The_Heart_of_the_Matter
    - title: Infinite Jest
      review: 2737113642
    - title: Blood Meridian
      review: 6070837273

matt:
  host: Matt
  list:
    - title: The Sound and the Fury
      review: 2804890721
    - title: Blood Meridian
      review: 6033934077
    - title: The Adventures of Augie March
      review: 5697389454
    - title: Mrs. Dalloway
      review: 5218498091
    - title: Tropic of Cancer
      review: 5433734483
    - title: Infinite Jest
      review: 3630515200
    - title: The Great Gatsby
      review: 164870905
    - title: One Flew Over the Cuckoo's Nest
      review: 5603211413
    - title: Wuthering Heights
      review: 5099844357
    - title: Lord of the Flies
      review: 166426786
    - title: To Kill a Mockingbird
      review: 5899566522
    - title: The Life and Opinions of Tristram Shandy, Gentleman
      review: 4972798171
    - title: Heart of Darkness
      review: 5488481132
    - title: The Heart of the Matter
      review: 5227876742
---
{% bookList brian %}

{% bookList ben %}

{% bookList matt %}