---
layout: episode
number: 183
title: Desert Island Books
description: If you could only read 10 books for the rest of your life, which would you choose? Brian and Melissa give the definitive answers.
date: 2024-11-22
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 33_497_658
duration: '0:44:07'
tags:
  - episodes
  - books

brian:
  host: Brian
  list:
    - The Bible
    - The Encyclopedia of Country Living
    - The Divine Comedy
    - Moby-Dick, or The Whale
    - The Complete Works of William Shakespeare
    - Paradise Lost
    - The Wind in the Willows
    - The Lord of the Rings
    - The Top 500 Poems
    - The Language of Creation

melissa:
  host: Melissa
  list:
    - The Bible
    - The Encyclopedia of Country Living
    - The Lord of the Rings
    - ?
    - ?
    - ?
    - ?
    - ?
    - ?
    - ?
---
{% list brian %}

{% list melissa %}