---
layout: episode
number: 184
title: Goals 2025
description: The old year is dead, long live the new year! We briefly discuss 2024 and share plans for 2025.
date: 2025-01-09
hosts:
  - Brian
  - Melissa
bytes: 46_951_199
duration: '1:05:13'
tags:
  - episodes
  - personal
  - resolutions
  - annual

brian:
  host: Brian
  list:
    - House improvements
    - Spanish
    - Re-read books
    - Bible Reading Plan website
    - Marathon
    - Cocktails
    - Longer story
    - Bookbinding
melissa:
  host: Melissa
  list:
    - Memorize family phone numbers
    - Learn Morse codes
    - Sewing projects
    - Memorize location of US states
    - Touch toes
    - 100 days of sitting in the sun for breakfast and lunch
    - Write down recipes, in seasonal order
    - Funeral plan
    - Garden, compost, chickens
    - Finish painting the kitchen
notes:
  - <a href="https://koser.us">Kodex</a>, our family website
  - <a href="https://koser.us/articles/2024/12/19/1/christmas-letter-2024/">Christmas Letter 2024</a>
  - <a href="https://koser.us/articles/2024/05/22/1/for-the-sake-of-arguments/">For the Sake of Arguments</a>, Brian's article about chapter heading summaries
  - <a href="https://incipit.koser.us/">Incipit</a>, the list of Brian's favorite first lines from books
  - <a href="https://www.youtube.com/watch?v=p8W5GCnqT_M">The History of Slipping on Banana Peels</a>, which Brian has not finished and Melissa has not started at time of posting
---
{% list brian %}
{% list melissa %}
