---
layout: episode
number: 185
title: Thoughts From Five Months Ago
description: Melissa shares some thoughts she has ruminated on since last summer.
date: 2025-01-18
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 39_584_634
duration: '0:56:07'
tags:
  - episodes

---
