---
layout: episode
number: 186
title: Chosen in Christ FEAT Matt Koser
description: Brian and his brother Matt start a discussion on election and foreknowledge as presented in two epistles of Sts. Paul and Peter. This episode is available on YouTube, a first for the show.
date: 2025-03-01
hosts:
  - Brian
  - Matt Koser
bytes: 
duration: '0:58:06'
tags:
  - episodes
  - theology

youtubeNotes:
  - id: 7cyH8zYvKR4
    caption: For the first time, this show is available on YouTube
---
