---
layout: episode
number: 187
title: Books 2024
description: Brian and Melissa share their favorite reads and re-reads of 2024.
date: 2025-03-14
hosts:
  - Brian
  - Melissa
bytes: 61_404_919
duration: '1:20:34'
tags:
  - episodes
  - books
  - annual

brian:
  host: Brian
  list:
    - title: Dominion
      review: 3599215496
    - title: 1984
      review: 1599843121
    - title: Jayber Crow
      review: 4169653548
    - title: "Till We Have Faces: A Myth Retold"
      review: 4708081071 
    - title: The Brothers Karamazov
      review: 1599832904
    - title: "In Defense of Sanity: The Best Essays of G.K. Chesterton"
      review: 4957076499
    - title: An Experiment in Criticism
      review: 4704231957
    - title: Infinite Jest
      review: 1673220857
    - title: The Pickwick Papers
      review: 5846507599
    - title: The Silmarillion
      review: 1165506815
    

melissa:
  host: Melissa
  list:
    - title: The Year of No Garbage
      review: 7065494911
    - title: James Acaster's Classic Scrapes
      review: 6345037773
    - title: 84, Charing Cross Road
      review: 6738391190
    - title: Lords and Ladies
      review: 6372001158
    - title: Carpe Jugulum
      review: 6505680296
    - title: The Enchanted Castle
      review: 6227455420
    - title: Maskerade
      review: 6372000450
    - title: The Iliad
      review: 5849581551
    - title: King Arthur and His Knights of the Round Table
      review: 6828780870
    - title: The Adventures of Robin Hood
      review: 7138589664

notes:
  - <a href="https://www.goodreads.com/user/show/54340861-melissa">Melissa</a> on Goodreads
  - <a href="https://www.goodreads.com/user/show/4812558-brian-koser">Brian</a> on Goodreads
  - <a href="https://podcasts.apple.com/gb/podcast/the-rest-is-history/id1537788786">The Rest is History</a> podcast
---
{% bookList brian %}
{% bookList melissa %}
