---
layout: episode
number: 188
title: Films 2024
description: Brian and Melissa cast their minds back to the far reaches of 2024 and share with you their favorite new-to-them films.
date: 2024-03-15
hosts:
  - Brian
  - Melissa
bytes: 45_427_635
duration: '1:00:55'
tags:
  - episodes
  - movies
  - annual

brian:
  host: Brian
  list:
    - title: Steamboat Bill, Jr.
      slug: steamboat-bill-jr
    - title: The Secret of Kells
      slug: the-secret-of-kells
    - title: They Live
      slug: they-live
    - title: One Flew Over the Cuckoo's Nest
      slug: one-flew-over-the-cuckoos-nest
    - title: "Dune: Part Two"
      slug: dune-part-two
    - title: Oppenheimer
      slug: oppenheimer-2023
    - title: The Producers
      slug: the-producers
    - title: Double Indemnity
      slug: double-indemnity
    - title: M
      slug: m
    - title: The Red Shoes
      slug: the-red-shoes

melissa:
  host: Melissa
  list:
    - title: The Secret of Kells
      slug: the-secret-of-kells
    - title: Double Indemnity
      slug: double-indemnity
    - title: A Fish Called Wanda
      slug: a-fish-called-wanda
    - title: Emma
      slug: emma
    - title: The Ladykillers
      slug: the-ladykillers
    - title: M
      slug: m
    - title: An Ideal Husband
      slug: an-ideal-husband-1969
    - title: The Red Shoes
      slug: the-red-shoes
    - title: "Dune: Part Two"
      slug: dune-part-two
    - title: One Flew Over the Cuckoo's Nest
      slug: one-flew-over-the-cuckoos-nest
notes:
  - <a href="https://letterboxd.com/bkoser/year/2024/">Brian’s 2024 in review on Letterboxd</a>
  - <a href="https://letterboxd.com/mkoser/">Melissa on Letterboxd</a>
---
{% movieList melissa %}
{% movieList brian %}
