---
layout: episode
number: 189
title: All-Time Favorite TV Shows 2025
description: For the second time, Brian and Melissa list their favorite shows watchable on the television. Have their lists changed since 2020?
date: 2025-04-21
hosts:
  - Brian
  - Melissa
bytes: 42_438_880
duration: '0:58:57'
tags:
  - episodes
  - tv

brian:
  host: Brian
  list:
    - {"title": "Spongebob Squarepants", "url": "https://www.themoviedb.org/tv/387-spongebob-squarepants"}
    - {"title": "Star Trek", "url": "https://www.themoviedb.org/tv/253-star-trek"}
    - {"title": "Breaking Bad", "url": "https://www.themoviedb.org/tv/1396-breaking-bad"}
    - {"title": "Taskmaster", "url": "https://www.themoviedb.org/tv/63404-taskmaster"}
    - {"title": "Severance", "url": "https://www.themoviedb.org/tv/95396-severance"}
    - {"title": "Horatio Hornblower", "url": "https://www.themoviedb.org/tv/814-hornblower"}
    - {"title": "LOST", "url": "https://www.themoviedb.org/tv/4607-lost"}
    - {"title": "Arrested Development", "url": "https://www.themoviedb.org/tv/4589-arrested-development"}
    - {"title": "Garth Marenghi's Darkplace", "url": "https://www.themoviedb.org/tv/205-garth-marenghi-s-darkplace"}
    - {"title": "Twin Peaks", "url": "https://www.themoviedb.org/tv/1920-twin-peaks"}

melissa:
  host: Melissa
  list:
    - {"title": "Gargoyles", "url": "https://www.themoviedb.org/tv/1719-gargoyles"}
    - {"title": "Angel/Buffy", "url": "https://www.themoviedb.org/tv/2426-angel"}
    - {"title": "One-Punch Man", "url": "https://www.themoviedb.org/tv/63926"}
    - {"title": "The Office", "url": "https://www.themoviedb.org/tv/2316-the-office"}
    - {"title": "Avatar: The Last Airbender", "url": "https://www.themoviedb.org/tv/246-avatar-the-last-airbender"}
    - {"title": "Daredevil", "url": "https://www.themoviedb.org/tv/61889-daredevil"}
    - {"title": "Breaking Bad", "url": "https://www.themoviedb.org/tv/1396-breaking-bad"}
    - {"title": "Severance", "url": "https://www.themoviedb.org/tv/95396-severance"}
    - {"title": "LOST", "url": "https://www.themoviedb.org/tv/4607-lost"}
    - {"title": "Doctor Who", "url": "https://www.themoviedb.org/tv/57243-doctor-who"}
---
{% linkList brian %}
{% linkList melissa %}