---
layout: episode
number: 190
title: "2025 Preview: Beatles, Bugs Bunny, and Botticelli"
description: Brian and Melissa preview a few upcoming episodes.
date: 2025-05-16
hosts:
  - Brian
  - Melissa
bytes: 10_619_329
duration: '0:14:09'
tags:
  - episodes
---
