---
layout: episode
number: 191
title: I Was Wrong About AI
description: Brian shares his current views on AI. The episode title is technically correct.
date: 2025-05-24
hosts:
  - Brian
  - Melissa
bytes: 19_562_048
duration: '0:25:24'
tags:
  - episodes
  - ai
---
