---
layout: episode
number: 192
title: Sola Scriptura Starterpack
description: Brian goes solo for this theology episode about sola scriptura and what it says about the Bible and the Church.
date: 2025-06-04
hosts:
  - Brian Koser
bytes: 26_626_689
duration: '0:34:38'
tags:
  - episodes
  - theology
---
