---
layout: episode
number: 193
title: A Baptist-Catholic Dialog FEAT Judd Baroff
description: Special guest Judd Baroff appears for this discussion of sola scriptura, the Eucharist, Baptists, Catholicism, the non-existence of Protestantism, and more! This episode is available on YouTube.
date: 2025-08-14
hosts:
  - Brian Koser
  - Judd Baroff
guests: true
bytes: 62_489_713
duration: '1:26:47'
video:
  id: FG4jtcDqwXM
tags:
  - episodes
  - theology

notes:
  - 'Judd recommended <i><a href="https://www.goodreads.com/book/show/152601742-this-is-my-body">This is My Body: A Call to Eucharistic Revival</a></i> by Bishop Robert Barron'
  - "Brian referenced Cardinal Ratzinger's letter to the Lutheran Bishop Hanselman in March 1993: \"Besides, I reckon as one of the important results of ecumenical conversations particularly the realization that the question of the Eucharist cannot be restricted to the problem of 'validity'. Even a theology along the lines of the concept of succession, as is in force in the Catholic and in the Orthodox Church, should in no way deny the saving presence of the Lord in the Evangelical Lord's Supper.\" In this context, \"Evangelical\" means \"Lutheran\"."
---
