---
layout: episode
number: 194
title: Professional Wrestlers FEAT Matt Anderson
description: Matt Anderson, who has long been into professional wrestling, rejoins the show to talk to Brian, who has long not been into professional wrestling. What makes this spectacle unique? What makes a good wrestler? And did Brian do any research at all for this list?
date: 2025-10-27
hosts:
  - Brian Koser
  - Matt Anderson
guests: true
bytes: 73_434_708
duration: '1:41:59'
tags:
  - episodes

brian:
  host: Brian
  list:
    - Andre the Giant
    - Booker T
    - Goldberg
    - Mankind
    - Rey Misterio
    - Bret Hart
    - Shawn Michaels
    - Seth Rollins
    - The Undertaker
    - Sting
matt:
  host: Matt Anderson
  list:
    - Hulk Hogan
    - The Undertaker
    - Triple H
    - Kevin Nash and Scott Hall
    - Brock Lesnar
    - Bret Hart
    - Stone Cold Steve Austin
    - Macho Man Randy Savage
    - Kurt Angle
    - Shawn Michaels
---
{% list brian %}
{% list matt %}

