---
layout: episode
number: 195
title: Goals 2026
description: Brian and Melissa wrap up 2025 and begin 2026 with their customary goals, resolutions, attitudes, justifications, and recriminations!
date: 2026-01-03
hosts:
  - Brian
  - Melissa
bytes: 48_832_212
duration: '1:03:16'
tags:
  - episodes
  - personal
  - resolutions
  - annual

brian:
  host: Brian
  list:
    - Learn Spanish
    - Run faster, Get stronger
    - Decorate study
    - Write every day
    - Slow Down, Keep it Small
melissa:
  host: Melissa
  list:
    - Eat breakfast in the breakfast room
    - Learn to use a pressure cooker, pressure canner
    - Paint two rooms
    - Garden
    - Tidy
notes:
  - <a href="https://www.languagetransfer.org/">Language Transfer</a> - Complete Spanish
  - <a href="https://www.goodreads.com/book/show/36626024-speaking-spanish-with-miss-mason-and-fran-ois">Speaking Spanish with Miss Mason and François: Volume 1</a>
  - <a href="https://geotoys.com/collections/geopuzzles/products/geopuzzle-7-in-1-pack">GeoPuzzles</a>, the jigsaw puzzles where the pieces are countries, states, and provinces
---
{% list melissa %}
{% list brian %}
