---
layout: episode
number: 196
title: "Stuff and Momsense 1: Hating on Star Wars FEAT Johanna Wilson"
description: "Harry Potter, Star Trek, Avatar: The Last Airbender, LOST, and much more pop culture gets tied in to Star Wars in Melissa's first episode sans Brian. She is joined by her friend Johanna Wilson!"
date: 2026-01-09
hosts:
  - Melissa Koser
  - Johanna Wilson
guests: true
bytes: 67_815_236
duration: '1:28:16'
tags:
  - episodes
  - movies
---
