---
layout: episode
number: 197
title: Books 2025
description: Brian and Melissa share their favorite new reads of 2025.
date: 2026-01-16
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 53_220_120
duration: '1:08:31'
tags:
  - episodes
  - books
  - annual

brian:
  host: Brian
  list:
    - title: A Portrait of the Artist as a Young Man
      review: 7423843159
    - title: The Sun Also Rises
      review: 4622456325
    - title: The Day of the Locust
      review: 4622466363
    - title: Under the Volcano
      review: 2141746084 
    - title: Going Offline
      review: 4639582901
    - title: The Moonstone
      review: 3036202476
    - title: The Aeneid
      review: 4616630448
    - title: I, Claudius
      review: 4622462056
    - title: The House of Mirth
      review: 7423091294
    - title: Beowulf
      review: 7204879626

melissa:
  host: Melissa
  list:
    - title: The BFG
      review: 7138590494
    - title: Project Hail Mary
      review: 7240739670
    - title: And Away...
      review: 6730021241
    - title: Beyond Labels
      review: 5249895280
    - title: "Attainable Sustainable: The Lost Art of Self-Reliant Living"
      review: 6956323863
    - title: Five Little Peppers and How They Grew
      review: 8146877988
    - title: The Aeneid
      review: 7191185532
    - title: Odyssey
      review: 7689626820
    - title: Troy
      review: 7564623135
    - title: Tales of Ancient Egypt
      review: 8266662483

notes:
  - <a href="https://www.goodreads.com/user/show/54340861-melissa">Melissa</a> on Goodreads
  - <a href="https://www.goodreads.com/user/show/4812558-brian-koser">Brian</a> on Goodreads
---
{% bookList melissa %}
{% bookList brian %}
