---
layout: episode
number: 198
title: Films 2025
description: Brian and Melissa share their favorite films that they watched for the first time in 2025. 
date: 2026-01-30
hosts:
  - Brian
  - Melissa
bytes: 
duration: '1:03:42'
tags:
  - episodes
  - movies
  - annual

brian:
  host: Brian
  list:
    - title: Watch Out, We're Mad
      slug: watch-out-were-mad
    - title: Remember the Night
      slug: remember-the-night
    - title: Pennies From Heaven
      slug: pennies-from-heaven
    - title: Ball of Fire
      slug: ball-of-fire
    - title: Andrei Rublev
      slug: andrei-rublev
    - title: Hundreds of Beavers
      slug: hundreds-of-beavers
    - title: Inside Llewyn Davis
      slug: inside-llewyn-davis
    - title: Excalibur
      slug: excalibur
    - title: The Royal Tenenbaums
      slug: the-royal-tenenbaums
    - title: The Big Lebowski
      slug: the-big-lebowski

melissa:
  host: Melissa
  list:
    - title: Blow Out
      slug: blow-out
    - title: Braveheart
      slug: braveheart
    - title: Remember the Night
      slug: remember-the-night
    - title: Pig
      slug: pig-2021
    - title: Song of the Sea
      slug: song-of-the-sea
    - title: Repeat Performance
      slug: repeat-performance
    - title: Best in Show
      slug: best-in-show
    - title: Hero
      slug: hero-2002
    - title: Escape from New York
      slug: escape-from-new-york
    - title: Flow
      slug: flow-2024
notes:
  - <a href="https://letterboxd.com/bkoser/year/2025/">Brian’s 2025 in review on Letterboxd</a>
  - <a href="https://letterboxd.com/mkoser/">Melissa on Letterboxd</a>
---
{% movieList brian %}
{% movieList melissa %}
