---
layout: episode
number: 199
title: Harry Potter and the Philosopher's Stone
description: Melissa shares her thoughts on the first book and film in the Harry Potter series.
date: 2026-02-15
hosts:
  - Melissa Koser
bytes: 15_250_670
duration: '0:21:10'
tags:
  - episodes
  - books
  - movies
---