---
layout: episode
number: 200
title: Ten to One Episodes
description: Brian and Melissa stroll down memory lane as they list their favorite episodes from the last 100 they've released.
date: 2026-03-27
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 38_994_746
duration: '0:50:20'
tags:
  - episodes

brian:
  host: Brian
  list:
    - title: "Nº 107: Rapsters"
      url:  https://tto.koser.us/episodes/107-rapsters/
    - title: "Nº 118: 372 Adventure"
      url: https://tto.koser.us/episodes/118-372-adventure/
    - title: "Nº 122: The Space Force Will Be With Us and Other News"
      url: https://tto.koser.us/episodes/122-the-space-force-will-be-with-us-and-other-news/
    - title: "Nº 130: Mobile Sushi Restaurants"
      url: https://tto.koser.us/episodes/130-mobile-sushi-restaurants/
    - title: "Nº 132: Books for People that Don't Read Books"
      url: https://tto.koser.us/episodes/132-books-for-people-that-dont-read-books/
    - title: "Nº 160: Chocolates from This Box of Chocolates"
      url: https://tto.koser.us/episodes/160-chocolates-from-this-box-of-chocolates/
    - title: "Nº 166: Are AI Alarmists Right?"
      url: https://tto.koser.us/episodes/166-are-ai-alarmists-right/
    - title: "Nº 168: Reasons to Homeschool"
      url: https://tto.koser.us/episodes/168-reasons-to-homeschool/
    - title: "Nº 176: In the Beginning, Dog: A Comedic Reading of P. D. Eastman's 'Go, Dog. Go!'"
      url: https://tto.koser.us/episodes/176-in-the-beginning-dog-a-comedic-reading-of-pd-eastmans-go-dog-go/
    - title: "Nº 194: Professional Wrestlers FEAT Matt Anderson"
      url: https://tto.koser.us/episodes/194-professional-wrestlers-feat-matt-anderson/
melissa:
  host: Melissa
  list:
    - title: "Nº 171: Thoughts on Connection"
      url: https://tto.koser.us/episodes/171-thoughts-on-connection/
    - title: "Nº 196: Stuff and Momsense 1: Hating on Star Wars FEAT Johanna Wilson"
      url: https://tto.koser.us/episodes/196-stuff-and-momsense-1-hating-on-star-wars-feat-johanna-wilson/
    - title: "Nº 185: Thoughts From Five Months Ago"
      url: https://tto.koser.us/episodes/185-thoughts-from-five-months-ago/
    - title: "Nº 149: Muppet Movies"
      url: https://tto.koser.us/episodes/149-muppet-movies/
    - title: "Nº 118: 372 Adventure"
      url: https://tto.koser.us/episodes/118-372-adventure/
    - title: "Nº 181: Chocolates from This Other Box of Chocolates"
      url: https://tto.koser.us/episodes/181-chocolates-from-this-other-box-of-chocolates/
    - title: "Nº 176: In the Beginning, Dog: A Comedic Reading of P. D. Eastman's 'Go, Dog. Go!'"
      url: https://tto.koser.us/episodes/176-in-the-beginning-dog-a-comedic-reading-of-pd-eastmans-go-dog-go/
    - title: "Nº 123: Pet Names"
      url: https://tto.koser.us/episodes/123-pet-names/
    - title: "Nº 107: Rapsters"
      url:  https://tto.koser.us/episodes/107-rapsters/
    - title: "Nº 138: Love Songs"
      url: https://tto.koser.us/episodes/138-love-songs/

notes:
  - <a href="https://372.koser.us/">372 Adventure</a>
  - <a href="https://futabakun.blogspot.com/2012/06/great-comics-switcheroonie.html">The Great Comics Switcheroonie</a>
---
{% linkList brian %}
{% linkList melissa %}