---
layout: episode
number: 201
title: "Book Review: Moon People 2: Mars Reborn FEAT. Jake Justen"
description: Jake Justen joins the show to discuss the sequel to the best bad book ever written!
date: 2026-04-01
hosts:
  - Brian Koser
  - Jake Justen
guests: true
bytes: 34_754_108
duration: '0:42:41'
video:
  id: QNee95ixlpc
tags:
  - episodes
  - books
---
