---
layout: episode
number: 202
title: "Charlotte Mason Dads: Dcn. Seraphim Richard Rohlin"
description: Brian starts a new series discussing Charlotte Mason with other homeschool dads. Dcn. Seraphim Richard Rohlin appears to discuss how he found CM, what makes a good hagiography, which books in your curriculum should be replaced with medieval bestiaries, and more!
date: 2026-04-14
hosts:
  - Brian Koser
  - Seraphim Rohlin
guests: true
bytes: 43_145_753
duration: '0:58:51'
video:
  id: NUeBjTf4LpA
tags:
  - episodes
  - education

notes:
  - <a href="https://www.ancientfaith.com/podcasts/greattales/">The Great Tales podcast</a>
  - <a href="https://www.ancientfaith.com/podcasts/the-great-rood-screen/">The Great Rood Screen podcast</a>
  - <a href="https://www.youtube.com/playlist?list=PLVX4HUUPrIY_M2uZP3yW6EEiod3fGD6FD">Universal History series on The Symbolic World podcast</a>
  - <a href="https://dallas.saintconstantine.org/">The Saint Constantine School of Dallas</a>
  - <a href="https://tto.koser.us/episodes/168-reasons-to-homeschool/">TTO 168 Why Homeschool</a>
  - <a href="https://tto.koser.us/episodes/169-why-charlotte-mason/">TTO 169 Why Charlotte Mason</a>
  - <a href="https://tto.koser.us/episodes/178-ambleside-online/">TTO 178 Ambleside Online</a>
---
