---
layout: episode
number: 203
title: All-Time Favorite Books 2026
description: Brian and Melissa present, for the second time, their current favorite books.
date: 2026-05-18
hosts:
  - Brian Koser
  - Melissa Koser
bytes: 60_963_044
duration: '1:08:13'
tags:
  - episodes
  - books

brian:
  host: Brian
  list:
    - title: Orthodoxy
      review: 2273671113
    - title: The Discarded Image
      review: 13832137
    - title: The Life and Opinions of Tristram Shandy, Gentleman
      review: 3382140110
    - title: Declare
      review: 1164174837
    - title: Jane Eyre
      review: 3625313973
    - title: The Pickwick Papers
      review: 5846507599
    - title: The Lord of the Rings
      review: 1165503649
    - title: Anathem
      review: 1414441312
    - title: Jonathan Strange &amp; Mr. Norrell
      review: 1164159036
    - title: Moby-Dick, or The Whale
      review: 2801148389

melissa:
  host: Melissa
  list:
    - title: "Astro City, Vol. 4: The Tarnished Angel"
      review: 1421567801
    - title: Captain Blood
      review: 1602920898
    - title: Something Wicked This Way Comes
      review: 2340562653
    - title: Villains By Necessity
      review: 1599866424
    - title: The Anubis Gates
      review: 3194937685
    - title: Night Watch
      review: 2495607705
    - title: The First Fifteen Lives of Harry August
      review: 2569665473
    - title: The Silver Chair
      book: 65641
    - title: Jane Eyre
      review: 2979914100
    - title: The Shadow Rising
      review: 2146763602
    

notes:
  - <a href="https://www.goodreads.com/user/show/4812558-brian-koser">Brian</a> on Goodreads
  - <a href="https://www.goodreads.com/user/show/54340861-melissa">Melissa</a> on Goodreads
---

{% bookList brian %}
{% bookList melissa %}