---
layout: episode
number: 204
title: "Book Review: Transubstantiation"
description: Brian reviews the book Transubstantiation by Dr. Brett Salkeld
date: 2026-05-20
hosts:
  - Brian Koser
bytes: 38_797_075
duration: '0:50:33'
tags:
  - episodes
  - books
---
