---
layout: episode
number: 205
title: "A Baptist-Catholic Dialog 2: Eucharist FEAT Judd Baroff"
description: Judd Baroff returns to discuss the Eucharist, real presence, transubstantiation, how to pronounce Zwingli, and more! The video of this episode is available on YouTube.
date: 2026-05-28
hosts:
  - Brian Koser
  - Judd Baroff
guests: true
bytes: 61_842_926
duration: '1:31:07'
video:
  id: wvyks8yQj7c
tags:
  - episodes
  - theology

notes:
  - <a href="https://juddbaroff.com/">Judd's website juddbaroff.com</a>
  - <a href="http://www.x.com/juddbaroff">Follow Judd on Twitter/X</a>
---
