---
layout: episode
number: 206
title: Top Fifteen Books from the Last Fifteen Books We Read from the Book Poster FEAT. The Sci-Fi Christians
description: Brian rejoins his friends Matt and Ben from The Sci-Fi Christian podcast to rank the books from their last couple years of working through a "best novels" list.
date: 2026-09-11
hosts:
  - Brian Koser
  - Ben De Bono
  - Matt Anderson
guests: true
bytes: 70_091_060
duration: '1:26:54'
tags:
  - episodes
  - books

brian:
  host: Brian
  list:
    - A Portrait of the Artist as a Young Man
    - The Day of the Locust
    - The Sun Also Rises
    - Under the Volcano
    - The Big Sleep
    - I, Claudius
    - Lolita
    - Great Expectations
    - The House of Mirth
    - The Grapes of Wrath
    - The Iliad
    - The Odyssey

ben:
  host: Ben
  list:
    - Naked Lunch
    - Go Tell It On the Mountain
    - Rabbit Run
    - The Day of the Locust
    - The Big Sleep
    - I, Claudius
    - A Portrait of the Artist as a Young Man
    - The House of Mirth
    - Under the Volcano
    - Great Expectations
    - The Grapes of Wrath
    - The Sun Also Rises
    - Lolita
    - The Iliad
    - The Odyssey

matt:
  host: Matt
  list:
    - Lolita
    - Under the Volcano
    - The Day of the Locust
    - The Sun Also Rises
    - The Big Sleep
    - Rabbit Run
    - Go Tell It On the Mountain
    - A Portrait of the Artist as a Young Man
    - The Grapes of Wrath
    - The House of Mirth
    - Great Expectations
    - I, Claudius
    - The Odyssey
    - The Iliad
---
{% list brian %}

{% list ben %}

{% list matt %}