---
layout: base
---
<h1>Episodes</h1>
{%- for episode in collections.episodes | reverse -%}
    <div class="h-entry">
        <a href="{{ episode.url }}" class="p-name">№ {{ episode.data.number }} {{ episode.data.title }}</a>
        <time class="dt-published" datetime='{{ episode.date }}'>{{ episode.date | readableDate }}</time>
    </div>
{%- endfor -%}