---
layout: site
---
<h1>Episodes</h1>

<div class="mini-poster-parent">
    {%- for episode in collections.episodes | reverse -%}
        <div class="mini-poster-container">
            {% episodeMiniPoster episode.data.number, episode.data.title, episode.url %}
        </div>
    {%- endfor -%}
</div>