<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% if number != null %}№ {{ number}} {% endif %} {% if title != null %}{{ title }} ·{% endif %} {{metadata.podcast_name}}</title>
        <meta name="description" content="The home page for Ten to One, the podcast where Melissa and Brian Koser make top ten lists about everything.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/modern-normalize.css" />
        <link rel="stylesheet" href="/css/site.css" />
    </head>
    <body>
        <header class="site-header js-site-nav">
            <div class="header-flex">
                <img alt="" title="Ten to One logo">
                <h1 class="masthead">Ten to One</h1>
                <a id="site-nav-link" href="#site-nav" class="menu-link">{% icon 'menu-hamburger' %} Menu</a>
            </div>
            <nav id="site-nav" class="site-nav js-site-nav">
                <ol>
                    <li><a href="/">{% icon 'property' %} Home</a>
                    <li><a href="/episodes/">{% icon 'microphone' %} Episodes</a>
                    <li><a href="/about/">{% icon 'user-group' %} About</a>
                    <li><a href="/subscribe/">{% icon 'headphones-user' %} Subscribe</a>
                </ol>
                <div class="site-nav-episodes">
                    {% episodeBlock collections.episodes | last, "Latest", metadata.cdn_url %}
                    {# <div><a href="#">Recommended</a></div> #}
                </div>
                <div class="site-nav-footer">
                    <a href="/feed.rss">{% icon 'rss' %} RSS</a>
                    <a href="mailto:tto@koser.us">{% icon 'mail' %} tto@koser.us</a>
                </div>
                </ol>
            </nav>
        </header>
        <main class="site-main">
            {{ content | safe }}
        </main>
        <footer class="site-footer">
            <ol>
                <li>{% icon 'podcast' %} Podcast by <a class="h-card" href="http://koser.us/melissa">Melissa</a> and <a class="h-card" href="http://koser.us/brian">Brian Koser</a>
                <li>{% icon 'design' %} Website by <a class="h-card" href="http://koser.us/brian">Brian Koser</a>
                <li>{% icon 'color-palette' %} Logo by <a class="h-card" href="">Matt Koser</a>
            </ol>
        </footer>
        <script src="/js/site.js"></script>
    </body>
</html>