---
cdn_url: 'ttocdn.koser.us'
site_name: 'Ten to One'
site_url: 'tto.koser.us'
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% if number != null %}№ {{ number}} {% endif %} {% if title != null %}{{ title }} ·{% endif %} {{site_name}}</title>
        <meta name="description" content="The home page for Ten to One, the podcast where Melissa and Brian Koser make top ten lists about everything.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>logo</header>
        <nav>
            <ol>
                <li><a href="#">Episodes</a>
                <li><a href="#">Subscribe</a>
                <li><a href="#">About</a>
                <li><a href="#">Latest</a>
                <li><a href="#">Recommended</a>
                <li><a href="#">RSS</a> · <a href="mailto:tto@koser.us">tto@koser.us</a>
        </nav>
        <main>
            {{ content | safe }}
        </main>
        <footer>
            <ol>
                <li>[icon] Podcast by Melissa and Brian Koser
                <li>[icon] Website by Brian Koser
                <li>[icon] Logo by Matt Koser
            </ol>
        </footer>
    </body>
</html>