<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% if number != null %}№ {{ number}} {% endif %} {% if title != null %}{{ title }} ·{% endif %} {{metadata.podcast_name}}</title>
        <meta name="description" content="The home page for Ten to One, the podcast where Melissa and Brian Koser make top ten lists about everything.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/modern-normalize.css" />
        <link rel="stylesheet" href="/css/site.css" />
    </head>
    <body>
        <header>logo</header>
        <nav>
            <ol>
                <li><a href="/episodes/">Episodes</a>
                <li><a href="/subscribe/">Subscribe</a>
                <li>Latest: {% episodeInline collections.episodes | last, metadata.cdn_url %}
                {# <li><a href="#">Recommended</a> #}
                <li><a href="/feed.rss">RSS</a> · <a href="mailto:tto@koser.us">tto@koser.us</a>
        </nav>
        <main>
            {{ content | safe }}
        </main>
        <footer>
            <ol>
                <li>[icon] Podcast by Melissa and Brian Koser
                <li>[icon] Website by Brian Koser
                <li>[icon] Logo by Matt Koser
            </ol>
        </footer>
        <script src="/js/site.js"></script>
    </body>
</html>