---
layout: site
---
<article class="post h-entry">
    <header>
        <h1 class="post-title p-name">№ {{ number }} {{ title }}</h1>
        <time class="post-date dt-published" datetime='{{ date | machineDate }}'>{{ date | readableDate }}</time>
    </header>
    
    <div class="e-content">
        <audio src="{{ metadata.cdn_url }}/{{ page.fileSlug }}.mp3" preload="metadata" controls>
        </audio>
        
        <p class="description">{{ description }}</p>

        <details class="spoilers">
            <summary>Show Notes (expand)</summary>
            {{ content | safe }}

            {% if notes or youtubeNotes %}
                <h2>Notes</h2>
                
                {% if notes %}
                    <ul>
                    {% for note in notes %}
                        <li>{{note | safe}}
                    {% endfor %}
                    </ul>
                {% endif %}

                {% if youtubeNotes %}
                    <ul class="youtubelist">
                    {% for note in youtubeNotes %}
                        <li>{% youtube note %}
                    {% endfor %}
                {% endif %}

                </ul>
            {% endif %}
        </details>
    
        <div class="feedback">
            <h2>Feedback</h2>
            <p>{% icon 'mail' %} Email <a href="mailto:tto@koser.us">tto@koser.us</a></p>         
            <div class="comments">Comments temporarily disabled with the new design. They will return.</div>
        </div>
    </div>
    
    <footer>
        <nav>
            {% set previousItem = collections.episodes[number - 2] %}
            {% set nextItem = collections.episodes[number] %}

            {% if previousItem %}
                <div class="previous"><a rel="prev" href="{{ previousItem.url }}" >{% icon 'previous' %} № {{ previousItem.data.number }} {{ previousItem.data.title }}</a></div>
            {% endif %}
            {% if nextItem %}
                <div class="next"><a rel="next" href="{{ nextItem.url }}" >№ {{ nextItem.data.number }} {{ nextItem.data.title }} {% icon 'next' %}</a></div>
            {% endif %}
        </nav>
    </footer>
</article>