---
layout: site
credits:
    - A KOSER FAMILY podcast
    - Produced by BRIAN KOSER
    - Logo by MATT KOSER
    - Music by LUKE KOSER
    - Website design by BRIAN KOSER
    - Approved by MELISSA KOSER
    - Available on devices worldwide
    - Garish colors provided by THE CIRCUS
---
<article class="post h-entry">
    <article class="poster js-poster">
        <div class="hosts {{ 'guests' if guests else '' }}">
            {% for host in hosts %}
            <div class="host">
                <svg height="230px">
                    <defs>
                        <path id="hostNamePath" d="M10,60 A 40 15 5 0 1 50 450"/>
                    </defs>
                    <text fill="var(--color-yellow)">
                        <textPath xlink:href="#hostNamePath" class="first">{{host | split(' ') | first }}</textPath>
                        <textPath xlink:href="#hostNamePath" class="last" startOffset="{{ metadata.host_poster_last_name_offset[host] }}">{{host | split(' ') | last }}</textPath>
                    </text>
                </svg>
            </div> 
            {% endfor %}
        </div>

        <section class="number">
            <svg width="100%" height="300">
                <defs>
                    <mask id="text-mask-1" x="0" y="0">
                        <text x="0" y="260">{{number}}</text>
                    </mask>
                </defs>

                <image width="700" xlink:href="/img/poster-number-background8.png" mask="url(#text-mask-1)"/>
            </svg>
        </section>
        <section class="title">
            <div class="in">in</div>
            <div class="title-text-parent">
                <div class="title-text">{{ title }}</div>
            </div>
        </section>
        <section class="contents">
            <div class="js-episode-block">
                <div class="media-buttons js-media-buttons" style="font-size:5em; float:right; padding:0 0.25em;">
                    <div class="play js-media-button"><svg class="icon icon-play"><use xlink:href="/img/icons/orion-sprite.svg#play"></use></svg></div>
                    <div class="pause js-media-button hidden"><svg class="icon icon-pause"><use xlink:href="/img/icons/orion-sprite.svg#pause"></use></svg></div>
                </div>
            </div>
            <span>On devices everywhere <time class="post-date dt-published" datetime='{{ date | setEpisodeReleaseTime | machineDate }}'>{{ date | setEpisodeReleaseTime | readableDate | upper }}</time></span>
            
            <p class="description">{{ description }}</p>
        </section>
        <section class="player">
            <audio src="{{ metadata.mp3_cdn_url }}/{{ page.fileSlug }}.mp3" preload="metadata" controls></audio>
        </section>
        <section class="credits">{{ credits | join(" · ") }}</section>
    </article>
    
    <div class="e-content">
        {% if video %}
            {% youtube video %}
        {% endif %}

        <details class="spoilers">
            <summary>Show Notes (expand)</summary>
            {{ content | safe }}

            {% if notes or youtubeNotes %}
                <h2>Notes</h2>
                
                {% if notes %}
                    <ul>
                    {% for note in notes %}
                        <li>{{note | safe}}
                    {% endfor %}
                    </ul>
                {% endif %}

                {% if youtubeNotes %}
                    <ul class="youtubelist">
                    {% for note in youtubeNotes %}
                        <li>{% youtube note %}
                    {% endfor %}
                {% endif %}

                </ul>
            {% endif %}
        </details>
    
        <div class="feedback">
            <h2>Feedback</h2>
            <p>{% icon 'mail' %} Email <a href="mailto:tto@koser.us">tto@koser.us</a></p>
        </div>
    </div>
    
    <footer>
        <nav>
            {% set previousItem = collections.episodes[number - 2] %}
            {% set nextItem = collections.episodes[number] %}

            {% if previousItem %}
                <div class="previous"><a rel="prev" href="{{ previousItem.url }}" >{% icon 'previous' %} № {{ previousItem.data.number }} {{ previousItem.data.title }}</a></div>
            {% endif %}
            {% if nextItem %}
                <div class="next"><a rel="next" href="{{ nextItem.url }}" >№ {{ nextItem.data.number }} {{ nextItem.data.title }} {% icon 'next' %}</a></div>
            {% endif %}
        </nav>
    </footer>
</article>