---
layout: layouts/base.njk
---
<article class="h-entry">
    <header>
        <h1 class="post-title p-name">№ {{ number }} {{ title }}</h1>
        <time class="post-date dt-published" datetime='{{ date }}'>{{ date }}</time>
    </header>
    
    <div class="e-content">
        <audio src="http://{{ cdn_url }}/{{ slug }}.mp3" preload="metadata" controls>
        </audio>
        
        <p>{{ description }}</p>

        <details class="spoilers">
            <summary>Expand for show notes. Spoilers!</summary>
            {{ content | safe }}
        </details>
    
        <h2>Feedback</h2>
        <p class="contact">
            Email us <a href="mailto:tto@koser.us">tto@koser.us</a> or comment below
        </p>
    </div>
    
    {# <footer>
        <nav>
            {% if page.previous %}
                <a rel="prev" href="{{ page.previous.url }}">« № {{ page.previous.number }} {{ page.previous.title }}</a>
            {% endif %}
            {% if page.next %}
                <a rel="next" href="{{ page.next.url }}">№ {{ page.next.number }} {{ page.next.title }} »</a>
            {% endif %}
        </nav>
    </footer> #}
</article>